Repository ArdentHQ/arkvault, pull requests merged in 2022-11, with the labels that each got.

#231 chore: add labeler and release workflows
  .github/labeler.yml
  .github/release.yml
  .github/workflows/label.yml
Labels: chore

#232 fix: correct expiration estimate for musig transactions
  src/domains/transaction/hooks/use-send-transfer-form.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.contracts.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.helpers.ts
Labels: bugfix

#234 fix: adjust skeleton classes
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/NavigationBar/components/Balance/__snapshots__/Balance.test.tsx.snap
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/app/components/PageSkeleton/__snapshots__/ProfilePageSkeleton.test.tsx.snap
  src/app/components/Skeleton/Skeleton.tsx
  src/app/components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  src/app/components/WalletListItem/WalletListItemSkeleton.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItemSkeleton.test.tsx.snap
  src/domains/dashboard/components/PortfolioBreakdown/__snapshots__/PortfolioBreakdown.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionVotes/__snapshots__/TransactionVotes.test.tsx.snap
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/__snapshots__/NotificationTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/UnlockTokens/blocks/UnlockTokensSelect/__snapshots__/UnlockTokensTotal.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/PortfolioHeader/__snapshots__/PortfolioHeader.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroup.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroupHeader.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroupsList.test.tsx.snap
  src/domains/wallet/components/WalletsList/WalletsList.tsx
  src/domains/wallet/components/WalletsList/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/images/auth-ledger-device-dark.svg
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVoteSkeleton.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletGroupPage/__snapshots__/WalletGroupPage.test.tsx.snap
Labels: bugfix

#235 refactor: adjust responsive rendering of pending transaction row
  src/app/components/Tabs/Tabs.tsx
  src/app/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
Labels: refactor

#233 fix: pending multisignatures using wrong network config
  package.json
  pnpm-lock.yaml
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRowSkeleton.tsx
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/styles/skeletons.css
Labels: bugfix

#237 fix: more adjustments to circle skeletons
  src/domains/news/components/NewsCard/NewsCardSkeleton.tsx
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/NotificationTransactionSkeletonRow.tsx
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/__snapshots__/NotificationTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowSkeleton.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
Labels: bugfix

#245 chore: fix remaining unit tests and coverage
  package.json
  src/app/App.blocks.test.tsx
  src/app/App.blocks.tsx
  src/app/App.test.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Card/Card.test.tsx
  src/app/components/Card/__snapshots__/Card.test.tsx.snap
  src/app/components/Icon/Icon.test.tsx
  src/app/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/app/components/Image/Image.test.tsx
  src/app/components/Image/__snapshots__/Image.test.tsx.snap
  src/app/components/Input/Input.test.tsx
  src/app/components/Input/__snapshots__/Input.test.tsx.snap
  src/app/components/Notifications/NotificationTransactionItem.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/ProfileSyncStatusMessage/ProfileSyncStatusMessage.tsx
  src/app/contexts/Ledger/hooks/connection.test.tsx
  src/app/contexts/Ledger/hooks/scanner.ts
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-theme.ts
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/exchange/pages/Exchange/Exchange.test.tsx
  src/domains/message/hooks/use-message-signer.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.test.tsx
  src/domains/message/pages/SignMessage/SuccessStep.test.tsx
  src/domains/message/pages/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/message/pages/VerifyMessage/VerifyMessage.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.Ledger.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.test.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportProgress/TransactionExportProgress.test.tsx
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.test.tsx
  src/domains/transaction/components/UnlockTokens/UnlockTokensModal.test.tsx
  src/domains/transaction/pages/SendTransfer/LedgerReview.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/components/WalletsGroup/WalletsGroup.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.Methods.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.Mnemonic.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/main.tsx
Labels: chore

#247 chore: fix remaining e2e tests and final adjustments
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/Notifications/hooks/use-notifications.ts
  src/domains/message/pages/VerifyMessage/VerifyMessage.test.tsx
  src/domains/message/pages/VerifyMessage/VerifyMessage.tsx
Labels: chore
