Repository ArdentHQ/arkvault, pull requests merged in 2022-12, with the labels that each got.

#250 fix: change ordering of fields in verify message form
  src/domains/message/i18n.ts
  src/domains/message/pages/VerifyMessage/FormStep.tsx
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
Labels: bugfix

#251 refactor: adjust vertical offset for `Modal`
  .github/workflows/test.yml
  src/app/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/components/Modal/Modal.test.tsx
  src/app/components/Modal/Modal.tsx
  src/app/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/app/components/Modal/hooks.ts
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/QRModal/__snapshots__/QRModal.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/app/hooks/use-input-focus.test.tsx
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/dashboard/components/PortfolioBreakdownDetails/__snapshots__/PortfolioBreakdownDetails.test.tsx.snap
  src/domains/exchange/components/DeleteExchangeTransaction/__snapshots__/DeleteExchangeTransaction.test.tsx.snap
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/ResetProfile/__snapshots__/ResetProfile.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/components/WelcomeModal/__snapshots__/WelcomeModal.test.tsx.snap
  src/domains/setting/components/DevelopmentNetwork/__snapshots__/DevelopmentNetwork.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/UnlockTokenDetail/__snapshots__/UnlockTokenDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
Labels: refactor

#255 chore: update vite dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#260 chore: update `qr-scanner`
  package.json
  pnpm-lock.yaml
Labels: chore

#258 chore: update ledger mock package
  package.json
  pnpm-lock.yaml
Labels: chore

#249 chore: update `i18next` dependencies
  package.json
  pnpm-lock.yaml
  src/app/i18n/index.ts
  src/app/i18n/react-i18next.config.d.ts
Labels: chore

#256 chore: update typescript
  package.json
  pnpm-lock.yaml
Labels: chore

#254 chore: update tailwind
  package.json
  pnpm-lock.yaml
Labels: chore

#261 chore: update linters
  package.json
  pnpm-lock.yaml
  src/app/components/DotNavigation/DotNavigation.tsx
  src/domains/wallet/components/MnemonicList/MnemonicList.tsx
Labels: chore

#262 chore: update react types
  package.json
  pnpm-lock.yaml
Labels: chore

#265 chore: update i18next
  package.json
  pnpm-lock.yaml
Labels: chore

#257 chore: update vitest
  package.json
  pnpm-lock.yaml
Labels: chore

#266 chore: minor & patch version updates
  package.json
  pnpm-lock.yaml
Labels: chore

#268 fix: adjust scrollbar on modal resize
  src/app/components/Modal/hooks.ts
Labels: bugfix

#270 feat: migration banner
  src/app/assets/images/index.ts
  src/app/assets/images/polygon-migration-banner-dark.svg
  src/app/assets/images/polygon-migration-banner-light.svg
  src/app/components/Button/Button.styles.ts
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/components/Migration/MigrationBanner.test.tsx
  src/domains/dashboard/components/Migration/MigrationBanner.tsx
  src/domains/dashboard/components/Migration/__snapshots__/MigrationBanner.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/types/index.ts
Labels: feature

#269 feat: add `Migration` entry to navigation bar
  src/app/__snapshots__/App.test.tsx.snap
  src/app/assets/svg/index.ts
  src/app/assets/svg/sparks.svg
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.blocks.tsx
  src/app/components/NavigationBar/NavigationBar.contracts.ts
  src/app/components/NavigationBar/NavigationBar.styles.ts
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/app/constants/navigation.test.ts
  src/app/constants/navigation.ts
  src/app/i18n/common/i18n.ts
  src/app/i18n/helpers/index.ts
  src/domains/contact/e2e/common.ts
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/Migration/MigrationBanner.tsx
  src/domains/dashboard/i18n.ts
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/exchange/pages/ExchangeView/__snapshots__/ExchangeView.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/migration/i18n.ts
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/Migration/index.ts
  src/domains/migration/routing.ts
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ImportProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Appearance/__snapshots__/Appearance.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Networks/__snapshots__/Networks.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.SecondSignature.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.NetworkSelection.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletGroupPage/__snapshots__/WalletGroupPage.test.tsx.snap
  src/router/PreloadMiddleware.test.ts
  src/router/PreloadMiddleware.tsx
  src/router/paths.ts
  src/router/router.routes.test.ts
  src/router/router.routes.ts
  tailwind.config.js
Labels: feature

#271 feat: empty migration page
  src/app/components/Header/Header.tsx
  src/app/components/Header/__snapshots__/Header.test.tsx.snap
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.blocks.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/migration/i18n.ts
  src/domains/migration/pages/Migration/Migration.blocks.test.tsx
  src/domains/migration/pages/Migration/Migration.blocks.tsx
  src/domains/migration/pages/Migration/Migration.contracts.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/Migration/__snapshots__/Migration.blocks.test.tsx.snap
  src/domains/migration/pages/Migration/__snapshots__/Migration.test.tsx.snap
  src/domains/vote/components/VotesHeader/__snapshots__/VotesHeader.test.tsx.snap
Labels: feature

#272 refactor: add green migration banner
  src/app/assets/images/index.ts
  src/app/assets/images/polygon-migration-banner-light-green.svg
  src/app/assets/images/polygon-migration-banner-light-navy.svg
  src/domains/dashboard/components/Migration/MigrationBanner.tsx
  src/domains/dashboard/components/Migration/__snapshots__/MigrationBanner.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Labels: refactor

#273 feat: add migration disclaimer
  src/domains/migration/components/MigrationDisclaimer/MigrationDisclaimer.test.tsx
  src/domains/migration/components/MigrationDisclaimer/MigrationDisclaimer.tsx
  src/domains/migration/components/MigrationDisclaimer/__snapshots__/MigrationDisclaimer.test.tsx.snap
  src/domains/migration/components/MigrationDisclaimer/index.tsx
  src/domains/migration/i18n.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
Labels: feature
