Repository ArdentHQ/arkvault, pull requests merged in 2023-02, with the labels that each got.

#353 refactor: handle rpc errors
  .env.example
  src/app/components/Notifications/hooks/use-notifications.test.tsx
  src/app/components/Notifications/hooks/use-notifications.ts
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/dashboard/components/Migration/MigrationBanner.tsx
  src/domains/dashboard/components/Migration/__snapshots__/MigrationBanner.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.test.tsx
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.tsx
  src/domains/migration/components/MigrationPendingStep/__snapshots__/MigrationPendingStep.test.tsx.snap
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRow.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRowMobile.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.contracts.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.test.tsx
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
  src/domains/migration/hooks/use-migration-transactions.test.tsx
  src/domains/migration/hooks/use-migration-transactions.ts
  src/domains/migration/i18n.ts
  src/domains/migration/migration.contracts.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/utils.ts
  src/domains/transaction/components/Migration/components/MigrationDetailsModal.test.tsx
  src/domains/transaction/components/Migration/components/MigrationDetailsModal.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.Actions.test.tsx
  src/repositories/migration.repository.ts
  src/utils/polygon-migration.test.ts
  src/utils/polygon-migration.ts
  src/utils/wait-for.test.ts
  src/utils/wait-for.ts
  vitest.setup.ts
Labels: refactor

#362 chore: fix failing snapshots
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
Labels: chore

#363 fix: correct date in pending migration overview
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.test.tsx
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.tsx
  src/domains/migration/components/MigrationPendingStep/__snapshots__/MigrationPendingStep.test.tsx.snap
Labels: bugfix

#364 fix: redirect to success step once confirmed
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
Labels: bugfix

#365 fix: adjust sizes in migration transaction skeleton
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRowSkeleton.tsx
Labels: bugfix

#355 refactor: adjust dropdown container padding
  src/app/components/Card/__snapshots__/Card.test.tsx.snap
  src/app/components/Dropdown/Dropdown.styles.ts
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/app/components/Notifications/MigrationTransactionItem.tsx
  src/app/components/Notifications/MigrationTransactionItemMobile.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/NotificationsDropdown.tsx
  src/app/components/Notifications/NotificationsMigrations.tsx
  src/app/components/Notifications/__snapshots__/MigrationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/Notifications/styles.ts
  src/app/components/SideBar/__snapshots__/SideBar.test.tsx.snap
  src/domains/dashboard/components/Migration/MigrationBanner.tsx
  src/domains/dashboard/components/Migration/__snapshots__/MigrationBanner.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/vote/components/VotesFilter/VotesFilter.tsx
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/components/VotesHeader/VotesHeader.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/WalletsControls/WalletsControls.tsx
Labels: refactor

#360 refactor: load migrations in background + cache
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/hooks/use-contract.test.ts
  src/domains/migration/hooks/use-contract.ts
  src/domains/migration/hooks/use-migration-transactions.test.ts
  src/domains/migration/hooks/use-migration-transactions.test.tsx
  src/domains/migration/hooks/use-migration-transactions.ts
  src/domains/migration/hooks/use-migrations-cache.test.ts
  src/domains/migration/hooks/use-migrations-cache.ts
  src/domains/migration/migration.contracts.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/MigrationOverview/MigrationOverview.tsx
  src/domains/wallet/hooks/use-wallet-actions.ts
  src/repositories/migration.repository.test.ts
  src/repositories/migration.repository.ts
  src/tests/fixtures/coins/ark/devnet/wallets/DNBURNBURNBURNBRNBURNBURNBURKz8StY.json
  src/utils/e2e-utils.ts
  src/utils/polygon-migration.ts
  vitest.setup.ts
Labels: refactor

#367 feat: handle migration transaction flow for musig wallets
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.test.tsx
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.tsx
  src/domains/transaction/components/TransactionSuccessful/MultiSignatureSuccessful.test.tsx
  src/domains/transaction/components/TransactionSuccessful/MultiSignatureSuccessful.tsx
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/MultiSignatureSuccessful.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMigrationDetails.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.Ledger.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.Multisignature.test.tsx
Labels: feature

#368 feat: display migration transaction in pending transactions table
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMigrationDetails.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: feature

#369 feat: adjust migration UI for musig signing modals
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/MigrationPolygonAddress/MigrationPolygonAddress.test.tsx
  src/domains/transaction/components/TransactionDetail/MigrationPolygonAddress/MigrationPolygonAddress.tsx
  src/domains/transaction/components/TransactionDetail/MigrationPolygonAddress/__snapshots__/MigrationPolygonAddress.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/MigrationPolygonAddress/index.ts
  src/domains/transaction/components/TransactionDetail/TransactionAmount/TransactionAmount.tsx
  src/domains/transaction/components/TransactionDetail/index.ts
  src/domains/transaction/components/TransactionSuccessful/MultiSignatureSuccessful.tsx
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/MultiSignatureSuccessful.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: feature

#366 refactor: migration button banner state
  src/domains/dashboard/components/Migration/MigrationBanner.test.tsx
  src/domains/dashboard/components/Migration/MigrationBanner.tsx
Labels: refactor

#370 feat: allow musig wallets to migrate
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.test.tsx
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/MigrationPolygonAddress/MigrationPolygonAddress.test.tsx
  src/domains/transaction/components/TransactionDetail/MigrationPolygonAddress/MigrationPolygonAddress.tsx
  src/domains/transaction/components/TransactionDetail/MigrationPolygonAddress/__snapshots__/MigrationPolygonAddress.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/MigrationPolygonAddress/index.ts
  src/domains/transaction/components/TransactionDetail/TransactionAmount/TransactionAmount.tsx
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.tsx
  src/domains/transaction/components/TransactionDetail/index.ts
  src/domains/transaction/components/TransactionSuccessful/MultiSignatureSuccessful.test.tsx
  src/domains/transaction/components/TransactionSuccessful/MultiSignatureSuccessful.tsx
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/MultiSignatureSuccessful.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMigrationDetails.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.Ledger.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.Multisignature.test.tsx
Labels: feature

#372 fix: update migration transactions upon wallet removal
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/hooks/use-migration-transactions.ts
  src/domains/wallet/hooks/use-wallet-actions.ts
Labels: bugfix

#375 chore: update dependencies
  package.json
  pnpm-lock.yaml
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Graphs/DonutGraph/__snapshots__/DonutGraph.test.tsx.snap
  src/app/components/Graphs/LineGraph/__snapshots__/LineGraph.test.tsx.snap
  src/app/components/Header/__snapshots__/Header.test.tsx.snap
  src/app/components/Input/__snapshots__/InputDate.test.tsx.snap
  src/app/components/Layout/components/Section/Section.tsx
  src/app/components/Layout/components/Section/__snapshots__/Section.test.tsx.snap
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/app/components/PageSkeleton/__snapshots__/ProfilePageSkeleton.test.tsx.snap
  src/app/components/Table/Table.test.tsx
  src/app/components/TimeAgo/TimeAgo.contracts.ts
  src/app/i18n/react-i18next.config.d.ts
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.blocks.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/Migration/MigrationBanner.tsx
  src/domains/dashboard/components/Migration/__snapshots__/MigrationBanner.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/migration/pages/Migration/__snapshots__/Migration.blocks.test.tsx.snap
  src/domains/migration/pages/MigrationAdd/__snapshots__/MigrationAdd.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ImportProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Appearance/__snapshots__/Appearance.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Networks/__snapshots__/Networks.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.SecondSignature.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.NetworkSelection.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateFooter/DelegateFooter.tsx
  src/domains/vote/components/DelegateTable/DelegateFooter/__snapshots__/DelegateFooter.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/components/VotesHeader/__snapshots__/VotesHeader.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletGroupPage/__snapshots__/WalletGroupPage.test.tsx.snap
  src/styles/datepicker.css
Labels: chore

#377 refactor: list musig servers separately
  src/domains/setting/pages/Servers/Servers.test.tsx
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/setting/pages/Servers/blocks/CustomPeers.tsx
  src/domains/setting/pages/Servers/blocks/NodesStatus.tsx
Labels: refactor

#378 fix: adjust bip39 error message in secret validation when importing wallet
  src/domains/wallet/pages/ImportWallet/ImportWallet.Validations.test.tsx
  src/domains/wallet/pages/ImportWallet/MethodStep.tsx
Labels: bugfix

#379 test: add musig mocks in wallet domain
  src/domains/wallet/components/WalletsGroup/WalletsGroup.test.tsx
  src/domains/wallet/components/WalletsList/WalletsList.test.tsx
  src/domains/wallet/pages/WalletGroupPage/WalletGroupPage.test.tsx
Labels: test

#376 chore: update dependencies to major versions
  package.json
  pnpm-lock.yaml
Labels: chore

#380 refactor: remove backslash from urls in env
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/transaction/components/Migration/components/MigrationDetailsModal.test.tsx
  src/domains/transaction/components/Migration/components/MigrationDetailsModal.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/utils/polygon-migration.test.ts
  src/utils/polygon-migration.ts
Labels: refactor
