Repository ArdentHQ/arkvault, pull requests merged in 2023-01, with the labels that each got.

#274 feat: migration step1 metamask (ui)
  .env.example
  .gitignore
  src/app/assets/images/index.ts
  src/app/assets/images/metamask-logo.svg
  src/app/components/Header/Header.tsx
  src/app/components/StepIndicatorAlt/StepIndicatorAlt.test.tsx
  src/app/components/StepIndicatorAlt/StepIndicatorAlt.tsx
  src/app/components/StepIndicatorAlt/__snapshots__/StepIndicatorAlt.test.tsx.snap
  src/app/components/StepIndicatorAlt/index.ts
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.test.tsx
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.tsx
  src/domains/migration/components/MigrationConnectStep/index.ts
  src/domains/migration/components/MigrationStep/MigrationStep.test.tsx
  src/domains/migration/components/MigrationStep/MigrationStep.tsx
  src/domains/migration/components/MigrationStep/index.ts
  src/domains/migration/components/SelectPolygonAddress/SelectPolygonAddress.tsx
  src/domains/migration/components/SelectPolygonAddress/index.ts
  src/domains/migration/i18n.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/migration/pages/MigrationAdd/index.ts
  src/domains/migration/routing.ts
  src/domains/profile/components/SelectAddress/SelectAddress.tsx
  src/domains/profile/components/SelectAddress/__snapshots__/SelectAddress.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/router/paths.ts
  src/router/router.routes.test.ts
Labels: feature

#275 feat: add `EthereumAvatar` component
  package.json
  pnpm-lock.yaml
  src/app/components/Avatar/Avatar.test.tsx
  src/app/components/Avatar/Avatar.tsx
  src/app/components/Avatar/__snapshots__/Avatar.test.tsx.snap
Labels: feature

#281 feat: add url to direct link migration page
  src/app/hooks/use-deeplink.test.tsx
  src/app/hooks/use-deeplink.ts
  src/app/hooks/use-search-parameters-validation.test.ts
  src/app/hooks/use-search-parameters-validation.tsx
  src/domains/profile/i18n.ts
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Labels: feature

#278 feat: metamask mobile handling
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.test.tsx
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.tsx
  src/domains/migration/hooks/use-meta-mask.test.tsx
  src/domains/migration/hooks/use-meta-mask.ts
  src/domains/migration/i18n.ts
Labels: feature

#284 chore: setup dependency update workflow
  .github/workflows/deps.yml
  .ncurc.json
Labels: chore

#282 feat: implement `MigrationSuccessStep`
  src/app/assets/images/index.ts
  src/app/components/StepIndicatorAlt/StepIndicatorAlt.test.tsx
  src/app/components/StepIndicatorAlt/StepIndicatorAlt.tsx
  src/app/components/StepIndicatorAlt/__snapshots__/StepIndicatorAlt.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/migration/components/MigrationStep/MigrationStep.tsx
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.tsx
  src/domains/migration/components/MigrationSuccessStep/index.ts
  src/domains/migration/i18n.ts
  src/domains/migration/images/index.ts
  src/domains/migration/images/migration-success-banner-dark.svg
  src/domains/migration/images/migration-success-banner-light.svg
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
Labels: feature

#280 feat: implement `MigrationReviewStep`
  src/app/assets/images/hexagon-dark.svg
  src/app/assets/images/hexagon-light.svg
  src/app/assets/images/index.ts
  src/app/assets/svg/index.ts
  src/app/assets/svg/minus.svg
  src/app/assets/svg/polygon.svg
  src/domains/migration/components/MigrationAddress/MigrationAddress.tsx
  src/domains/migration/components/MigrationAddress/index.tsx
  src/domains/migration/components/MigrationAmountBox/MigrationAmountBox.test.tsx
  src/domains/migration/components/MigrationAmountBox/MigrationAmountBox.tsx
  src/domains/migration/components/MigrationAmountBox/__snapshots__/MigrationAmountBox.test.tsx.snap
  src/domains/migration/components/MigrationAmountBox/index.ts
  src/domains/migration/components/MigrationAuthenticationStep/MigrationAuthenticationStep.tsx
  src/domains/migration/components/MigrationAuthenticationStep/index.tsx
  src/domains/migration/components/MigrationReviewStep/MigrationReviewStep.blocks.tsx
  src/domains/migration/components/MigrationReviewStep/MigrationReviewStep.test.tsx
  src/domains/migration/components/MigrationReviewStep/MigrationReviewStep.tsx
  src/domains/migration/components/MigrationReviewStep/__snapshots__/MigrationReviewStep.test.tsx.snap
  src/domains/migration/components/MigrationReviewStep/index.tsx
  src/domains/migration/components/MigrationStep/MigrationStep.tsx
  src/domains/migration/hooks/index.ts
  src/domains/migration/hooks/use-migration-form.ts
  src/domains/migration/i18n.ts
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
Labels: feature

#277 feat: migration metamask handling
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/app/components/Spinner/Spinner.styles.ts
  src/app/components/Spinner/Spinner.tsx
  src/app/components/Spinner/__snapshots__/Spinner.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/exchange/pages/ExchangeView/__snapshots__/ExchangeView.test.tsx.snap
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.test.tsx
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.tsx
  src/domains/migration/components/SelectPolygonAddress/SelectPolygonAddress.test.tsx
  src/domains/migration/components/SelectPolygonAddress/SelectPolygonAddress.tsx
  src/domains/migration/hooks/use-meta-mask.test.tsx
  src/domains/migration/hooks/use-meta-mask.ts
  src/domains/migration/i18n.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/profile/pages/ImportProfile/__snapshots__/ProcessingImportStep.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/Ledger/__snapshots__/ListenLedger.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/LedgerConfirmation/__snapshots__/LedgerConfirmation.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  tailwind.config.js
Labels: feature

#287 fix: dep workflow yaml formatting
  .github/workflows/deps.yml
Labels: bugfix

#283 feat: implement `MigrationPendingStep`
  src/domains/migration/components/MigrationAddress/MigrationAddress.tsx
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.tsx
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.tsx
  src/domains/migration/components/MigrationPendingStep/index.tsx
  src/domains/migration/components/MigrationPolygonIcon/MigrationPolygonIcon.tsx
  src/domains/migration/components/MigrationPolygonIcon/index.ts
  src/domains/migration/components/MigrationReviewStep/MigrationReviewStep.tsx
  src/domains/migration/components/MigrationStep/MigrationStep.tsx
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.tsx
  src/domains/migration/hooks/use-migration-form.ts
  src/domains/migration/i18n.ts
  src/domains/migration/images/index.ts
  src/domains/migration/images/migration-pending-banner-arrows.svg
  src/domains/migration/images/migration-pending-banner-dark.svg
  src/domains/migration/images/migration-pending-banner-light.svg
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  tailwind.config.js
Labels: feature

#285 feat: implement `MigrationAuthenticationStep`
  src/domains/migration/components/MigrationAuthenticationStep/MigrationAuthenticationStep.tsx
  src/domains/migration/components/MigrationReviewStep/MigrationReviewStep.tsx
  src/domains/migration/components/MigrationStep/MigrationStep.tsx
  src/domains/migration/hooks/index.ts
  src/domains/migration/hooks/use-authentication-heading.test.ts
  src/domains/migration/hooks/use-authentication-heading.ts
  src/domains/migration/hooks/use-migration-form.ts
  src/domains/migration/hooks/use-migration-transaction.ts
  src/domains/migration/i18n.ts
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
Labels: feature

#286 feat: migration notifications ui
  src/app/assets/images/index.ts
  src/app/assets/images/migration-notification-header-dark.svg
  src/app/assets/images/migration-notification-header-light.svg
  src/app/components/Notifications/MigrationTransactionItem.test.tsx
  src/app/components/Notifications/MigrationTransactionItem.tsx
  src/app/components/Notifications/MigrationTransactionItemMobile.tsx
  src/app/components/Notifications/NotificationTransactionItem.tsx
  src/app/components/Notifications/NotificationTransactionItemMobile.tsx
  src/app/components/Notifications/Notifications.contracts.ts
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/app/components/Notifications/NotificationsMigrations.test.tsx
  src/app/components/Notifications/NotificationsMigrations.tsx
  src/app/components/Notifications/__snapshots__/MigrationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/Notifications/hooks/use-notifications.ts
  src/app/components/Table/Table.tsx
  src/app/components/Table/TableRow.styles.ts
  src/app/components/Table/TableRow.tsx
  src/app/components/Table/__snapshots__/TableRow.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionTable.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRowMobile.test.tsx.snap
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
  src/domains/migration/i18n.ts
  src/domains/profile/cucumber/notifications.ts
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/NotificationTransactionSkeleton.tsx
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/NotificationTransactionSkeletonRow.tsx
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/NotificationTransactionsTable.contracts.ts
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/NotificationTransactionsTable.tsx
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/__snapshots__/NotificationTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowSender.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroup.test.tsx.snap
  src/domains/wallet/components/WalletsList/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/pages/WalletGroupPage/__snapshots__/WalletGroupPage.test.tsx.snap
Labels: feature

#301 chore: try building with increased memory limit
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
Labels: chore

#299 feat: provide utility functions for polygon migration
  .env.example
  src/utils/polygon-migration.test.ts
  src/utils/polygon-migration.ts
Labels: feature

#297 feat: implement migration transaction table row
  src/app/assets/images/hexagon-bold-dark.svg
  src/app/assets/images/hexagon-bold-light.svg
  src/app/assets/images/index.ts
  src/app/components/Amount/AmountLabel.test.tsx
  src/app/components/Amount/AmountLabel.tsx
  src/app/components/Amount/__snapshots__/AmountLabel.test.tsx.snap
  src/app/components/Label/Label.styles.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMigrationDetails.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMigrationDetails.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.contracts.ts
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMode.test.tsx.snap
  src/domains/transaction/hooks/use-transaction.test.tsx
  src/domains/transaction/hooks/use-transaction.ts
  src/domains/transaction/i18n.ts
Labels: feature

#296 feat: polygon migration interaction
  .env.example
  src/app/App.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/Notifications/hooks/use-notifications.test.tsx
  src/app/components/Notifications/hooks/use-notifications.ts
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/app/contexts/Migration/index.ts
  src/app/contexts/index.ts
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-profile-watcher.ts
  src/domains/migration/migration.contracts.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/Migration/__snapshots__/Migration.test.tsx.snap
  src/repositories/migration.repository.test.ts
  src/repositories/migration.repository.ts
  vitest.setup.ts
Labels: feature

#303 feat: migration banner link
  src/domains/dashboard/components/Migration/MigrationBanner.test.tsx
  src/domains/dashboard/components/Migration/MigrationBanner.tsx
  src/domains/dashboard/components/Migration/__snapshots__/MigrationBanner.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Labels: feature

#304 feat: provide all migration variables through migration utility module
  .env.example
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRow.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRowMobile.tsx
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
  src/domains/migration/hooks/use-migration-form.ts
  src/utils/polygon-migration.test.ts
  src/utils/polygon-migration.ts
Labels: feature

#305 chore: update workflow actions
  .github/workflows/build.yml
  .github/workflows/compress.yml
  .github/workflows/deps.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/label.yml
  .github/workflows/test.yml
  scripts/generate-test-workflow.js
Labels: chore

#306 feat: network switch button
  src/app/assets/svg/polygon.svg
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.test.tsx
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.tsx
  src/domains/migration/hooks/use-meta-mask.contracts.ts
  src/domains/migration/hooks/use-meta-mask.test.tsx
  src/domains/migration/hooks/use-meta-mask.ts
  src/domains/migration/i18n.ts
Labels: feature

#308 refactor: filter out wallets with low balance
  .env.example
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.test.tsx
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.tsx
  src/utils/polygon-migration.test.ts
  src/utils/polygon-migration.ts
Labels: refactor

#309 refactor: show skeletons while loading migrations
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRow.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRowMobile.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRowMobileSkeleton.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRowSkeleton.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.contracts.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.test.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.tsx
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/Migration/__snapshots__/Migration.test.tsx.snap
Labels: refactor

#310 refactor: store migration transactions and remove hardcoded
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/hooks/use-migration-transaction.ts
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/repositories/migration.repository.ts
Labels: refactor

#312 refactor: redirect to success step once migration is confirmed
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.test.tsx
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.tsx
  src/domains/migration/components/MigrationSuccessStep/__snapshots__/MigrationSuccessStep.test.tsx.snap
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
Labels: refactor

#313 refactor: use full balance in migration transaction
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.tsx
Labels: refactor

#314 refactor: invalidate migration address in regular transfer flow
  src/domains/transaction/i18n.ts
  src/domains/transaction/validations/SendTransfer.test.tsx
  src/domains/transaction/validations/SendTransfer.ts
Labels: refactor

#321 refactor: add sender avatar to migration transaction table
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRow.tsx
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
Labels: refactor

#324 chore: remove duplicate success image
  src/app/assets/images/index.ts
  src/app/assets/images/migration-notification-header-dark.svg
  src/app/assets/images/migration-notification-header-light.svg
  src/app/components/Notifications/NotificationsMigrations.tsx
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
Labels: chore

#319 refactor: remove tooltip from migration network icon and reduce chevron size
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMigrationDetails.tsx
Labels: refactor

#320 refactor: adjust icon color and tooltip of pending transaction icons
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.test.tsx
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
  src/domains/migration/i18n.ts
  src/domains/migration/migration.contracts.ts
  src/domains/migration/utils.ts
  src/repositories/migration.repository.ts
Labels: refactor

#317 feat: allow mumbai network
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.test.tsx
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.tsx
  src/domains/migration/hooks/use-meta-mask.test.tsx
  src/domains/migration/hooks/use-meta-mask.ts
  src/domains/migration/pages/MigrationAdd/MigrationAdd.Error.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/utils/polygon-migration.test.ts
  src/utils/polygon-migration.ts
Labels: feature

#322 refactor: adjustments to migration icon background color
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMode.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowSender.test.tsx.snap
Labels: refactor

#323 fix: store transaction memo as migration address
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
Labels: bugfix

#316 feat: handle paused contract
  src/app/components/Alert/Alert.styles.ts
  src/app/components/Alert/Alert.test.tsx
  src/app/components/Alert/Alert.tsx
  src/app/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/exchange/components/DeleteExchangeTransaction/__snapshots__/DeleteExchangeTransaction.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/StatusStep.blocks.test.tsx.snap
  src/domains/migration/components/MigrationDisclaimer/__snapshots__/MigrationDisclaimer.test.tsx.snap
  src/domains/migration/components/MigrationErrorStep/__snapshots__/MigrationErrorStep.test.tsx.snap
  src/domains/migration/i18n.ts
  src/domains/migration/pages/Migration/Migration.blocks.test.tsx
  src/domains/migration/pages/Migration/Migration.blocks.tsx
  src/domains/migration/pages/Migration/Migration.contracts.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/components/ResetProfile/__snapshots__/ResetProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProcessingImportStep.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/SelectFileStep.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportError/__snapshots__/TransactionExportError.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportProgress/__snapshots__/TransactionExportProgress.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportSuccess/__snapshots__/TransactionExportSuccess.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/MultiSignatureSuccessful.test.tsx.snap
  src/domains/transaction/components/UnlockTokens/blocks/__snapshots__/UnlockTokensSummary.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/WalletOverviewStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/types/index.ts
Labels: feature

#325 fix: remove duplicated call to `storeTransaction`
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
Labels: bugfix

#326 refactor: sort migrations by timestamp
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.tsx
Labels: refactor

#327 fix: back button bug
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
Labels: bugfix

#329 fix: disable back button based on form state
  src/domains/migration/components/MigrationAuthenticationStep/MigrationAuthenticationStep.test.tsx
  src/domains/migration/components/MigrationConnectStep/MigrationConnectStep.tsx
  src/domains/migration/components/MigrationReviewStep/MigrationReviewStep.test.tsx
  src/domains/migration/hooks/use-migration-form.ts
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
Labels: bugfix

#318 refactor: use actual data for migration overview page
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/dashboard/hooks/use-latest-transactions.test.tsx
  src/domains/dashboard/hooks/use-latest-transactions.ts
  src/domains/migration/hooks/use-migration-transactions.test.tsx
  src/domains/migration/hooks/use-migration-transactions.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/Migration/__snapshots__/Migration.test.tsx.snap
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/repositories/migration.repository.ts
Labels: refactor

#334 chore: update terms link, migration step title & disclaimer text
  src/domains/migration/components/MigrationDisclaimer/__snapshots__/MigrationDisclaimer.test.tsx.snap
  src/domains/migration/components/MigrationPendingStep/__snapshots__/MigrationPendingStep.test.tsx.snap
  src/domains/migration/i18n.ts
  src/domains/profile/components/ProfileForm/ProfileForm.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ImportProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
Labels: chore

#333 perf: optimize migration transaction query
  src/domains/migration/hooks/use-migration-transactions.test.tsx
  src/domains/migration/hooks/use-migration-transactions.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/utils/e2e-utils.ts
Labels: performance

#328 feat: migration details modal
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/i18n.ts
  src/domains/transaction/components/Migration/components/MigrationDetailsModal.test.tsx
  src/domains/transaction/components/Migration/components/MigrationDetailsModal.tsx
  src/domains/transaction/components/Migration/index.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.contracts.ts
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMigrationDetails.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Labels: feature

#337 feat: mark migration notification as read and hide
  src/app/components/Notifications/MigrationTransactionItem.test.tsx
  src/app/components/Notifications/MigrationTransactionItem.tsx
  src/app/components/Notifications/MigrationTransactionItemMobile.tsx
  src/app/components/Notifications/Notifications.contracts.ts
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/NotificationsMigrations.tsx
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/hooks/use-notifications.test.tsx
  src/app/components/Notifications/hooks/use-notifications.ts
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/migration.contracts.ts
  src/repositories/migration.repository.ts
Labels: feature

#335 refactor: improve migration transaction validation
  src/domains/migration/hooks/use-migration-transactions.ts
  src/utils/polygon-migration.test.ts
  src/utils/polygon-migration.ts
Labels: refactor

#315 refactor: fetch polygon transaction ids for confirmed migrations
  .env.example
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.test.tsx
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.tsx
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.test.tsx
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.tsx
  src/domains/migration/components/MigrationSuccessStep/__snapshots__/MigrationSuccessStep.test.tsx.snap
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsRow.tsx
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
  src/domains/migration/hooks/use-migration-transactions.test.tsx
  src/domains/migration/hooks/use-migration-transactions.ts
  src/domains/migration/migration.contracts.ts
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/migration/pages/MigrationDetails/MigrationDetails.test.tsx
  src/domains/migration/pages/MigrationDetails/MigrationDetails.tsx
  src/domains/transaction/components/Migration/components/MigrationDetailsModal.test.tsx
  src/domains/transaction/components/Migration/components/MigrationDetailsModal.tsx
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/utils/polygon-migration.test.ts
  src/utils/polygon-migration.ts
Labels: refactor

#338 fix: adjust case in learn-more button
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/components/Migration/__snapshots__/MigrationBanner.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Labels: bugfix

#330 refactor: add support for removing cached migrations
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/hooks/use-migration-transactions.test.tsx
  src/domains/migration/hooks/use-migration-transactions.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/wallet/components/WalletActionsModals/WalletActionsModals.test.tsx
  src/domains/wallet/components/WalletsGroup/WalletsGroup.test.tsx
  src/domains/wallet/hooks/use-wallet-actions.test.tsx
  src/domains/wallet/hooks/use-wallet-actions.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.Actions.test.tsx
  src/repositories/migration.repository.test.ts
  src/repositories/migration.repository.ts
Labels: refactor

#336 feat: implement pagination in migrations table
  src/app/contexts/Migration/Migration.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.contracts.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.test.tsx
  src/domains/migration/components/MigrationTransactionsTable/MigrationTransactionsTable.tsx
  src/domains/migration/components/MigrationTransactionsTable/__snapshots__/MigrationTransactionsTable.test.tsx.snap
  src/domains/migration/hooks/use-migration-transactions.test.tsx
  src/domains/migration/hooks/use-migration-transactions.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
Labels: feature

#340 refactor: adjust interval on loading migration transactions
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
Labels: refactor

#341 refactor: improve migration tx validation in wallet overview table
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionTable.test.tsx
  src/domains/transaction/hooks/use-transaction.test.tsx
  src/domains/transaction/hooks/use-transaction.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Labels: refactor

#342 fix: remove hardcoded network in notification migration item
  src/app/components/Notifications/MigrationTransactionItem.tsx
Labels: bugfix

#346 chore: adjust external icon styles
  src/app/components/Link/Link.tsx
  src/app/components/Link/__snapshots__/Link.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/dashboard/components/Migration/__snapshots__/MigrationBanner.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/migration/components/MigrationDisclaimer/__snapshots__/MigrationDisclaimer.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ImportProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/components/__snapshots__/TransactionDetailAddressList.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/MultiSignatureSuccessful.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/UnlockTokenDetail/__snapshots__/UnlockTokenDetail.test.tsx.snap
  src/domains/transaction/components/UnlockTokens/blocks/__snapshots__/UnlockTokensSummary.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Labels: chore

#343 fix: hide migration notifications once viewed
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/hooks/use-notifications.test.tsx
  src/app/components/Notifications/hooks/use-notifications.ts
  src/app/contexts/Migration/Migration.test.tsx
  src/app/contexts/Migration/Migration.tsx
  src/repositories/migration.repository.ts
Labels: bugfix

#347 chore: rename back button in migration pending and success steps
  src/app/i18n/common/i18n.ts
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.test.tsx
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.tsx
  src/domains/migration/components/MigrationPendingStep/__snapshots__/MigrationPendingStep.test.tsx.snap
  src/domains/migration/i18n.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/migration/pages/MigrationDetails/MigrationDetails.test.tsx
  src/domains/migration/pages/MigrationDetails/MigrationDetails.tsx
Labels: chore

#348 fix: don't await ledger connection before setting auth step
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
Labels: bugfix

#345 refactor: move migration overview into a separate page
  src/app/components/Notifications/MigrationTransactionItem.test.tsx
  src/app/components/Notifications/MigrationTransactionItem.tsx
  src/app/components/Notifications/NotificationsMigrations.tsx
  src/domains/migration/components/MigrationDetails/MigrationDetails.test.tsx
  src/domains/migration/components/MigrationDetails/MigrationDetails.tsx
  src/domains/migration/components/MigrationDetails/index.tsx
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.test.tsx
  src/domains/migration/components/MigrationPendingStep/MigrationPendingStep.tsx
  src/domains/migration/components/MigrationPendingStep/__snapshots__/MigrationPendingStep.test.tsx.snap
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.test.tsx
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.tsx
  src/domains/migration/components/MigrationSuccessStep/__snapshots__/MigrationSuccessStep.test.tsx.snap
  src/domains/migration/hooks/use-migration-transactions.test.tsx
  src/domains/migration/hooks/use-migration-transactions.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
  src/domains/migration/pages/Migration/Migration.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.test.tsx
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/migration/pages/MigrationDetails/index.ts
  src/domains/migration/pages/MigrationOverview/MigrationOverview.tsx
  src/domains/migration/pages/MigrationOverview/index.ts
  src/domains/migration/routing.ts
  src/router/paths.ts
  src/router/router.routes.test.ts
Labels: refactor

#349 fix: adjust spinner styles
  src/app/components/Spinner/Spinner.styles.ts
  src/app/components/Spinner/Spinner.tsx
  src/app/components/Spinner/__snapshots__/Spinner.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/exchange/pages/ExchangeView/__snapshots__/ExchangeView.test.tsx.snap
  src/domains/migration/components/MigrationAuthenticationStep/__snapshots__/MigrationAuthenticationStep.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProcessingImportStep.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/Ledger/__snapshots__/ListenLedger.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/LedgerConfirmation/__snapshots__/LedgerConfirmation.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Labels: bugfix

#339 fix: await profile sync to finish in migration overview page
  src/domains/migration/hooks/use-migration-transactions.ts
  src/domains/migration/pages/Migration/Migration.test.tsx
Labels: bugfix

#356 refactor: properly truncate polygon id
  src/domains/migration/components/MigrationDetails/MigrationDetails.tsx
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.test.tsx
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.tsx
  src/domains/migration/components/MigrationSuccessStep/__snapshots__/MigrationSuccessStep.test.tsx.snap
  src/domains/migration/pages/MigrationAdd/MigrationAdd.tsx
  src/domains/migration/pages/MigrationAdd/__snapshots__/MigrationAdd.test.tsx.snap
Labels: refactor

#357 refactor: update migration docs url
  src/domains/dashboard/components/Migration/MigrationBanner.tsx
  src/domains/migration/components/MigrationPendingStep/__snapshots__/MigrationPendingStep.test.tsx.snap
  src/utils/polygon-migration.test.ts
  src/utils/polygon-migration.ts
Labels: refactor

#354 refactor: show notification indicator for newly confirmed migrations
  src/app/components/Notifications/hooks/use-notifications.ts
Labels: refactor

#351 fix: show alert message only in small devices in `ErrorStep`
  src/domains/migration/components/MigrationErrorStep/__snapshots__/MigrationErrorStep.test.tsx.snap
  src/domains/transaction/components/ErrorStep/ErrorStep.tsx
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Labels: bugfix

#358 fix: correct polygon avatar in migration success step
  src/domains/migration/components/MigrationSuccessStep/MigrationSuccessStep.tsx
  src/domains/migration/components/MigrationSuccessStep/__snapshots__/MigrationSuccessStep.test.tsx.snap
  src/domains/transaction/components/Migration/components/MigrationDetailsModal.tsx
Labels: bugfix

#359 fix: adjust colors in migration transaction sender icon
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.tsx
Labels: bugfix
