Repository ArdentHQ/arkvault, pull requests merged in 2024-04, with the labels that each got.

#418 feat: add mainsail networks
  .github/workflows/deps.yml
  package.json
  pnpm-lock.yaml
  scripts/install-local-sdk.js
  src/app/contexts/Configuration/Configuration.tsx
  src/domains/setting/pages/Networks/Networks.tsx
  src/domains/setting/pages/Networks/blocks/NetworksList.tsx
  src/domains/transaction/hooks/use-send-transfer-form.ts
  src/utils/environment.ts
  src/utils/network-utils.ts
  src/utils/peers.ts
Labels: feature

#422 refactor: allow signing with signatory for non transfer txs
  src/domains/transaction/hooks/use-send-transfer-form.ts
Labels: refactor

#423 refactor: use signature object for transfer
  src/domains/transaction/hooks/use-send-transfer-form.ts
Labels: refactor

#426 refactor: hide mainsail mainnnet
  src/domains/setting/pages/Networks/Networks.tsx
Labels: refactor

#427 refactor: delegate table username/rank adjustments
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
Labels: refactor

#428 fix: prevent from throwing exception on types in transaction detail
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransferDetail/TransferDetail.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
  src/domains/transaction/i18n.ts
Labels: bugfix

#419 fix: input stepper decrementing issues
  src/domains/transaction/components/InputFee/InputFee.helpers.test.tsx
  src/domains/transaction/components/InputFee/InputFee.helpers.ts
  src/domains/transaction/components/InputFee/blocks/InputFeeAdvanced.tsx
Labels: bugfix

#420 fix: increasing custom fees available balance
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/hooks/use-send-transfer-form.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.contracts.ts
  src/domains/transaction/validations/SendTransfer.ts
Labels: bugfix

#433 refactor: handle username details modals
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/UsernameRegistrationDetail/UsernameRegistrationDetail.test.tsx
  src/domains/transaction/components/UsernameRegistrationDetail/UsernameRegistrationDetail.tsx
  src/domains/transaction/components/UsernameRegistrationDetail/index.ts
  src/domains/transaction/components/UsernameResignationDetail/UsernameResignationDetail.test.tsx
  src/domains/transaction/components/UsernameResignationDetail/UsernameResignationDetail.tsx
  src/domains/transaction/components/UsernameResignationDetail/index.ts
  src/domains/transaction/i18n.ts
Labels: refactor

#437 feat: add mainsail icon to networks
  src/app/assets/svg/currencies/index.ts
  src/app/assets/svg/currencies/mainsail.svg
  src/domains/network/components/NetworkIcon/NetworkIcon.test.tsx
  src/domains/network/components/NetworkIcon/NetworkIcon.tsx
  src/domains/network/components/NetworkIcon/__snapshots__/NetworkIcon.test.tsx.snap
  src/domains/setting/pages/Networks/blocks/NetworksList.tsx
  src/tests/mocks/networks.ts
  src/utils/network-utils.ts
Labels: feature

#438 refactor: add username registration and resignation icons
  src/app/assets/svg/transactions/index.ts
  src/app/assets/svg/transactions/username-registration.svg
  src/app/assets/svg/transactions/username-resignation.svg
  src/domains/transaction/components/TransactionDetail/TransactionResponsiveIcon/TransactionResponsiveIcon.tsx
  src/domains/transaction/components/UsernameRegistrationDetail/UsernameRegistrationDetail.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
Labels: refactor

#430 fix: development mode caching issues
  package.json
  vite.config.ts
Labels: bugfix

#432 refactor: handle usernames UI
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipient.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
  src/domains/transaction/validations/SendVote.ts
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressTable.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.helpers.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
Labels: refactor

#436 refactor: handle validator registration on mainsail
  src/app/hooks/use-validation.ts
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/validations/ValidatorRegistration.test.tsx
  src/domains/transaction/validations/ValidatorRegistration.ts
  src/domains/transaction/validations/index.ts
  src/utils/network-utils.ts
Labels: refactor

#442 fix: improve ledger support checks on networks
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.tsx
  src/utils/network-utils.test.ts
  src/utils/network-utils.ts
Labels: bugfix

#444 fix: missing translation for forging tooltip
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
Labels: bugfix

#446 refactor: adjustments for validator registration and resignation
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.test.tsx
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.tsx
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
  src/domains/transaction/validations/ValidatorRegistration.ts
Labels: refactor

#440 refactor: rename delegate to validators for mainsail
  src/app/hooks/use-validation.ts
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/ConfirmRemovePendingTransaction/ConfirmRemovePendingTransaction.tsx
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/DelegateResignationDetail/DelegateResignationDetail.tsx
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.tsx
  src/domains/transaction/components/TransactionSuccessful/MultiSignatureSuccessful.tsx
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/SummaryStep.tsx
  src/domains/transaction/validations/DelegateRegistration.ts
  src/domains/vote/components/AddressTable/AddressTable.tsx
  src/domains/vote/components/DelegateTable/DelegateFooter/DelegateFooter.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateVoteButton.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.contracts.ts
  src/domains/vote/components/DelegateTable/DelegateTable.helpers.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/components/VotesHeader/VotesHeader.tsx
  src/domains/vote/i18n.ts
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.contracts.ts
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.ts
  src/domains/wallet/utils/selectDelegateValidatorTranslation.ts
Labels: refactor

#447 fix: build errors
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateVoteButton.tsx
  src/domains/vote/pages/Votes/Votes.tsx
Labels: feature

#449 feat: add `TransactionPublicKey` component
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.tsx
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/DelegateResignationDetail/DelegateResignationDetail.tsx
  src/domains/transaction/components/TransactionDetail/TransactionPublicKey/TransactionPublicKey.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionPublicKey/TransactionPublicKey.tsx
  src/domains/transaction/components/TransactionDetail/TransactionPublicKey/__snapshots__/TransactionPublicKey.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionPublicKey/index.ts
Labels: feature

#451 fix: typing errors on username registration validation
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/transaction/validations/UsernameRegistration.ts
  src/utils/debounce.ts
Labels: bugfix

#450 refactor: log stack trace on exceptions
  src/app/App.tsx
Labels: refactor

#445 fix: hide magistrate for mainsail
  src/domains/transaction/hooks/use-transaction-types.ts
Labels: bugfix

#452 fix: refactor ignored delegate registration type issue
  src/app/hooks/use-validation.ts
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/validations/DelegateRegistration.ts
Labels: bugfix

#454 chore: change sdk packages to release version
  package.json
  pnpm-lock.yaml
Labels: chore

#458 fix: collapsible alert dark mode chevron color
  src/app/components/Alert/Alert.styles.ts
  src/app/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Labels: bugfix

#457 fix: ensure advanced fee value is always defined
  src/domains/transaction/components/InputFee/InputFee.tsx
Labels: bugfix

#456 refactor: hide username for validator resignation
  src/domains/transaction/components/DelegateResignationDetail/DelegateResignationDetail.tsx
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/SummaryStep.tsx
Labels: refactor

#461 fix: use correct delegate key in form validation
  src/domains/transaction/validations/DelegateRegistration.ts
Labels: bugfix

#460 refactor: use `TransactionPublicKey` component in tx success screen
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
Labels: refactor

#463 fix: eslint automatic formatting
  src/app/hooks/use-validation.ts
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
  src/domains/transaction/components/UsernameRegistrationDetail/UsernameRegistrationDetail.test.tsx
  src/domains/transaction/components/UsernameRegistrationForm/UsernameRegistrationForm.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendUsernameResignation/SummaryStep.tsx
  src/domains/transaction/validations/UsernameRegistration.ts
  src/domains/transaction/validations/ValidatorRegistration.test.tsx
  src/domains/vote/components/AddressTable/AddressTable.tsx
  src/domains/vote/components/DelegateTable/DelegateFooter/DelegateFooter.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.helpers.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/components/VotesHeader/VotesHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
  src/domains/wallet/utils/selectDelegateValidatorTranslation.ts
  src/utils/debounce.ts
  src/utils/environment.ts
  src/utils/network-utils.test.ts
Labels: bugfix

#462 refactor: adjust network param handling in delegate validation
  src/app/hooks/use-validation.ts
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/validations/DelegateRegistration.ts
Labels: refactor

#464 chore: update psdk dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#431 ci: restore failing test suites
  .github/workflows/test.yml
  src/app/App.tsx
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/contexts/Ledger/hooks/connection.test.tsx
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/exchange/components/DeleteExchangeTransaction/__snapshots__/DeleteExchangeTransaction.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/StatusStep.blocks.test.tsx.snap
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/components/ResetProfile/__snapshots__/ResetProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProcessingImportStep.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/SelectFileStep.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportError/__snapshots__/TransactionExportError.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportProgress/__snapshots__/TransactionExportProgress.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportSuccess/__snapshots__/TransactionExportSuccess.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/MultiSignatureSuccessful.test.tsx.snap
  src/domains/transaction/components/UnlockTokens/blocks/__snapshots__/UnlockTokensSummary.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.MultiPayment.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/WalletOverviewStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  vitest.config.ts
Labels: ci

#465 feat: add transaction pending state
  src/app/components/Spinner/Spinner.styles.ts
  src/app/components/Spinner/Spinner.test.tsx
  src/app/components/Spinner/Spinner.tsx
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.test.tsx
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/components/TransactionSuccessful/hooks/useConfirmedTransaction.test.ts
  src/domains/transaction/components/TransactionSuccessful/hooks/useConfirmedTransaction.ts
  src/domains/transaction/components/UnlockTokens/blocks/__snapshots__/UnlockTokensSummary.test.tsx.snap
  src/domains/transaction/i18n.ts
  src/domains/transaction/images/index.ts
  src/domains/transaction/images/transaction-pending-banner-dark.svg
  src/domains/transaction/images/transaction-pending-banner-light.svg
Labels: feature

#470 chore: update psdk dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#469 refactor: username overwrites ux
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/transaction/components/UsernameRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/UsernameRegistrationForm/UsernameRegistrationForm.tsx
  src/domains/transaction/i18n.ts
Labels: refactor

#473 refactor: always show send icon for multipayment
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.tsx
Labels: refactor

#476 refactor: use timestamp to paginate export query
  src/domains/transaction/components/TransactionExportModal/utils/transaction-exporter.factory.test.ts
  src/domains/transaction/components/TransactionExportModal/utils/transaction-exporter.factory.ts
Labels: refactor

#477 fix: prevent sanitizing issues on currency input
  src/app/components/Input/InputCurrency.tsx
Labels: bugfix

#467 refactor: buttons on error step
  src/domains/message/pages/SignMessage/SignMessage.Ledger.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.tsx
  src/domains/message/pages/VerifyMessage/VerifyMessage.test.tsx
  src/domains/message/pages/VerifyMessage/VerifyMessage.tsx
  src/domains/transaction/components/ErrorStep/ErrorStep.test.tsx
  src/domains/transaction/components/ErrorStep/ErrorStep.tsx
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/UnlockTokens/UnlockTokensModal.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Labels: refactor

#483 fix: handle ledger device not available bug
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/wallet/i18n.ts
Labels: bugfix

#482 fix: username registration back compilation bug
  package.json
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.tsx
Labels: bugfix

#484 chore: update Node to v20
  .github/workflows/build.yml
  .github/workflows/deps.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
  README.md
  package.json
  pnpm-lock.yaml
  scripts/generate-test-workflow.js
Labels: chore

#486 chore: transaction utils coverage
  .github/workflows/test.yml
  src/domains/transaction/utils.test.ts
Labels: chore

#487 chore: contact components code coverage
  .github/workflows/test.yml
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/ContactListItem/ContactListItem.test.tsx
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/components/ContactListMobile/__snapshots__/ContactListItemMobile.test.tsx.snap
  src/domains/contact/components/ContactListMobile/__snapshots__/ContactListMobile.test.tsx.snap
  src/domains/contact/components/CreateContact/CreateContact.test.tsx
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
Labels: chore

#489 chore: transactions A-0 test coverage
  .github/workflows/test.yml
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipientItem.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/AuthenticationStep/Ledger/__snapshots__/ListenLedger.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/components/FeeField/FeeField.test.tsx
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LedgerConfirmation/__snapshots__/LedgerConfirmation.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipantItem.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionPublicKey/TransactionPublicKey.tsx
Labels: chore
