Repository ArdentHQ/arkvault, pull requests merged in 2024-11, with the labels that each got.

#787 refactor: reuse components in musig registration review step
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionMusigParticipants/TransactionMusigParticipants.tsx
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/hooks/use-stub-transaction.test.tsx
  src/domains/transaction/hooks/use-stub-transaction.ts
Labels: refactor

#792 refactor: handle sent to self with multiPayment transactions
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionBlocks.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/i18n.ts
Labels: refactor

#790 fix: display nonce in transaction confirmation screen
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Labels: bugfix

#794 feat: add wallet transactions total count in wallet tabs
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transaction-counts.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transaction-counts.tsx
Labels: feature

#788 refactor: use transaction methods to extract voting info
  package.json
  pnpm-lock.yaml
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/VoteTransactionType/helpers.ts
  src/domains/transaction/hooks/use-transaction-voting-wallets.ts
Labels: refactor

#795 refactor: handle sent to self with return transactions
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionBlocks.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: refactor

#797 refactor: handle total and sent to self for unconfirmed transactions
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionBlocks.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
Labels: refactor

#798 feat: implement new transaction filter design
  package.json
  pnpm-lock.yaml
  src/app/components/Dropdown/Dropdown.contracts.ts
  src/app/components/Dropdown/Dropdown.helpers.tsx
  src/app/components/Dropdown/Dropdown.tsx
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/FilterTransactions/FilterTransactions.test.tsx
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/components/FilterTransactions/use-transaction-type-filters.ts
  src/domains/transaction/components/Transactions/Transactions.test.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/i18n.ts
Labels: feature

#801 fix: sent to self label
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
Labels: bugfix

#804 fix: multipayment tx addressing
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: bugfix

#802 fix: transaction history table
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.helpers.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: bugfix

#805 refactor: label hover style
  src/app/components/Amount/__snapshots__/AmountLabel.test.tsx.snap
  src/app/components/Label/Label.styles.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/UnlockTokens/blocks/UnlockTokensSelect/__snapshots__/UnlockTokensSelect.test.tsx.snap
Labels: refactor

#806 refactor: update three dots icon size
  src/app/components/Card/Card.tsx
  src/app/components/Card/__snapshots__/Card.test.tsx.snap
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/app/components/WalletListItem/WalletListItemSkeleton.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItemSkeleton.test.tsx.snap
  src/domains/contact/components/ContactListMobile/ContactListItemMobile.tsx
  src/domains/contact/components/ContactListMobile/__snapshots__/ContactListItemMobile.test.tsx.snap
  src/domains/contact/components/ContactListMobile/__snapshots__/ContactListMobile.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/profile/components/ProfileRow/ProfileRow.tsx
  src/domains/profile/components/ProfileRow/__snapshots__/ProfileRow.test.tsx.snap
  src/domains/setting/pages/Networks/blocks/CustomNetworksList.tsx
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/setting/pages/Servers/blocks/CustomPeers.tsx
  src/domains/wallet/components/WalletsList/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Labels: refactor

#808 fix: external link hover styling on select delegate page
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: bugfix

#807 fix: exchange table row hover styles
  src/domains/exchange/components/ExchangeTransactionsTable/ExchangeTransactionsRow.tsx
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionTable.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRow.test.tsx.snap
Labels: bugfix

#809 fix: restore filter dropdown shadow
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
Labels: bugfix

#800 refactor: use PSDK methods to show `nonce`
  package.json
  pnpm-lock.yaml
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/UnlockTokens/UnlockTokensModal.test.tsx
  src/domains/transaction/hooks/use-transaction-builder-ledger.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.Encryption.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.Ledger.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.Multisignature.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.SecondSignature.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.Fees.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.Combined.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.Encryption.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.Keyboard.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/tests/fixtures/transactions/index.ts
  src/utils/testing-library.tsx
Labels: refactor

#813 refactor: set accordions opened by default
  src/app/components/Accordion/Accordion.test.tsx
  src/app/components/Accordion/__snapshots__/Accordion.test.tsx.snap
  src/app/hooks/use-accordion.ts
  src/domains/contact/components/ContactListMobile/ContactListItemMobile.test.tsx
  src/domains/contact/components/ContactListMobile/__snapshots__/ContactListItemMobile.test.tsx.snap
  src/domains/contact/components/ContactListMobile/__snapshots__/ContactListMobile.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/Dashboard.WalletActions.test.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/setting/pages/Servers/Servers.test.tsx
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/wallet/components/PortfolioHeader/__snapshots__/PortfolioHeader.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/WalletsGroup.test.tsx
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroup.test.tsx.snap
Labels: refactor

#814 chore: remove `ProfileCard` component
  src/domains/profile/components/ProfileCard/ProfileCard.test.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/index.tsx
Labels: chore

#816 fix: signing of multipayment from musig addresses
  package.json
  pnpm-lock.yaml
Labels: bugfix

#820 fix: flaky transaction test
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.test.tsx
Labels: bugfix

#818 fix: disable transaction type filter when there are no transactions
  src/domains/transaction/components/Transactions/Transactions.test.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/hooks/use-profile-transactions.ts
Labels: bugfix

#821 refactor: add hover styles for transaction type filter
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
Labels: refactor

#815 refactor: store accordion preference
  src/app/components/Accordion/Accordion.test.tsx
  src/app/components/Accordion/__snapshots__/Accordion.test.tsx.snap
  src/app/hooks/use-accordion.ts
  src/domains/contact/components/ContactListMobile/ContactListItemMobile.tsx
  src/domains/setting/pages/Servers/Servers.test.tsx
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/setting/pages/Servers/blocks/CustomPeers.tsx
  src/domains/wallet/components/WalletsGroup/WalletsGroup.contracts.ts
  src/domains/wallet/components/WalletsGroup/WalletsGroup.test.tsx
  src/domains/wallet/components/WalletsGroup/WalletsGroup.tsx
  src/domains/wallet/components/WalletsGroup/WalletsGroupsList.tsx
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroup.test.tsx.snap
Labels: refactor

#826 refactor: adjust font size in transaction detail amount
  src/app/components/Accordion/__snapshots__/Accordion.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionSummary/TransactionSummary.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Labels: refactor

#822 feat: enable mainsail network and set it as default
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  scripts/install-local-sdk.js
  src/app/contexts/Configuration/Configuration.tsx
  src/app/hooks/use-fees.test.tsx
  src/domains/setting/pages/Networks/Networks.tsx
  src/utils/environment.ts
  src/utils/migrations/initialize-mainsail-networks.ts
  src/utils/migrations/remove-ark-networks.ts
Labels: feature

#825 refactor: disable ledger in mainsail
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.WalletActions.test.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/wallet/components/PortfolioHeader/PortfolioHeader.test.tsx
  src/domains/wallet/components/PortfolioHeader/__snapshots__/PortfolioHeader.test.tsx.snap
  src/domains/wallet/components/WalletsControls/WalletsControls.test.tsx
  src/domains/wallet/components/WalletsControls/WalletsControls.tsx
  src/domains/wallet/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroup.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/utils/network-utils.test.ts
  src/utils/network-utils.ts
Labels: refactor

#827 refactor: add BLS public key for validator registration
  src/app/App.test.tsx
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/app/hooks/use-validation.ts
  src/app/i18n/common/i18n.ts
  src/domains/profile/components/DeleteProfile/DeleteProfile.test.tsx
  src/domains/profile/components/Profiles/Profiles.test.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/validations/ValidatorRegistration.test.tsx
  src/domains/transaction/validations/ValidatorRegistration.ts
  src/domains/transaction/validations/index.ts
  src/tests/fixtures/coins/ark/devnet/transactions/delegate-registration.json
  src/tests/fixtures/coins/mainsail/devnet/blockchain.json
  src/tests/fixtures/coins/mainsail/devnet/configuration.json
  src/tests/fixtures/coins/mainsail/devnet/cryptoConfiguration.json
  src/tests/fixtures/coins/mainsail/devnet/node-fees.json
  src/tests/fixtures/coins/mainsail/devnet/peers.json
  src/tests/fixtures/coins/mainsail/devnet/syncing.json
  src/tests/fixtures/coins/mainsail/devnet/wallets/0x8A3117649655714c296cd816691e01C5148922ed.json
  src/tests/fixtures/coins/mainsail/devnet/wallets/not-found.json
  src/tests/fixtures/env/storage.json
  src/tests/mocks/handlers/index.ts
  src/tests/mocks/handlers/mainsail.devnet.ts
  src/tests/mocks/server.ts
  src/utils/testing-library.tsx
Labels: refactor

#831 fix: increase z index in transaction history date dropdown
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/BasicSettings.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/CsvSettings.tsx
Labels: bugfix

#832 fix: correct colors for profile row skeleton in welcome page
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/domains/profile/components/ProfileRow/ProfileRow.tsx
  src/domains/profile/components/ProfileRow/__snapshots__/ProfileRow.test.tsx.snap
Labels: bugfix

#833 chore: merge rc into main
  package.json
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/domains/profile/components/ProfileRow/ProfileRow.tsx
  src/domains/profile/components/ProfileRow/__snapshots__/ProfileRow.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/BasicSettings.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/CsvSettings.tsx
Labels: chore
