Repository ArdentHQ/arkvault, pull requests merged in 2024-06, with the labels that each got.

#505 feat: username deeplink handling
  src/app/hooks/use-search-parameters-validation.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/transaction/components/UsernameRegistrationForm/UsernameRegistrationForm.test.tsx
  src/domains/transaction/components/UsernameRegistrationForm/UsernameRegistrationForm.tsx
  src/domains/transaction/components/UsernameRegistrationForm/__snapshots__/UsernameRegistrationForm.test.tsx.snap
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.contracts.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.QRCode.test.tsx
  src/domains/transaction/routing.ts
  src/router/paths.ts
  src/router/router.routes.test.ts
Labels: feature

#522 refactor: implement musig username registration/resignation
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.test.tsx
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.ts
  vitest.setup.ts
Labels: refactor

#526 test: enable E2E tests
  src/domains/wallet/cucumber/create-wallet.ts
  src/domains/wallet/cucumber/import-wallet.ts
  src/domains/wallet/e2e/common.ts
  src/utils/migrations/initialize-mainsail-networks.test.ts
  src/utils/migrations/initialize-mainsail-networks.ts
Labels: test

#527 chore: update vite dependencies
  package.json
  pnpm-lock.yaml
  src/app/App.blocks.tsx
  vite.config.ts
  vitest.config.ts
Labels: chore

#529 refactor: prevent ark network from caching in migration
  src/utils/migrations/initialize-ark-networks.ts
  src/utils/migrations/update-ark-constants.ts
  src/utils/migrations/update-ark-nethashes.ts
Labels: refactor

#525 refactor: prevent mainsail from caching in migration
  src/utils/migrations/initialize-mainsail-networks.test.ts
  src/utils/migrations/initialize-mainsail-networks.ts
Labels: refactor

#528 test: add E2E tests for mainsail tx types
  package.json
  pnpm-lock.yaml
  src/app/hooks/use-fees.ts
  src/domains/transaction/cucumber/username-registration.feature
  src/domains/transaction/cucumber/username-registration.ts
  src/domains/transaction/cucumber/username-resignation.ts
  src/domains/transaction/cucumber/username.resignation.feature
  src/domains/transaction/cucumber/validator-registration.feature
  src/domains/transaction/cucumber/validator-registration.ts
  src/domains/transaction/cucumber/validator-resignation.ts
  src/domains/transaction/cucumber/validator.resignation.feature
  src/domains/transaction/e2e/common.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/wallet/e2e/common.ts
  src/utils/e2e-utils.ts
Labels: test

#524 refactor: implement musig validator registration/resignation
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
Labels: refactor

#531 refactor: add public key validation
  src/domains/transaction/cucumber/validator-registration.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/validations/ValidatorRegistration.test.tsx
  src/domains/transaction/validations/ValidatorRegistration.ts
Labels: refactor

#533 chore: fix date ranges in transaction export test
  src/domains/transaction/components/TransactionExportModal/TransactionExportError/TransactionExportError.test.tsx
  src/domains/transaction/components/TransactionExportModal/hooks/use-transaction-export.test.ts
Labels: chore

#534 chore: update psdk dependencies
  package.json
  pnpm-lock.yaml
  src/utils/e2e-utils.ts
Labels: chore

#535 refactor: rename switch vote to vote swap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/i18n.ts
Labels: refactor

#532 refactor: make partial exports downloadable
  src/domains/transaction/components/TransactionExportModal/TransactionExportError/TransactionExportError.test.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportError/TransactionExportError.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportModal.contracts.ts
  src/domains/transaction/components/TransactionExportModal/TransactionExportModal.tsx
  src/domains/transaction/components/TransactionExportModal/hooks/use-transaction-export.test.ts
  src/domains/transaction/components/TransactionExportModal/hooks/use-transaction-export.ts
  src/domains/transaction/i18n.ts
Labels: refactor

#539 fix: exit tx confirmation check interval on unmount
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.test.tsx
  src/domains/transaction/components/TransactionSuccessful/hooks/useConfirmedTransaction.test.ts
  src/domains/transaction/components/TransactionSuccessful/hooks/useConfirmedTransaction.ts
  src/domains/transaction/cucumber/delegate-registration.ts
  src/domains/transaction/cucumber/ipfs-transaction.ts
  src/domains/transaction/cucumber/multiple-transfer.ts
  src/domains/transaction/cucumber/single-transfer.ts
  src/domains/transaction/cucumber/username-registration.ts
  src/domains/transaction/cucumber/validator-registration.ts
  src/domains/transaction/cucumber/vote-transaction.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
Labels: bugfix

#541 chore: update github actions
  .github/workflows/build.yml
  .github/workflows/compress.yml
  .github/workflows/deps.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/label.yml
  .github/workflows/test.yml
Labels: chore

#540 chore: ensure memory is enough when building project
  .npmrc
Labels: chore

#536 chore: merge `develop` into `feat/mainsail`
  package.json
  pnpm-lock.yaml
  src/app/App.blocks.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/i18n.ts
  src/domains/vote/components/DelegateTable/DelegateTable.test.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/utils/migrations/initialize-ark-networks.test.ts
  src/utils/migrations/initialize-ark-networks.ts
  src/utils/migrations/update-ark-constants.test.ts
  src/utils/migrations/update-ark-constants.ts
  src/utils/migrations/update-ark-nethashes.ts
  vite.config.ts
  vitest.config.ts
Labels: chore

#549 refactor: adjust ARK Vault name
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
  .github/ISSUE_TEMPLATE/3.refactor_request.yml
  README.md
  index.html
  package.json
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/hooks/use-document-title.test.ts
  src/app/hooks/use-document-title.ts
  src/app/i18n/common/i18n.ts
  src/domains/profile/components/WelcomeModal/__snapshots__/WelcomeModal.test.tsx.snap
  src/domains/profile/i18n.ts
  src/domains/transaction/components/AuthenticationStep/Ledger/__snapshots__/ListenLedger.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/i18n.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/CreateWallet/__snapshots__/WalletOverviewStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/tests/fixtures/env/storage.json
  vite.config.ts
Labels: refactor

#538 fix: allow musig validator transactions for Mainsail network
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.ts
Labels: bugfix

#547 chore: remove babel dependencies
  babel.config.js
  package.json
  pnpm-lock.yaml
  vite.config.ts
Labels: chore

#537 feat: implement overwrite modal
  src/app/assets/svg/arrows/arrow-down.svg
  src/app/assets/svg/arrows/index.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.QRCode.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/TransferOverwriteModal.test.tsx
  src/domains/transaction/pages/SendTransfer/TransferOverwriteModal.tsx
Labels: feature

#550 chore: update deps to latest minor versions
  package.json
  pnpm-lock.yaml
  src/domains/setting/pages/Networks/blocks/CustomNetworksList.tsx
Labels: chore

#554 chore: update psdk to latest version
  package.json
  pnpm-lock.yaml
Labels: chore

#555 test: update transaction pool mocks
  src/domains/transaction/cucumber/username-registration.ts
  src/domains/transaction/cucumber/username-resignation.ts
  src/domains/transaction/cucumber/validator-registration.ts
  src/domains/transaction/cucumber/validator-resignation.ts
Labels: test

#556 chore: update dependencies to minor versions
  package.json
  pnpm-lock.yaml
Labels: chore
