Repository ArdentHQ/arkvault, pull requests merged in 2024-05, with the labels that each got.

#475 refactor: mock interval in transaction success step
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.test.tsx
  src/domains/transaction/components/UnlockTokens/UnlockTokensModal.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.Encryption.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.Fees.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.Keyboard.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
Labels: refactor

#479 refactor: username validation rules
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/transaction/components/UsernameRegistrationForm/__snapshots__/UsernameRegistrationForm.test.tsx.snap
  src/domains/transaction/validations/UsernameRegistration.ts
Labels: refactor

#492 chore: transactions hooks coverage
  .github/workflows/test.yml
  src/domains/transaction/hooks/use-profile-transactions.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/hooks/use-transaction-types.test.tsx
  src/domains/transaction/hooks/use-transaction-url.test.tsx
Labels: chore

#493 chore: transactions validations coverage
  .github/workflows/test.yml
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Common.test.tsx
  src/domains/transaction/validations/SendTransfer.test.tsx
  src/domains/transaction/validations/SendVote.test.tsx
Labels: chore

#491 chore: transactions pages coverage
  .github/workflows/test.yml
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/domains/setting/pages/Networks/Networks.test.tsx
  src/domains/setting/pages/Networks/__snapshots__/Networks.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.SecondSignature.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/LedgerReview.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.QRCode.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.NetworkSelection.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.test.tsx
  src/domains/transaction/pages/SendUsernameResignation/__snapshots__/SendUsernameResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/utils/testing-library.tsx
Labels: chore

#494 chore: domains message test coverage
  .github/workflows/test.yml
  src/domains/message/pages/SignMessage/FormStep.tsx
  src/domains/message/pages/SignMessage/SignMessage.test.tsx
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
Labels: chore

#495 chore: domains wallets utils coverage
  .github/workflows/test.yml
  src/domains/wallet/utils/get-default-alias.test.ts
Labels: chore

#497 chore: domains wallets hooks coverage
  .github/workflows/test.yml
  src/domains/wallet/hooks/use-wallet-actions.test.tsx
  src/domains/wallet/hooks/use-wallet-config.test.tsx
  src/domains/wallet/hooks/use-wallet-sync.test.tsx
Labels: chore

#498 chore: domains wallets pages coverage
  .github/workflows/test.yml
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/WalletOverviewStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.WIF.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeaderMobile/__snapshots__/WalletHeaderMobile.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.test.tsx
  src/domains/wallet/pages/WalletGroupPage/__snapshots__/WalletGroupPage.test.tsx.snap
Labels: chore

#496 chore: domains wallets components coverage
  .github/workflows/test.yml
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/EncryptPasswordStep/EncryptPasswordStep.test.tsx
  src/domains/wallet/components/EncryptPasswordStep/__snapshots__/EncryptPasswordStep.test.tsx.snap
  src/domains/wallet/components/MnemonicList/MnemonicList.test.tsx
  src/domains/wallet/components/MnemonicList/__snapshots__/MnemonicList.test.tsx.snap
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.test.tsx
  src/domains/wallet/components/MnemonicVerification/MnemonicVerificationInput.test.tsx
  src/domains/wallet/components/NetworkStep/NetworkStep.test.tsx
  src/domains/wallet/components/NetworkStep/NetworkStep.tsx
  src/domains/wallet/components/NetworkStep/__snapshots__/NetworkStep.test.tsx.snap
  src/domains/wallet/components/PortfolioHeader/__snapshots__/PortfolioHeader.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFundsForm.test.tsx.snap
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/components/WalletActionsModals/__snapshots__/WalletActionsModals.test.tsx.snap
  src/domains/wallet/components/WalletDetail/__snapshots__/WalletDetail.test.tsx.snap
  src/domains/wallet/components/WalletDetailAddress/__snapshots__/WalletDetailAddress.test.tsx.snap
  src/domains/wallet/components/WalletDetailNetwork/__snapshots__/WalletDetailNetwork.test.tsx.snap
  src/domains/wallet/components/WalletsControls/WalletsControls.test.tsx
  src/domains/wallet/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroup.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroupHeader.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroupsList.test.tsx.snap
  src/domains/wallet/components/WalletsList/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
Labels: chore

#500 chore: utils coverage
  .github/workflows/test.yml
  src/utils/assertions.test.ts
  src/utils/environment.test.ts
  src/utils/migrations/initialize-ark-networks.test.ts
  src/utils/migrations/initialize-mainsail-networks.test.ts
  src/utils/migrations/update-ark-constants.test.ts
  src/utils/migrations/update-ark-nethashes.test.ts
  src/utils/network-utils.test.ts
  src/utils/peers.test.ts
  src/utils/platform.test.ts
  src/utils/profile-peers.test.ts
  src/utils/profile-utils.test.ts
  src/utils/server-utils.test.ts
  src/utils/theme.test.ts
  vitest.config.ts
Labels: chore

#501 chore: domain vote coverage
  .github/workflows/test.yml
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRowMobile.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.test.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateTable.test.tsx
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/components/VoteList/__snapshots__/VoteList.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/components/VotesHeader/__snapshots__/VotesHeader.test.tsx.snap
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: chore

#502 refactor: prevent using dynamic fee for mainsail
  src/app/hooks/use-fees.ts
Labels: refactor

#506 chore: upgrade psdk to latest version
  .github/workflows/build.yml
  .github/workflows/deps.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
Labels: chore

#508 refactor: use node 20
  .github/workflows/deps.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
  package.json
  src/app/components/QRFileUpload/QRFileUpload.test.tsx
  src/app/components/QRModal/QRModal.test.tsx
  src/app/components/SelectFile/SelectFile.test.tsx
  src/app/components/SelectProfileImage/SelectProfileImage.test.tsx
  src/app/components/SelectProfileImage/__snapshots__/SelectProfileImage.test.tsx.snap
  src/app/hooks/use-files.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/ImportProfile/ImportProfile.test.tsx
  src/domains/profile/pages/ImportProfile/ProfileFormStep.test.tsx
  src/domains/setting/pages/General/General.test.tsx
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.QRCode.test.tsx
  src/utils/testing-library.tsx
  vitest.setup.ts
Labels: refactor

#510 chore: use node 20 build action
  .github/workflows/build.yml
Labels: chore

#503 fix: handle mainsail deep links
  src/app/hooks/use-search-parameters-validation.tsx
Labels: bugfix

#511 tests: setup mainsail wallets in tests
  src/app/App.test.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/profile/components/DeleteProfile/DeleteProfile.test.tsx
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/cucumber/create-profile-routing.ts
  src/domains/profile/cucumber/delete-profile.ts
  src/domains/profile/cucumber/navigate-profile-settings.ts
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.test.tsx
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.tsx
  src/domains/transaction/pages/SendUsernameResignation/__snapshots__/SendUsernameResignation.test.tsx.snap
  src/domains/transaction/validations/ValidatorRegistration.test.tsx
  src/tests/fixtures/coins/mainsail/devnet/wallets/DFqZg28fz9hE6YAAYSKphSPnks5adBTfvC.json
  src/tests/fixtures/coins/mainsail/devnet/wallets/DGx4j6pRe7BmQBHBTZzN7uHf4LQgurW7Ub.json
  src/tests/fixtures/coins/mainsail/devnet/wallets/DHBDV6VHRBaFWaEAkmBNMfp4ANKHrkpPKf.json
  src/tests/fixtures/coins/mainsail/devnet/wallets/DMBQSFvk8L5z3JGd8Crn3omfqXNaeFLk2H.json
  src/tests/fixtures/coins/mainsail/devnet/wallets/not-found.json
  src/tests/fixtures/env/storage.json
  src/tests/mocks/handlers/index.ts
  src/tests/mocks/handlers/mainsail.devnet.ts
  src/tests/mocks/server.ts
  src/utils/migrations/initialize-mainsail-networks.ts
  src/utils/testing-library.tsx
Labels: test

#513 refactor: delegate pagination size per network adjustment
  src/domains/vote/components/DelegateTable/DelegateTable.test.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
Labels: refactor

#516 chore: optimize mainsail package
  vite.config.ts
Labels: chore

#509 fix: missing vote recipient
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.helpers.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/TransactionSuccessful/MultiSignatureSuccessful.test.tsx
  src/domains/transaction/components/TransactionSuccessful/MultiSignatureSuccessful.tsx
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.test.tsx
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/MultiSignatureSuccessful.test.tsx.snap
  src/domains/transaction/components/UnlockTokens/UnlockTokensModal.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.Ledger.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.Multisignature.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.Fees.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/tests/fixtures/transactions/index.ts
Labels: bugfix

#523 refactor: fix tests in registration form
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.tsx
  vitest.setup.ts
Labels: refactor
