Repository ArdentHQ/arkvault, pull requests merged in 2024-12, with the labels that each got.

#839 feat: enable evm transaction sending
  package.json
  pnpm-lock.yaml
  src/app/services/HttpClient.ts
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/hooks/use-send-transfer-form.ts
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Labels: feature

#840 fix: properly display contract label in transaction rows
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
Labels: refactor

#841 refactor: link contract recipients to explorer
  package.json
  pnpm-lock.yaml
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
Labels: refactor

#842 feat: highlight failed transactions in transactions table
  .github/workflows/test.yml
  src/app/assets/svg/circle-minus.svg
  src/app/assets/svg/index.ts
  src/app/components/Address/AddressLink.tsx
  src/app/components/Icon/Icon.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.Transactions.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowId.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.Actions.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.Transactions.test.tsx
Labels: feature

#843 refactor: add contract label to transaction details modal
  src/app/assets/svg/contract.svg
  src/app/assets/svg/index.ts
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/transaction/components/RecipientList/RecipientList.contracts.ts
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionRecipient.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/hooks/use-transaction-recipients.ts
  src/domains/transaction/utils.ts
Labels: refactor

#837 feat: apply EVM validator registration/resignation
  src/app/components/DetailWrapper/DetailWrapper.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/transaction/components/FeeField/FeeField.tsx
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.test.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/ValidatorRegistrationForm/index.ts
  src/domains/transaction/cucumber/delegate.resignation.feature
  src/domains/transaction/cucumber/transaction-routing.ts
  src/domains/transaction/cucumber/validator-registration.feature
  src/domains/transaction/cucumber/validator-registration.ts
  src/domains/transaction/cucumber/validator-resignation.ts
  src/domains/transaction/cucumber/validator.resignation.feature
  src/domains/transaction/e2e/common.ts
  src/domains/transaction/pages/SendDelegateResignation/index.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.Fee.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendValidatorResignation/FormStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.test.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/index.ts
  src/domains/transaction/routing.test.ts
  src/domains/transaction/routing.ts
  src/domains/wallet/hooks/use-wallet-actions.ts
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.ts
  src/router/paths.ts
Labels: feature

#849 refactor: show validator address in validators list
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRowMobile.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: refactor

#847 feat: remove memo field from UI
  .github/workflows/test.yml
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/hooks/use-validation.ts
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.contracts.tsx
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.test.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.test.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFundsForm.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/hooks.test.tsx
  src/domains/wallet/components/ReceiveFunds/hooks.ts
  src/domains/wallet/validations/ReceiveFunds.ts
  src/domains/wallet/validations/index.ts
Labels: feature

#845 refactor: show failed transaction status in confirmed details modal
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/TransactionDetail/TransactionConfirmations/TransactionConfirmations.tsx
  src/domains/transaction/i18n.ts
  src/tests/fixtures/coins/ark/devnet/notification-transactions.json
Labels: refactor

#852 chore: adjust validator name column
  src/domains/vote/components/ValidatorsTable/__snapshots__/ValidatorsTable.test.tsx.snap
  src/domains/vote/i18n.ts
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: chore

#853 fix: show validator address at wallet voting section
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Labels: bugfix

#846 refactor: use method name when transaction is not one of the predefined types
  package.json
  pnpm-lock.yaml
  src/domains/transaction/hooks/use-transaction-types.ts
  src/domains/transaction/i18n.ts
Labels: refactor

#855 refactor: allow for sending 18 decimals
  src/app/components/Input/InputCurrency.tsx
  src/domains/exchange/components/ExchangeForm/FormStep.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/InputFee/InputFee.contracts.ts
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/blocks/InputFeeAdvanced.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorVoteAmount.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.tsx
Labels: refactor

#851 refactor: show validator address in the vote flow
  package.json
  pnpm-lock.yaml
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/VoteTransactionType/VoteTransactionType.tsx
  src/domains/transaction/hooks/use-transaction-voting-wallets.ts
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/vote/hooks/use-vote-query-parameters.test.tsx
  src/domains/vote/hooks/use-vote-query-parameters.ts
Labels: refactor

#850 refactor: treat contract deployments as contract transactions
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/utils.ts
Labels: refactor

#858 fix: signed transaction type lookup
  package.json
  pnpm-lock.yaml
Labels: bugfix
