Repository ArdentHQ/arkvault, pull requests merged in 2024-10, with the labels that each got.

#675 refactor: adjust notifications UI
  src/app/components/Notifications/NotificationTransactionItem.test.tsx
  src/app/components/Notifications/NotificationTransactionItem.tsx
  src/app/components/Notifications/NotificationTransactionItemMobile.tsx
  src/app/components/Notifications/NotificationTransactionItemMobileSkeleton.tsx
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/app/components/Notifications/NotificationsDropdown.tsx
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/Notifications/hooks/use-notifications.ts
  src/app/components/Notifications/index.ts
  src/app/components/Notifications/styles.ts
  src/app/i18n/common/i18n.ts
  src/domains/profile/cucumber/notifications.ts
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/NotificationTransactionSkeleton.tsx
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/NotificationTransactionSkeletonRow.tsx
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/NotificationTransactionsTable.tsx
  src/domains/transaction/components/TransactionTable/NotificationTransactionsTable/__snapshots__/NotificationTransactionsTable.test.tsx.snap
Labels: refactor

#677 refactor: UI adjustments on sign message flow
  src/app/i18n/common/i18n.ts
  src/domains/message/cucumber/sign-message.ts
  src/domains/message/hooks/use-message-signer.test.tsx
  src/domains/message/i18n.ts
  src/domains/message/pages/SignMessage/FormStep.tsx
  src/domains/message/pages/SignMessage/SignMessage.Encrypted.Mnemonic.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.Encrypted.Secret.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.tsx
  src/domains/message/pages/SignMessage/SuccessStep.tsx
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
Labels: refactor

#676 refactor: adjust wallet creation success step UI
  src/domains/wallet/pages/CreateWallet/SuccessStep.test.tsx
  src/domains/wallet/pages/CreateWallet/SuccessStep.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
Labels: refactor

#674 refactor: exchange flow adjustments
  src/app/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/components/Modal/Modal.blocks.tsx
  src/app/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/QRModal/__snapshots__/QRModal.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/dashboard/components/PortfolioBreakdownDetails/__snapshots__/PortfolioBreakdownDetails.test.tsx.snap
  src/domains/exchange/components/DeleteExchangeTransaction/__snapshots__/DeleteExchangeTransaction.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/ExchangeForm.test.tsx
  src/domains/exchange/components/ExchangeForm/ExchangeForm.tsx
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.test.tsx
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.tsx
  src/domains/exchange/components/SendExchangeTransfer/index.ts
  src/domains/exchange/i18n.ts
  src/domains/exchange/pages/ExchangeView/ExchangeView.tsx
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/ResetProfile/__snapshots__/ResetProfile.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/components/WelcomeModal/__snapshots__/WelcomeModal.test.tsx.snap
  src/domains/setting/components/DevelopmentNetwork/__snapshots__/DevelopmentNetwork.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/utils/testing-library.tsx
Labels: refactor

#679 refactor: adjust UI on message verify flow
  src/domains/message/pages/VerifyMessage/FormStep.tsx
  src/domains/message/pages/VerifyMessage/SuccessStep.tsx
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
Labels: refactor

#681 fix: improve transaction table skeletons
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowSkeleton.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.helpers.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: bugfix

#683 fix: adjust size on pending tx from/to label
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
Labels: bugfix

#678 refactor: exchange steps design adjustments
  src/app/assets/svg/arrows/double-arrow-dashed.svg
  src/app/assets/svg/arrows/index.ts
  src/app/assets/svg/circle-completed-dark.svg
  src/app/assets/svg/circle-completed-light.svg
  src/app/assets/svg/index.ts
  src/domains/exchange/components/ExchangeForm/ConfirmationStep.tsx
  src/domains/exchange/components/ExchangeForm/ExchangeForm.test.tsx
  src/domains/exchange/components/ExchangeForm/ExchangeForm.tsx
  src/domains/exchange/components/ExchangeForm/FormStep.tsx
  src/domains/exchange/components/ExchangeForm/ReviewStep.tsx
  src/domains/exchange/components/ExchangeForm/StatusStep.blocks.tsx
  src/domains/exchange/components/ExchangeForm/StatusStep.tsx
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.test.tsx
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.tsx
  src/domains/exchange/i18n.ts
  src/domains/exchange/images/exchange-dark.svg
  src/domains/exchange/images/index.ts
  src/domains/exchange/images/wallet-dark.svg
  src/domains/exchange/pages/ExchangeView/ExchangeView.test.tsx
  src/domains/exchange/pages/ExchangeView/ExchangeView.tsx
Labels: refactor

#684 chore: add transition for profile row
  src/domains/profile/components/ProfileRow/ProfileRow.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Labels: chore

#688 refactor: adjust UI for dashboard tx table
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Labels: refactor

#685 fix: correct password validation message colors
  src/app/components/PasswordValidation/PasswordValidation.tsx
  src/app/components/PasswordValidation/__snapshots__/PasswordValidation.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/wallet/components/EncryptPasswordStep/__snapshots__/EncryptPasswordStep.test.tsx.snap
Labels: bugfix

#689 fix: correct chevron icon state
  src/app/components/Alert/Alert.tsx
  src/app/components/Alert/__snapshots__/Alert.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Labels: bugfix

#687 refactor: adjust spacing between settings components
  src/app/components/ListDivided/ListDividedItem.tsx
  src/app/components/ListDivided/__snapshots__/ListDivided.test.tsx.snap
  src/app/components/ListDivided/__snapshots__/ListDividedItem.test.tsx.snap
  src/domains/setting/pages/Appearance/Appearance.tsx
  src/domains/setting/pages/Appearance/__snapshots__/Appearance.test.tsx.snap
  src/domains/setting/pages/Export/Export.tsx
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/General.tsx
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Networks/Networks.tsx
  src/domains/setting/pages/Networks/__snapshots__/Networks.test.tsx.snap
  src/domains/setting/pages/Networks/blocks/CustomNetworksList.tsx
  src/domains/setting/pages/Networks/blocks/NetworksList.tsx
  src/domains/setting/pages/Password/Password.tsx
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/Servers.tsx
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
Labels: refactor

#697 fix: amount label height
  src/app/components/Amount/AmountLabel.tsx
  src/app/components/Amount/__snapshots__/AmountLabel.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/ExchangeTransactionsRow.tsx
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionTable.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRow.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRowMobile.test.tsx.snap
Labels: bugfix

#694 refactor: adjust transactions load button
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/Transactions/Transactions.test.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: refactor

#693 fix: correct label size on mobile in pending transaction row
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
Labels: bugfix

#696 fix: remove double tooltip in transaction row
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Labels: bugfix

#692 fix: improve alignment in pending transaction table
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
Labels: bugfix

#695 fix: ui adjustments on recipients table
  src/app/components/WalletListItem/WalletListItem.blocks.tsx
  src/domains/transaction/components/SearchRecipient/SearchRecipient.tsx
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
Labels: bugfix

#699 refactor: adjust Pagination component
  src/app/components/Pagination/Pagination.styles.ts
  src/app/components/Pagination/Pagination.test.tsx
  src/app/components/Pagination/Pagination.tsx
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/app/components/Pagination/__snapshots__/PaginationSearch.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/wallet/pages/WalletGroupPage/__snapshots__/WalletGroupPage.test.tsx.snap
Labels: refactor

#710 fix: correct transaction amount label based on transaction type
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Labels: bugfix

#712 fix: correct multiple recipient label font sizes
  src/domains/transaction/components/AddRecipient/AddRecipientItem.tsx
Labels: bugfix

#707 fix: use inner group to scope hover state in link component
  src/app/components/Link/Link.tsx
  src/app/components/Link/__snapshots__/Link.test.tsx.snap
Labels: bugfix

#706 chore: replaced Second Signature with 2nd Signature
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/i18n.ts
Labels: chore

#709 fix: vote transaction review step alignment issue
  src/domains/transaction/components/VoteTransactionType/VoteTransactionType.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
Labels: bugfix

#705 fix: correct button sizes in sign message form
  src/domains/message/pages/SignMessage/SignMessage.tsx
Labels: bugfix

#704 fix: correct alignment in wallet address in transaction table
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: bugfix

#703 fix: correct amount label font size in transaction details
  src/app/components/Amount/AmountLabel.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionSummary/TransactionSummary.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Labels: bugfix

#701 fix: correct alignment & font sizes in search wallet table
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
Labels: bugfix

#702 fix: correct alignment & font sizes in recipient search modal
  src/domains/transaction/components/SearchRecipient/SearchRecipient.tsx
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
Labels: bugfix

#711 fix: correct sender address color for incoming transactions
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
Labels: bugfix

#698 fix: adjust sizes on transaction details
  src/app/components/DetailWrapper/DetailWrapper.tsx
  src/app/components/Label/Label.styles.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/MusigGeneratedAddress/MusigGeneratedAddress.tsx
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionRecipient.tsx
  src/domains/transaction/components/TransactionDetail/TransactionConfirmations/TransactionConfirmations.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.tsx
  src/domains/transaction/components/TransactionDetail/TransactionSummary/TransactionSummary.tsx
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/VoteTransactionType/VoteTransactionType.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Labels: bugfix

#719 fix: correct color on dashboard filter icon
  src/app/components/ControlButton/ControlButton.tsx
Labels: bugfix

#715 fix: consistently align wallet header items
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.blocks.tsx
Labels: bugfix

#721 chore: update snapshots
  src/app/components/ControlButton/__snapshots__/ControlButton.test.tsx.snap
  src/app/components/Header/HeaderSearchBar/__snapshots__/HeaderSearchBar.test.tsx.snap
  src/app/components/LayoutControls/__snapshots__/LayoutControls.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/ProfileSyncStatusMessage/__snapshots__/ProfileSyncStatusMessage.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.blocks.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipientItem.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/components/__snapshots__/TransactionDetailAddressList.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/UnlockTokens/blocks/__snapshots__/UnlockTokensFetchError.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRowMobile.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/components/VotesHeader/__snapshots__/VotesHeader.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/PortfolioHeader/__snapshots__/PortfolioHeader.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroup.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Labels: chore

#717 fix: transfer transaction addressing
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Labels: bugfix

#713 fix: portfolio header padding
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/wallet/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/wallet/components/PortfolioHeader/__snapshots__/PortfolioHeader.test.tsx.snap
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroup.test.tsx.snap
Labels: bugfix

#714 fix: add icon for the authentication step
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
Labels: bugfix

#720 fix: correct colors for disabled send button in wallet list on mobile
  src/app/components/WalletListItem/WalletListItem.blocks.tsx
Labels: bugfix

#723 fix: modal paddings
  src/app/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/components/Modal/Modal.blocks.tsx
  src/app/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/QRModal/__snapshots__/QRModal.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/dashboard/components/PortfolioBreakdownDetails/__snapshots__/PortfolioBreakdownDetails.test.tsx.snap
  src/domains/exchange/components/DeleteExchangeTransaction/__snapshots__/DeleteExchangeTransaction.test.tsx.snap
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/ResetProfile/__snapshots__/ResetProfile.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/components/WelcomeModal/__snapshots__/WelcomeModal.test.tsx.snap
  src/domains/setting/components/DevelopmentNetwork/__snapshots__/DevelopmentNetwork.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
Labels: bugfix

#716 fix: correct colors for recipient address in transaction detail
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionAddresses.tsx
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionRecipient.tsx
Labels: bugfix

#722 fix: adjust height on mobile navigation bar
  src/app/components/NavigationBar/NavigationBar.blocks.tsx
  src/app/components/PageSkeleton/ProfilePageSkeleton.tsx
Labels: bugfix

#700 refactor: add wallets pagination
  src/app/components/Pagination/Pagination.styles.ts
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/wallet/components/WalletsGroup/WalletsGroup.test.tsx
  src/domains/wallet/components/WalletsGroup/WalletsGroup.tsx
  src/domains/wallet/components/WalletsGroup/__snapshots__/WalletsGroup.test.tsx.snap
  src/domains/wallet/components/WalletsList/WalletsList.test.tsx
  src/domains/wallet/components/WalletsList/WalletsList.tsx
  src/domains/wallet/components/WalletsList/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/pages/WalletGroupPage/__snapshots__/WalletGroupPage.test.tsx.snap
Labels: refactor

#724 fix: align vote button
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/app/components/PageSkeleton/__snapshots__/ProfilePageSkeleton.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Appearance/__snapshots__/Appearance.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Networks/__snapshots__/Networks.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.SecondSignature.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.NetworkSelection.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/WalletsList/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletGroupPage/__snapshots__/WalletGroupPage.test.tsx.snap
Labels: bugfix

#725 fix: align create a wallet checkbox
  src/domains/wallet/pages/CreateWallet/ConfirmPassphraseStep.tsx
Labels: bugfix

#731 fix: correct tab border colors in dark mode
  src/app/components/Tabs/Tabs.tsx
Labels: bugfix

#728 fix: correct placeholder color in inputs
  src/app/components/Input/Input.tsx
Labels: bugfix

#727 refactor: adjust paddings in mobile select dropdown
  src/app/components/SelectDropdown/styles.ts
Labels: refactor

#726 refactor: adjust select caret icon
  src/app/components/SelectDropdown/SelectDropdown.tsx
Labels: refactor

#734 fix: adjust transaction review step alignment
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
Labels: bugfix

#735 fix: portfolio breakdown padding
  src/domains/dashboard/components/PortfolioBreakdown/PortfolioBreakdown.tsx
  src/domains/wallet/components/PortfolioHeader/PortfolioHeader.tsx
Labels: bugfix

#729 fix: input font size
  src/app/components/Input/Input.tsx
  src/app/components/Input/InputSuggestion.tsx
  src/domains/profile/components/SelectAddress/SelectAddress.tsx
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
Labels: bugfix

#732 fix: adjust font weight of total amount in transaction summary
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
Labels: bugfix

#733 fix: use truncation on recipient dropdown list
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
Labels: bugfix

#740 fix: adjust alignment on tx pending & success steps
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/pages/SendVote/SummaryStep.tsx
  src/domains/transaction/pages/SendVote/index.tsx
Labels: bugfix

#739 refactor: adjust ipfs send flow UI to match designs
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.tsx
  src/domains/transaction/hooks/use-stub-transaction.test.tsx
  src/domains/transaction/hooks/use-stub-transaction.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendIpfs/FormStep.tsx
  src/domains/transaction/pages/SendIpfs/ReviewStep.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
Labels: refactor

#741 test: restore failing tests & coverage
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.Encryption.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Labels: test

#742 fix: correct amount label font size in transaction summary
  src/domains/transaction/components/TransactionDetail/TransactionSummary/TransactionSummary.tsx
Labels: bugfix

#747 fix: adjust font size of wallets pagination select
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/wallet/components/WalletsList/WalletsList.tsx
Labels: bugfix

#743 fix: reuse addressing component in pending transaction table
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/wallet/components/WalletsList/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/pages/WalletGroupPage/__snapshots__/WalletGroupPage.test.tsx.snap
Labels: bugfix

#748 fix: correct addressing label for musig registration
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
Labels: bugfix

#753 fix: correct padding in vote review page
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
Labels: bugfix

#752 fix: show ledger import title in sm screens
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.tsx
Labels: bugfix

#750 refactor: tweak multiple recipients list in the form step
  src/app/components/MultiEntryItem/MultiEntryItem.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipientItem.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipientItem.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipientItem.test.tsx.snap
Labels: refactor

#751 fix: correct input text color in light mode
  src/app/components/Input/Input.tsx
Labels: bugfix

#749 fix: display delegate information in summary step for vote txs
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/VoteTransactionType/helpers.ts
  src/domains/transaction/hooks/use-transaction-voting-wallets.ts
Labels: bugfix

#737 fix: move `send all` button in mobile
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Labels: bugfix

#757 fix: adjust scan qr button UI on mobile
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Labels: bugfix

#756 fix: use available space for wallet details address in mobile
  src/domains/wallet/pages/WalletDetails/components/WalletHeaderMobile/WalletHeaderMobile.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeaderMobile/__snapshots__/WalletHeaderMobile.test.tsx.snap
Labels: bugfix

#755 fix: improve send details in pending musig transactions
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
Labels: bugfix

#758 refactor: add multipay recipients list for review step
  src/app/components/MultiEntryItem/MultiEntryItem.tsx
  src/domains/transaction/components/RecipientsModal/RecipientsList.test.tsx
  src/domains/transaction/components/RecipientsModal/RecipientsList.tsx
  src/domains/transaction/components/RecipientsModal/RecipientsModal.contracts.ts
  src/domains/transaction/components/RecipientsModal/RecipientsModal.test.tsx
  src/domains/transaction/components/RecipientsModal/RecipientsModal.tsx
  src/domains/transaction/components/RecipientsModal/RecipientsTable.test.tsx
  src/domains/transaction/components/RecipientsModal/RecipientsTable.tsx
  src/domains/transaction/components/RecipientsModal/index.ts
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionAddresses.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionAddresses.tsx
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionRecipient.tsx
  src/domains/transaction/components/TransactionDetail/TransactionSummary/TransactionSummary.test.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Labels: refactor

#760 refactor: adjust delegate registration form step
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Labels: refactor

#759 refactor: reduce font size in recipient dropdown on mobile
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
Labels: refactor

#761 fix: center profile selection on mobile
  src/app/components/PageSkeleton/PageSkeleton.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Labels: bugfix

#766 chore: update snapshots
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Labels: chore

#767 fix: e2e tests port usage
  .github/workflows/e2e.yml
  package.json
Labels: bugfix

#768 fix: align register delegate review step
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
Labels: bugfix

#772 fix: modal padding
  src/app/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/components/Modal/Modal.tsx
  src/app/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/QRModal/__snapshots__/QRModal.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/dashboard/components/PortfolioBreakdownDetails/__snapshots__/PortfolioBreakdownDetails.test.tsx.snap
  src/domains/exchange/components/DeleteExchangeTransaction/__snapshots__/DeleteExchangeTransaction.test.tsx.snap
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/ResetProfile/__snapshots__/ResetProfile.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/components/WelcomeModal/__snapshots__/WelcomeModal.test.tsx.snap
  src/domains/setting/components/DevelopmentNetwork/__snapshots__/DevelopmentNetwork.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
Labels: bugfix

#771 fix: truncation on confirmation step
  src/domains/exchange/components/ExchangeForm/ConfirmationStep.tsx
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
Labels: bugfix

#773 refactor: add ledger support in exchange transaction flow
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.tsx
Labels: refactor

#775 fix: adjust text size for transaction details
  src/app/components/DetailWrapper/DetailWrapper.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/SentStep.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionRecipient.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.tsx
  src/domains/transaction/components/TransactionDetail/TransactionId/TransactionId.tsx
  src/domains/transaction/components/TransactionDetail/TransactionSummary/TransactionSummary.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.Encryption.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.Fees.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Labels: bugfix

#770 refactor: adjust ledger loading screen
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.blocks.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.tsx
Labels: refactor

#776 test: restore coverage in exchange domain
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.Ledger.test.tsx
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.tsx
Labels: test

#782 fix: signed vote swap tx details
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/VoteTransactionType/helpers.ts
Labels: bugfix

#779 refactor: ipfs transaction row
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: refactor

#781 refactor: modal background blur
  src/app/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/components/Modal/Modal.tsx
  src/app/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/QRModal/__snapshots__/QRModal.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/dashboard/components/PortfolioBreakdownDetails/__snapshots__/PortfolioBreakdownDetails.test.tsx.snap
  src/domains/exchange/components/DeleteExchangeTransaction/__snapshots__/DeleteExchangeTransaction.test.tsx.snap
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/ResetProfile/__snapshots__/ResetProfile.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/components/WelcomeModal/__snapshots__/WelcomeModal.test.tsx.snap
  src/domains/setting/components/DevelopmentNetwork/__snapshots__/DevelopmentNetwork.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
Labels: refactor

#765 refactor: form label hover on delete modal
  src/app/components/Form/FormField.tsx
  src/app/components/Input/__snapshots__/InputDate.test.tsx.snap
  src/app/components/PasswordValidation/__snapshots__/PasswordValidation.test.tsx.snap
  src/app/components/PasswordValidation/__snapshots__/PasswordValidation.test.tsx.snap.orig
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap.orig
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap.orig
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap.orig
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap.orig
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap.orig
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap.orig
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/__snapshots__/TransactionExportForm.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/components/UnlockTokens/blocks/__snapshots__/UnlockTokensAuthentication.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.SecondSignature.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.NetworkSelection.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap.orig
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/DeleteWallet.tsx
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/EncryptPasswordStep/__snapshots__/EncryptPasswordStep.test.tsx.snap
  src/domains/wallet/components/NetworkStep/__snapshots__/NetworkStep.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFundsForm.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.WIF.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Labels: refactor

#778 fix: mobile notifications
  src/app/components/Notifications/NotificationTransactionItemMobile.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
Labels: bugfix

#785 fix: prevent success step to change tab
  src/domains/exchange/components/ExchangeForm/ExchangeForm.tsx
Labels: bugfix

#784 refactor: use return label when a wallet sends transactions to itself
  src/app/components/Amount/AmountLabel.tsx
  src/app/components/Amount/__snapshots__/AmountLabel.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/UnlockTokens/blocks/UnlockTokensSelect/__snapshots__/UnlockTokensSelect.test.tsx.snap
Labels: refactor

#789 fix: multipayment transaction amount
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: bugfix

#791 fix: transaction sender modal truncation
  src/app/components/WalletListItem/WalletListItem.blocks.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
Labels: bugfix
