Repository ArdentHQ/arkvault, pull requests merged in 2025-09, with the labels that each got.

#1491 refactor: change unvote + vote to single vote transaction
  src/app/lib/mainsail/transaction.service.ts
Labels: refactor

#1482 refactor: back and retry buttons for Ledger error step
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.tsx
Labels: refactor

#1488 feat: profile import migration
  .env.example
  src/app/lib/profiles/contracts.ts
  src/app/lib/profiles/profile.importer.ts
  src/app/lib/profiles/profile.mainsail-migrator.contract.ts
  src/app/lib/profiles/profile.mainsail-migrator.test.ts
  src/app/lib/profiles/profile.mainsail-migrator.ts
  src/app/lib/profiles/profile.repository.ts
Labels: feature

#1495 fix: update nethash in devnet manifest config
  src/app/hooks/use-search-parameters-validation.tsx
  src/app/lib/mainsail/networks/mainsail.mainnet.test.ts
  src/app/lib/mainsail/networks/mainsail.mainnet.ts
Labels: bugfix

#1487 fix: contract calls with ledger
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.test.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.tsx
  src/domains/transaction/hooks/use-connect-ledger.test.ts
  src/domains/transaction/hooks/use-connect-ledger.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendVote/LedgerReview.tsx
Labels: bugfix

#1503 feat: add HD wallet tx signing
  src/app/lib/mainsail/mnemonic-with-derivation-path.service.test.ts
  src/app/lib/mainsail/mnemonic-with-derivation-path.service.ts
  src/app/lib/mainsail/mnemonic-with-derivation-path.signatory.test.ts
  src/app/lib/mainsail/mnemonic-with-derivation-path.signatory.ts
  src/app/lib/mainsail/signatory.service.ts
  src/app/lib/mainsail/signatory.ts
  src/app/lib/mainsail/transaction.service.ts
  src/app/lib/profiles/serialiser.ts
  src/app/lib/profiles/serializers.test.ts
  src/app/lib/profiles/signatory.factory.ts
  src/app/lib/profiles/wallet.contract.ts
  src/app/lib/profiles/wallet.factory.ts
  src/app/lib/profiles/wallet.test.ts
  src/app/lib/profiles/wallet.ts
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Authentication.ts
Labels: feature

#1501 fix: authentication text in side panels
  .github/workflows/test.yml
  src/domains/message/i18n.ts
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/SendRegistrationSidePanel/SendRegistrationSidePanel.tsx
  src/domains/transaction/components/SendTransferSidePanel/SendTransferSidePanel.tsx
  src/domains/transaction/components/SendUsernameResignationSidePanel/SendUsernameResignationSidePanel.tsx
  src/domains/transaction/components/SendValidatorResignationSidePanel/SendValidatorResignationSidePanel.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/utils.test.ts
  src/domains/transaction/utils.ts
Labels: bugfix

#1512 refactor: improve ledger approval alert message
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/LedgerConfirmation/LedgerConfirmation.test.tsx
  src/domains/transaction/components/LedgerConfirmation/LedgerConfirmation.tsx
  src/domains/transaction/components/LedgerConfirmation/__snapshots__/LedgerConfirmation.test.tsx.snap
  src/domains/transaction/i18n.ts
Labels: refactor

#1513 refactor: remove avatars in UI & unused components
  .github/workflows/test.yml
  src/domains/exchange/components/ExchangeForm/FormStep.tsx
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.tsx
  src/domains/profile/components/SelectAddress/SelectAddress.test.tsx
  src/domains/profile/components/SelectAddress/SelectAddress.tsx
  src/domains/profile/components/SelectAddress/__snapshots__/SelectAddress.test.tsx.snap
  src/domains/profile/components/SelectAddressDropdown/SelectAddressDropdown.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/RecipientList/RecipientList.blocks.tsx
  src/domains/transaction/components/RecipientList/RecipientList.helpers.tsx
  src/domains/transaction/components/RecipientList/RecipientList.test.tsx
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/RecipientList/index.ts
  src/domains/transaction/components/SendVoteSidePanel/FormStep.tsx
  src/domains/transaction/components/SendVoteSidePanel/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/TransactionRecipients.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/TransactionRecipients.tsx
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/TransactionRecipientsMobile.tsx
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/__snapshots__/TransactionRecipients.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/index.ts
  src/domains/transaction/components/TransactionDetail/index.ts
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendUsernameResignation/FormStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/FormStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/VoteList/VoteItem.tsx
  src/domains/vote/components/VoteList/VoteItemMobile.tsx
  src/domains/vote/components/VoteList/__snapshots__/VoteList.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/DeleteWallet.tsx
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/WalletDetailAddress/WalletDetailAddress.test.tsx
  src/domains/wallet/components/WalletDetailAddress/WalletDetailAddress.tsx
  src/domains/wallet/components/WalletDetailAddress/__snapshots__/WalletDetailAddress.test.tsx.snap
  src/domains/wallet/components/WalletDetailAddress/index.ts
Labels: refactor

#1507 refactor: show validator name when available
  src/app/hooks/use-search-parameters-validation.test.ts
  src/app/lib/profiles/profile.contract.ts
  src/app/lib/profiles/profile.ts
  src/app/lib/profiles/profile.wallet.alias.ts
  src/app/lib/profiles/read-only-wallet.contract.ts
  src/app/lib/profiles/read-only-wallet.test.ts
  src/app/lib/profiles/read-only-wallet.ts
  src/app/lib/profiles/validator.service.ts
  src/app/lib/profiles/vote-registry.ts
  src/app/lib/profiles/wallet.repository.test.ts
  src/app/lib/profiles/wallet.repository.ts
  src/app/lib/profiles/wallet.synchroniser.test.ts
  src/app/lib/profiles/wallet.test.ts
  src/app/lib/profiles/wallet.ts
  src/domains/portfolio/components/AddressesSidePanel/UpdateAddressName.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerImportStep.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/transaction/components/SendVoteSidePanel/LedgerReview.test.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.Combined.test.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.test.tsx
  src/domains/transaction/components/TransactionDetailSidePanel/TransactionDetailSidePanel.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/components/VoteTransactionType/VoteTransactionType.tsx
  src/domains/transaction/validations/SendVote.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.test.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorFooter/ValidatorFooter.test.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorRow.test.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorRowMobile.test.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorVoteAmount.test.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorsTable.test.tsx
  src/domains/vote/components/VoteList/VoteList.test.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/utils/get-default-alias.ts
  src/utils/wallet-utils.ts
Labels: refactor

#1497 feat: enable multipayments for ledger wallets
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/SendTransferSidePanel/FormStep.tsx
Labels: feature

#1508 refactor: remove legacy transaction pages
  .github/workflows/test.yml
  src/domains/transaction/components/SendRegistrationSidePanel/SendRegistration.contracts.ts
  src/domains/transaction/components/SendRegistrationSidePanel/SendRegistrationSidePanel.tsx
  src/domains/transaction/components/SendUsernameResignationSidePanel/FormStep.tsx
  src/domains/transaction/components/SendUsernameResignationSidePanel/ReviewStep.tsx
  src/domains/transaction/components/SendUsernameResignationSidePanel/SendUsernameResignationSidePanel.tsx
  src/domains/transaction/components/SendUsernameResignationSidePanel/index.ts
  src/domains/transaction/components/SendValidatorResignationSidePanel/FormStep.tsx
  src/domains/transaction/components/SendValidatorResignationSidePanel/ReviewStep.tsx
  src/domains/transaction/components/SendValidatorResignationSidePanel/SendValidatorResignationSidePanel.tsx
  src/domains/transaction/components/SendValidatorResignationSidePanel/hooks/useValidatorResignationLockedFee.ts
  src/domains/transaction/components/SendValidatorResignationSidePanel/index.ts
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/transaction/components/UsernameRegistrationForm/UsernameRegistrationForm.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.Fee.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.SecondSignature.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/index.ts
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.tsx
  src/domains/transaction/pages/SendUsernameResignation/index.ts
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.test.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/index.ts
  src/domains/transaction/routing.test.ts
  src/domains/transaction/routing.ts
  src/router/PreloadMiddleware.test.ts
  src/router/PreloadMiddleware.tsx
  src/router/paths.ts
  src/router/router.routes.test.ts
  src/router/router.routes.ts
Labels: refactor

#1511 feat: add general import flow
  src/app/lib/profiles/wallet.factory.test.ts
  src/app/lib/profiles/wallet.factory.ts
  src/app/lib/profiles/wallet.ts
  src/domains/portfolio/components/ImportWallet/HDWallet/HDWalletTabs.tsx
  src/domains/portfolio/components/ImportWallet/HDWallet/HDWalletsTabs.contracts.ts
  src/domains/portfolio/components/ImportWallet/HDWallet/SelectAddressStep.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.HDWallet.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.blocks.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportDetailStep.tsx
  src/domains/wallet/hooks/use-import-options.tsx
  src/domains/wallet/hooks/use-wallet-import.ts
  src/domains/wallet/i18n.ts
Labels: feature

#1479 refactor: fetch pending transaction
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/app/assets/svg/transactions/index.ts
  src/app/lib/mainsail/client.contract.ts
  src/app/lib/mainsail/client.service.ts
  src/app/lib/mainsail/collections.ts
  src/app/lib/mainsail/confirmed-transaction.dto.ts
  src/app/lib/mainsail/transaction-data.dto.test.ts
  src/app/lib/mainsail/transaction-data.dto.ts
  src/app/lib/mainsail/unconfirmed-transaction.contract.ts
  src/app/lib/mainsail/unconfirmed-transaction.dto.test.ts
  src/app/lib/mainsail/unconfirmed-transaction.dto.ts
  src/app/lib/mainsail/unconfirmed-transactions.collection.ts
  src/app/lib/mainsail/unconfirmed-transactions.service.test.ts
  src/app/lib/mainsail/unconfirmed-transactions.service.ts
  src/domains/transaction/components/SendRegistrationSidePanel/SendRegistrationSidePanel.tsx
  src/domains/transaction/components/SendTransferSidePanel/SendTransferSidePanel.test.tsx
  src/domains/transaction/components/SendTransferSidePanel/SendTransferSidePanel.tsx
  src/domains/transaction/components/SendUsernameResignationSidePanel/SendUsernameResignationSidePanel.tsx
  src/domains/transaction/components/SendValidatorResignationSidePanel/SendValidatorResignationSidePanel.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.Combined.test.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.Keyboard.test.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.tsx
  src/domains/transaction/components/TransactionDetailSidePanel/TransactionDetailSidePanel.tsx
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/hooks/index.ts
  src/domains/transaction/hooks/use-pending-transactions.test.tsx
  src/domains/transaction/hooks/use-pending-transactions.ts
  src/domains/transaction/hooks/use-profile-transactions.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/hooks/use-unconfirmed-transactions.test.tsx
  src/domains/transaction/hooks/use-unconfirmed-transactions.ts
  src/domains/transaction/utils.test.ts
  src/domains/transaction/utils.ts
  src/tests/fixtures/coins/mainsail/devnet/transactions/unconfirmed.json
Labels: refactor

#1520 feat: add HD wallet account name
  src/app/lib/profiles/wallet.contract.ts
  src/app/lib/profiles/wallet.enum.ts
  src/app/lib/profiles/wallet.mutator.contract.ts
  src/app/lib/profiles/wallet.mutator.ts
  src/app/lib/profiles/wallet.ts
  src/domains/portfolio/components/ImportWallet/HDWallet/HDWalletTabs.tsx
  src/domains/portfolio/components/ImportWallet/HDWallet/SelectAddressStep.test.tsx
  src/domains/portfolio/components/ImportWallet/HDWallet/SelectAddressStep.tsx
  src/domains/portfolio/components/ImportWallet/HDWallet/SummaryStep.test.tsx
  src/domains/portfolio/components/ImportWallet/HDWallet/SummaryStep.tsx
  src/domains/portfolio/components/ImportWallet/HDWallet/UpdateAccountName.test.tsx
  src/domains/portfolio/components/ImportWallet/HDWallet/UpdateAccountName.tsx
  src/domains/portfolio/components/ImportWallet/HDWallet/__snapshots__/UpdateAccountName.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.HDWallet.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerImportStep.blocks.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerImportStep.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.blocks.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.blocks.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.tsx
  src/domains/wallet/i18n.ts
  src/domains/wallet/utils/get-account-name.test.ts
  src/domains/wallet/utils/get-account-name.ts
  src/domains/wallet/validations/AccountName.ts
Labels: feature

#1528 refactor: HD wallet tx signing with encryption
  src/app/lib/profiles/signatory.factory.ts
  src/app/lib/profiles/wallet.contract.ts
  src/app/lib/profiles/wallet.ts
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Authentication.ts
Labels: refactor

#1514 refactor: highlight HD wallets in portfolio
  src/app/components/Label/Label.styles.tsx
  src/app/components/Label/Label.test.tsx
  src/app/components/Label/Label.tsx
  src/app/components/Label/__snapshots__/Label.test.tsx.snap
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.test.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
Labels: refactor

#1534 fix: prevent app from crashing when exiting create wallet flow
  src/domains/wallet/components/MnemonicList/MnemonicList.tsx
Labels: bugfix

#1533 refactor: transition from hd wallet create to import flow
  src/app/components/SidePanel/SidePanel.tsx
  src/domains/portfolio/pages/Portfolio/Portfolio.tsx
Labels: refactor

#1542 chore: enable HD wallets in development
  src/app/lib/profiles/profile.contract.ts
  src/app/lib/profiles/profile.test.ts
  src/app/lib/profiles/profile.ts
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.tsx
  src/domains/wallet/hooks/use-import-options.tsx
Labels: chore

#1544 feat: add minimize flow on side-panel
  src/app/components/SidePanel/SidePanel.tsx
  src/app/i18n/common/i18n.ts
Labels: feature

#1540 chore: adjust account name length
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.tsx
  src/domains/portfolio/components/ImportWallet/HDWallet/SummaryStep.test.tsx
  src/domains/portfolio/components/ImportWallet/HDWallet/UpdateAccountName.test.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/wallet/validations/AccountName.ts
Labels: chore

#1536 refactor: unconfirmed transaction fetching
  src/app/lib/mainsail/client.service.ts
  src/app/lib/profiles/transaction-index.contract.ts
  src/app/lib/profiles/transaction-index.test.ts
  src/app/lib/profiles/transaction-index.ts
  src/app/lib/profiles/transaction.aggregate.contract.ts
  src/app/lib/profiles/transaction.aggregate.test.ts
  src/app/lib/profiles/transaction.aggregate.ts
  src/domains/transaction/hooks/use-profile-transactions.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/tests/mocks/handlers/mainsail.devnet.ts
Labels: refactor
