Repository ArdentHQ/arkvault, pull requests merged in 2025-03, with the labels that each got.

#1014 refactor: add onboarding message for multiple addresses
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/portfolio/pages/Portfolio/Portfolio.tsx
  src/domains/wallet/i18n.ts
Labels: refactor

#1001 feat: implement recipient alias caching
  pnpm-lock.yaml
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/hooks/use-wallet-alias.tsx
  src/app/services/Cache.ts
  src/app/services/HttpClient.ts
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/hooks/use-transaction-recipients.ts
Labels: feature

#1017 fix: correct logo UI in welcome page
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.blocks.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: bugfix

#1010 refactor: wallet alias improvements
  src/app/hooks/use-wallet-alias.test.tsx
  src/app/hooks/use-wallet-alias.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
Labels: refactor

#1018 refactor: remove `@ardenthq/sdk-ledger` dependency
  package.json
  pnpm-lock.yaml
  scripts/install-local-sdk.js
  src/app/contexts/Ledger/Ledger.contracts.ts
  src/app/contexts/Ledger/index.ts
  src/app/contexts/Ledger/ledger.service.ts
  src/app/contexts/Ledger/ledger.transport.factory.ts
  src/app/contexts/Ledger/transport.ts
  src/app/lib/exceptions.ts
  src/app/lib/index.ts
  src/utils/ledger-test-helpers.ts
  vite.config.ts
Labels: refactor

#1021 refactor: sidepanel blur effect
  src/app/components/SidePanel/SidePanel.tsx
Labels: refactor

#1022 refactor: move toast position to bottom left
  src/app/services/ToastService.tsx
Labels: refactor

#1023 fix: temporarily disable ledger dependencies
  src/app/contexts/Ledger/ledger.transport.factory.ts
  src/utils/ledger-test-helpers.ts
Labels: bugfix

#1011 refactor: sync profile wallets only on active network
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/app/hooks/use-active-network.ts
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
  src/domains/profile/components/SelectAddress/SelectAddress.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRowMobile.test.tsx.snap
  src/domains/wallet/hooks/use-wallet-import.ts
Labels: refactor

#1025 tests: validator resignation tests
  src/app/components/Switch/Switch.tsx
  src/app/components/Switch/__snapshots__/Switch.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/transaction/components/InputFee/blocks/InputFeeAdvanced.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.test.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/tests/fixtures/coins/mainsail/devnet/delegates.json
  src/tests/fixtures/coins/mainsail/devnet/node-fees.json
  src/tests/fixtures/coins/mainsail/devnet/transactions/transfer.json
  src/tests/mocks/handlers/mainsail.devnet.ts
  src/utils/testing-library.tsx
  vitest.setup.ts
Labels: test

#1026 fix: prevent multiple rerenders in transfer form
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
Labels: bugfix

#1028 fix: wallet alias usage
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/hooks/use-wallet-alias.tsx
  src/domains/transaction/hooks/use-transaction-recipients.ts
Labels: bugfix

#1029 tests: fix validator registration tests
  src/domains/transaction/pages/SendRegistration/SendRegistration.Fee.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/tests/fixtures/coins/mainsail/devnet/transactions/validator-registration.json
  src/tests/fixtures/env/storage.json
  src/tests/mocks/handlers/mainsail.devnet.ts
  src/utils/testing-library.tsx
Labels: test

#1030 fix: disabled button issue in create address flow
  .github/workflows/test.yml
  src/domains/portfolio/components/CreateWallet/ConfirmPassphraseStep.tsx
  src/domains/wallet/components/CreateAddressSidePanel/CreateAddressSidePanel.test.tsx
  src/domains/wallet/components/CreateAddressSidePanel/CreateAddressSidePanel.tsx
Labels: bugfix

#1027 refactor: remove `sdk-cryptography` dependency
  package.json
  pnpm-lock.yaml
  scripts/install-local-sdk.js
  src/app/App.restore.test.tsx
  src/app/lib/crypto/bip44.ts
  src/app/lib/crypto/index.ts
  src/app/lib/crypto/pbkdf2.ts
  src/app/lib/crypto/uuid.ts
  src/app/lib/index.ts
  src/domains/exchange/hooks/use-order-status.ts
  src/domains/portfolio/components/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.tsx
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Authentication.ts
  src/domains/wallet/components/CreateAddressSidePanel/CreateAddressSidePanel.test.tsx
  src/utils/network-utils.ts
  src/utils/test-helpers.ts
  vite.config.ts
Labels: refactor

#1035 refactor: fix side panel width
  src/app/components/SidePanel/SidePanel.tsx
  src/domains/portfolio/components/AddressesSidePanel/MobileAddressRow.tsx
Labels: refactor

#1036 fix: selected addresses in side panel
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
Labels: bugfix

#1039 refactor: adjust import options ordering
  src/domains/wallet/hooks/use-import-options.test.tsx
  src/domains/wallet/hooks/use-import-options.tsx
Labels: refactor

#1034 refactor: improve import flow
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportDetailStep.tsx
Labels: refactor

#1040 refactor: update welcome images
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/domains/profile/components/WelcomeSlider/WelcomeSlider.tsx
  src/domains/profile/images/welcome-slide-1-dark.png
  src/domains/profile/images/welcome-slide-1-light.png
  src/domains/profile/images/welcome-slide-1-sm-dark.png
  src/domains/profile/images/welcome-slide-1-sm-light.png
  src/domains/profile/images/welcome-slide-2-dark.png
  src/domains/profile/images/welcome-slide-2-light.png
  src/domains/profile/images/welcome-slide-2-sm-dark.png
  src/domains/profile/images/welcome-slide-2-sm-light.png
  src/domains/profile/images/welcome-slide-3-dark.png
  src/domains/profile/images/welcome-slide-3-light.png
  src/domains/profile/images/welcome-slide-3-sm-dark.png
  src/domains/profile/images/welcome-slide-3-sm-light.png
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Labels: refactor

#1046 fix: vote block showing wrong validator
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Labels: bugfix

#1052 fix: ios sidepanel click
  src/app/components/SidePanel/SidePanel.tsx
Labels: bugfix

#1051 fix: action buttons missing on mobile screens
  src/app/components/SidePanel/SidePanel.tsx
Labels: bugfix

#1054 fix: addresses side panel focus
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
Labels: bugfix

#1047 refactor: move fee input to review step for transfer transactions
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Labels: refactor

#1056 refactor: transactions pages width increase
  src/domains/message/pages/SignMessage/SignMessage.tsx
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/VerifyMessage.tsx
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  tailwind.config.js
Labels: refactor

#1057 refactor: input password icon color
  src/app/components/Input/InputPassword.tsx
  src/app/components/Input/__snapshots__/InputPassword.test.tsx.snap
  src/app/components/PasswordValidation/__snapshots__/PasswordValidation.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/wallet/components/EncryptPasswordStep/__snapshots__/EncryptPasswordStep.test.tsx.snap
Labels: refactor

#1059 fix: handle `enter` key in import flow
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
Labels: bugfix

#1058 refactor: capitalize confirmation time
  src/app/i18n/common/i18n.ts
Labels: refactor

#1042 refactor: contract transaction details addressing section
  src/domains/transaction/components/VoteTransactionType/VoteTransactionType.tsx
  src/domains/transaction/hooks/use-transaction-recipients.ts
Labels: refactor

#1055 fix: vote form UI issues
  src/app/components/DetailWrapper/DetailWrapper.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/transaction/pages/SendVote/FormStep.tsx
Labels: bugfix

#1064 tests: update `contact` domain tests to use `Mainsail` network
  src/app/hooks/use-networks.test.tsx
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/ContactListItem/ContactListItem.test.tsx
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/components/ContactListItemMobile/ContactListItemMobile.test.tsx
  src/domains/contact/components/ContactListItemMobile/__snapshots__/ContactListItemMobile.test.tsx.snap
  src/domains/contact/components/CreateContact/CreateContact.test.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/tests/fixtures/env/storage.json
  src/utils/test-helpers.ts
  src/utils/testing-library.tsx
Labels: test

#1060 fix: create profile UI issues
  src/app/components/Header/Header.test.tsx
  src/app/components/Header/Header.tsx
  src/app/components/Header/__snapshots__/Header.test.tsx.snap
  src/app/components/StepHeader/__snapshots__/StepHeader.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.blocks.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
  src/domains/vote/components/VotesHeader/__snapshots__/VotesHeader.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: bugfix

#1067 refactor: update meta image
  public/meta-image.png
Labels: refactor

#1048 refactor: move fee options to review step for validator & username transactions
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/transaction/components/UsernameRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ReviewStep.tsx
  src/domains/transaction/hooks/useToggleFeeFields.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendUsernameResignation/FormStep.tsx
  src/domains/transaction/pages/SendUsernameResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.tsx
  src/domains/transaction/pages/SendValidatorResignation/FormStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.test.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
Labels: refactor

#1066 fix: dropdown hover state margin
  src/app/components/Dropdown/DropdownItem.tsx
Labels: bugfix

#1068 fix: progress lines styles
  src/app/components/StepHeader/__snapshots__/StepHeader.test.tsx.snap
  src/app/components/StepIndicator/StepIndicator.tsx
  src/app/components/StepIndicator/__snapshots__/StepIndicator.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/portfolio/components/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/Ledger/__snapshots__/ListenLedger.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/components/FeeField/__snapshots__/FeeField.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/wallet/components/CreateAddressSidePanel/CreateAddressSidePanel.tsx
Labels: bugfix

#1033 feat: import ledger addresses
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/app/assets/svg/index.ts
  src/app/assets/svg/ledger-import.svg
  src/app/contexts/Ledger/Ledger.contracts.ts
  src/app/contexts/Ledger/hooks/connection.ts
  src/app/contexts/Ledger/hooks/scanner.ts
  src/app/contexts/Ledger/index.ts
  src/app/contexts/Ledger/ledger.service.ts
  src/app/contexts/Ledger/utils/connection.ts
  src/app/contexts/Ledger/utils/validation.ts
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.Ledger.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.Ledger.test.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.blocks.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportDetailStep.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerConnectionStep.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerImportStep.blocks.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerImportStep.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.blocks.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.contracts.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.tsx
  src/domains/portfolio/pages/Portfolio/Portfolio.tsx
  src/domains/wallet/hooks/use-import-options.test.tsx
  src/domains/wallet/hooks/use-import-options.tsx
  src/domains/wallet/hooks/use-wallet-import.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/utils/get-default-alias.ts
  vite.config.ts
Labels: feature

#1069 fix: adjust tooltips blur
  src/app/components/SidePanel/SidePanel.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/styles/variables.css
Labels: bugfix

#1050 refactor: move fee input to review step for vote transactions
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
  src/domains/transaction/pages/SendVote/SendVote.contracts.ts
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/vote/pages/Votes/Votes.tsx
Labels: refactor

#1070 refactor: wallet encryption toggle
  src/domains/portfolio/components/CreateWallet/ConfirmPassphraseStep.tsx
  src/domains/portfolio/components/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportDetailStep.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Methods.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Mnemonic.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Validations.test.tsx
  src/domains/wallet/components/CreateAddressSidePanel/CreateAddressSidePanel.test.tsx
  src/domains/wallet/components/CreateAddressSidePanel/CreateAddressSidePanel.tsx
  src/domains/wallet/components/WalletEncryptionBanner.tsx/WalletEncryptionBanner.test.tsx
  src/domains/wallet/components/WalletEncryptionBanner.tsx/WalletEncryptionBanner.tsx
  src/domains/wallet/components/WalletEncryptionBanner.tsx/index.ts
  src/domains/wallet/i18n.ts
Labels: refactor

#1044 refactor: settings page design
  src/app/assets/images/index.ts
  src/app/assets/images/profile-image-example-dark.svg
  src/app/assets/images/profile-image-example-dim.svg
  src/app/assets/images/profile-image-example-light.svg
  src/app/assets/images/profile-image-example-responsive-dark.svg
  src/app/assets/images/profile-image-example-responsive-dim.svg
  src/app/assets/images/profile-image-example-responsive-light.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/settings-dark.svg
  src/app/assets/svg/settings-light.svg
  src/app/components/ButtonGroup/ButtonGroup.tsx
  src/app/components/ButtonGroup/__snapshots__/ButtonGroup.test.tsx.snap
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Dropdown/DropdownItem.test.tsx
  src/app/components/Dropdown/DropdownItem.tsx
  src/app/components/Form/Form.tsx
  src/app/components/Layout/components/Page/Page.contracts.ts
  src/app/components/Layout/components/Page/Page.tsx
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/ListDivided/ListDivided.tsx
  src/app/components/ListDivided/ListDividedItem.tsx
  src/app/components/ListDivided/__snapshots__/ListDivided.test.tsx.snap
  src/app/components/ListDivided/__snapshots__/ListDividedItem.test.tsx.snap
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/app/components/SelectProfileImage/SelectProfileImage.tsx
  src/app/components/SelectProfileImage/__snapshots__/SelectProfileImage.test.tsx.snap
  src/app/components/SideBar/SideBar.tsx
  src/app/components/SideBar/SideBarItem/SideBarItem.tsx
  src/app/components/SideBar/SideBarItem/__snapshots__/SideBarItem.test.tsx.snap
  src/app/components/SideBar/__snapshots__/SideBar.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/setting/components/SettingsPageWrapper/SettingsPageWrapper.tsx
  src/domains/setting/hooks/use-handle-servers.ts
  src/domains/setting/hooks/use-settings-menu.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Export/Export.tsx
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/General.blocks.tsx
  src/domains/setting/pages/General/General.tsx
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/Password.tsx
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/Servers.tsx
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/setting/pages/Servers/blocks/CustomPeers.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/__snapshots__/TransactionExportForm.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/styles/base.css
Labels: refactor

#1065 tests: update dashboard tests to use mainsail network
  .github/workflows/test.yml
  src/domains/dashboard/components/FilterWallets/FilterWallets.test.tsx
  src/domains/dashboard/components/FilterWallets/__snapshots__/FilterWallets.test.tsx.snap
  src/domains/dashboard/components/FilterWallets/hooks.test.tsx
  src/domains/dashboard/components/PortfolioBreakdown/PortfolioBreakdown.test.tsx
  src/domains/dashboard/hooks/use-latest-transactions.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.Transactions.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.WalletActions.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/tests/fixtures/coins/mainsail/devnet/delegates.json
  src/tests/fixtures/coins/mainsail/devnet/transactions.json
  src/tests/fixtures/coins/mainsail/devnet/wallets/0xcd15953dD076e56Dc6a5bc46Da23308Ff3158EE6.json
  src/tests/fixtures/env/storage.json
  src/tests/mocks/handlers/mainsail.devnet.ts
  src/utils/testing-library.tsx
Labels: test

#1071 tests: update `exchange` domain tests to use `Mainsail` network
  src/domains/exchange/components/DeleteExchangeTransaction/DeleteExchangeTransaction.test.tsx
  src/domains/exchange/components/ExchangeForm/ExchangeForm.test.tsx
  src/domains/exchange/components/ExchangeForm/StatusStep.blocks.test.tsx
  src/domains/exchange/components/ExchangeTransactionsTable/ExchangeTransactionTable.test.tsx
  src/domains/exchange/components/ExchangeTransactionsTable/ExchangeTransactionsRow.test.tsx
  src/domains/exchange/components/ExchangeTransactionsTable/ExchangeTransactionsRowMobile.test.tsx
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.Ledger.test.tsx
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.test.tsx
  src/domains/exchange/hooks/use-order-status.test.tsx
  src/domains/exchange/pages/Exchange/Exchange.test.tsx
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/exchange/pages/ExchangeView/ExchangeView.test.tsx
  src/domains/exchange/utils/assertions.test.ts
  src/utils/testing-library.tsx
Labels: test

#1074 refactor: move send all button
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
Labels: refactor

#1081 refactor: manage button hover state
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
Labels: refactor

#1080 refactor: address switch button hover state
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
Labels: refactor

#1077 fix: transaction review padding
  src/domains/transaction/components/FeeField/__snapshots__/FeeField.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/__snapshots__/TransactionExportForm.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/components/UsernameRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/domains/transaction/components/VoteTransactionType/VoteTransactionType.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendUsernameResignation/FormStep.tsx
  src/domains/transaction/pages/SendUsernameResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/FormStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
Labels: bugfix

#1075 refactor: balance font size and padding
  src/app/components/Avatar/Avatar.tsx
  src/app/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.blocks.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/NavigationBar/components/HideBalance/HideBalance.tsx
  src/app/components/NavigationBar/components/UserMenu/UserMenu.tsx
  src/app/components/NavigationBar/components/UserMenu/__snapshots__/UserMenu.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/profile/components/ProfileAvatar/__snapshots__/ProfileAvatar.test.tsx.snap
  src/domains/profile/components/SelectAddress/__snapshots__/SelectAddress.test.tsx.snap
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/vote/components/VoteList/__snapshots__/VoteList.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/WalletDetailAddress/__snapshots__/WalletDetailAddress.test.tsx.snap
Labels: refactor

#1078 refactor: update avatar upload images
  src/app/assets/images/profile-image-example-dark.svg
  src/app/assets/images/profile-image-example-light.svg
  src/app/assets/images/profile-image-example-responsive-dark.svg
  src/app/assets/images/profile-image-example-responsive-light.svg
Labels: refactor

#1083 fix: avoid enabled `Continue` button with invalid form state
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
Labels: bugfix

#1084 fix: onboarding message z ordering
  src/app/components/SidePanel/SidePanel.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
Labels: bugfix

#1086 refactor: import flow styling
  src/app/components/Header/Header.tsx
  src/app/components/Header/__snapshots__/Header.test.tsx.snap
  src/app/components/StepHeader/__snapshots__/StepHeader.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.blocks.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.blocks.tsx
  src/domains/vote/components/VotesHeader/__snapshots__/VotesHeader.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: refactor

#1082 fix: switching profiles bug
  src/app/App.blocks.tsx
  src/app/components/NavigationBar/components/HideBalance/HideBalance.tsx
  src/app/components/NavigationBar/components/UserMenu/UserMenu.tsx
  src/app/components/ServerStatusIndicator/ServerStatusIndicator.test.tsx
  src/app/components/WalletListItem/WalletListItem.blocks.test.tsx
  src/app/components/WalletListItem/WalletListItem.blocks.tsx
  src/app/contexts/Configuration/Configuration.test.tsx
  src/app/contexts/Configuration/Configuration.tsx
  src/app/hooks/use-profile-synchronizer.resync.test.tsx
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-server-health-status.test.tsx
  src/app/hooks/use-server-health-status.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/profile/hooks/use-welcome-modal.ts
  src/domains/setting/pages/Servers/blocks/NodesStatus.tsx
  src/domains/setting/pages/Servers/hooks/use-server-status.ts
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.tsx
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/wallet/components/WalletsList/WalletsList.tsx
  src/domains/wallet/hooks/use-wallet-config.ts
Labels: bugfix

#1089 fix: create profile ui issues
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  tailwind.config.js
Labels: bugfix

#1093 refactor: adjust import subtitles
  src/domains/wallet/i18n.ts
Labels: refactor

#1088 refactor: transaction history modal
  src/app/components/ButtonGroup/ButtonGroup.tsx
  src/app/components/ButtonGroup/__snapshots__/ButtonGroup.test.tsx.snap
  src/app/components/Input/InputDate.tsx
  src/app/components/Input/__snapshots__/InputDate.test.tsx.snap
  src/app/components/ListDivided/ListDividedItem.tsx
  src/app/components/ListDivided/__snapshots__/ListDivided.test.tsx.snap
  src/app/components/ListDivided/__snapshots__/ListDividedItem.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/BasicSettings.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/ColumnSettings.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/CsvSettings.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportModal.tsx
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/i18n.ts
Labels: refactor

#1097 refactor: options dropdown styling
  src/app/components/Dropdown/Dropdown.contracts.ts
  src/app/components/Dropdown/Dropdown.helpers.tsx
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Dropdown/DropdownItem.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/CsvSettings.tsx
Labels: refactor

#1098 fix: switching addresses count breaks transaction table
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Labels: bugfix

#1087 refactor: custom peers settings design
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/MobileTableElement/MobileTableElement.tsx
  src/app/components/Table/TableWrapper.tsx
  src/app/components/TruncatedWithTooltip/TruncatedWithTooltip.test.tsx
  src/app/components/TruncatedWithTooltip/TruncatedWithTooltip.tsx
  src/app/components/TruncatedWithTooltip/index.ts
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionTable.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/setting/pages/Servers/blocks/CustomPeers.tsx
  src/domains/setting/pages/Servers/blocks/NodesStatus.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/Signatures.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/__snapshots__/TransactionRecipients.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
Labels: refactor

#1101 fix: reset import state when closing side panel
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
Labels: bugfix

#1090 feat: address view toggle
  src/domains/dashboard/pages/Dashboard/Dashboard.contracts.ts
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.test.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.test.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.blocks.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/portfolio/hooks/use-address-panel.ts
  src/domains/portfolio/hooks/use-portfolio.ts
  src/domains/wallet/hooks/use-wallet-import.test.tsx
  src/domains/wallet/hooks/use-wallet-import.ts
  src/domains/wallet/i18n.ts
Labels: feature

#1105 fix: sidepanel wrapper blur
  src/app/components/SidePanel/SidePanel.tsx
Labels: bugfix

#1103 refactor: remove portfolio breakdown
  src/app/components/Graphs/DonutGraph/DonutGraph.blocks.tsx
  src/app/components/Graphs/DonutGraph/DonutGraph.contracts.ts
  src/app/components/Graphs/DonutGraph/DonutGraph.helpers.test.ts
  src/app/components/Graphs/DonutGraph/DonutGraph.helpers.ts
  src/app/components/Graphs/DonutGraph/DonutGraph.test.tsx
  src/app/components/Graphs/DonutGraph/DonutGraph.tsx
  src/app/components/Graphs/DonutGraph/__snapshots__/DonutGraph.helpers.test.ts.snap
  src/app/components/Graphs/DonutGraph/__snapshots__/DonutGraph.test.tsx.snap
  src/app/components/Graphs/DonutGraph/index.ts
  src/app/components/Graphs/GraphHoverAnimation/GraphHoverAnimation.contract.ts
  src/app/components/Graphs/GraphHoverAnimation/GraphHoverAnimation.test.tsx
  src/app/components/Graphs/GraphHoverAnimation/GraphHoverAnimation.tsx
  src/app/components/Graphs/GraphHoverAnimation/__snapshots__/GraphHoverAnimation.test.tsx.snap
  src/app/components/Graphs/GraphHoverAnimation/index.ts
  src/app/components/Graphs/Graphs.contracts.ts
  src/app/components/Graphs/Graphs.shared.test.tsx
  src/app/components/Graphs/Graphs.shared.tsx
  src/app/components/Graphs/LineGraph/LineGraph.blocks.tsx
  src/app/components/Graphs/LineGraph/LineGraph.contracts.ts
  src/app/components/Graphs/LineGraph/LineGraph.helpers.test.ts
  src/app/components/Graphs/LineGraph/LineGraph.helpers.tsx
  src/app/components/Graphs/LineGraph/LineGraph.test.tsx
  src/app/components/Graphs/LineGraph/LineGraph.tsx
  src/app/components/Graphs/LineGraph/__snapshots__/LineGraph.helpers.test.ts.snap
  src/app/components/Graphs/LineGraph/__snapshots__/LineGraph.test.tsx.snap
  src/app/components/Graphs/LineGraph/index.ts
  src/app/components/Graphs/__snapshots__/Graphs.shared.test.tsx.snap
  src/domains/dashboard/components/PortfolioBreakdown/PortfolioBreakdown.blocks.tsx
  src/domains/dashboard/components/PortfolioBreakdown/PortfolioBreakdown.contracts.ts
  src/domains/dashboard/components/PortfolioBreakdown/PortfolioBreakdown.helpers.test.ts
  src/domains/dashboard/components/PortfolioBreakdown/PortfolioBreakdown.helpers.ts
  src/domains/dashboard/components/PortfolioBreakdown/PortfolioBreakdown.test.tsx
  src/domains/dashboard/components/PortfolioBreakdown/PortfolioBreakdown.tsx
  src/domains/dashboard/components/PortfolioBreakdown/__snapshots__/PortfolioBreakdown.test.tsx.snap
  src/domains/dashboard/components/PortfolioBreakdown/index.ts
  src/domains/dashboard/components/PortfolioBreakdownDetails/PortfolioBreakdownDetails.blocks.tsx
  src/domains/dashboard/components/PortfolioBreakdownDetails/PortfolioBreakdownDetails.contracts.ts
  src/domains/dashboard/components/PortfolioBreakdownDetails/PortfolioBreakdownDetails.test.tsx
  src/domains/dashboard/components/PortfolioBreakdownDetails/PortfolioBreakdownDetails.tsx
  src/domains/dashboard/components/PortfolioBreakdownDetails/__snapshots__/PortfolioBreakdownDetails.test.tsx.snap
  src/domains/dashboard/components/PortfolioBreakdownDetails/index.ts
  src/domains/dashboard/hooks/use-portfolio-breakdown.ts
  src/domains/dashboard/i18n.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/portfolio/hooks/use-address-panel.ts
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.contracts.ts
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
Labels: refactor

#1076 tests: update `portfolio` tests to use Mainsail network
  .github/workflows/test.yml
  src/app/components/SidePanel/SidePanel.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.test.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/portfolio/components/AddressesSidePanel/MobileAddressRow.tsx
  src/domains/portfolio/components/AddressesSidePanel/index.ts
  src/domains/portfolio/components/CreateWallet/ConfirmPassphrase.test.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.test.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.tsx
  src/domains/portfolio/components/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/portfolio/components/CreateWallet/SuccessStep.test.tsx
  src/domains/portfolio/components/CreateWallet/WalletOverviewStep.test.tsx
  src/domains/portfolio/components/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Methods.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Mnemonic.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Validations.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.WIF.test.tsx
  src/domains/portfolio/hooks/use-address-panel.ts
  src/domains/portfolio/pages/Portfolio/Portfolio.tsx
  src/domains/wallet/components/CreateAddressSidePanel/index.ts
  src/tests/fixtures/coins/mainsail/devnet/wallets/0xfb36D3cc82953351A7f9a0Fd09c17D271ecBEB03.json
  src/tests/fixtures/env/storage.json
  src/tests/mocks/handlers/mainsail.devnet.ts
  src/utils/testing-library.tsx
Labels: test

#1106 tests: update profile domain tests to use Mainsail network
  .github/workflows/test.yml
  src/app/hooks/use-search-parameters-validation.test.ts
  src/app/hooks/use-search-parameters-validation.tsx
  src/domains/profile/components/DeleteProfile/DeleteProfile.test.tsx
  src/domains/profile/components/ProfileAvatar/ProfileAvatar.test.tsx
  src/domains/profile/components/ProfileAvatar/__snapshots__/ProfileAvatar.test.tsx.snap
  src/domains/profile/components/ProfileRow/ProfileRow.test.tsx
  src/domains/profile/components/Profiles/Profiles.test.tsx
  src/domains/profile/components/ResetProfile/ResetProfile.test.tsx
  src/domains/profile/components/SelectAddress/SelectAddress.test.tsx
  src/domains/profile/components/SelectAddress/__snapshots__/SelectAddress.test.tsx.snap
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
  src/domains/profile/components/WelcomeModal/WelcomeModal.test.tsx
  src/domains/profile/hooks/use-profile-addresses.test.tsx
  src/domains/profile/hooks/use-welcome-modal.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/tests/fixtures/coins/mainsail/manifest/default.json
  src/utils/testing-library.tsx
Labels: test

#1107 tests: update `settings` domain tests to use Mainsail network
  .github/workflows/test.yml
  src/domains/setting/hooks/use-profile-export.test.tsx
  src/domains/setting/pages/Export/Export.test.tsx
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/General.test.tsx
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/Password.test.tsx
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap.orig
  src/domains/setting/routing.test.ts
Labels: test

#1112 refactor: dont show hover side panel when deleting
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.tsx
Labels: refactor
