Repository ArdentHQ/arkvault, pull requests merged in 2025-02, with the labels that each got.

#935 refactor: make import dropdown selectable only
  src/app/components/Input/Input.tsx
  src/domains/setting/pages/General/General.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/MethodStep.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.WIF.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Labels: refactor

#934 refactor: enable address options when multiple addresses selected
  src/app/components/WalletListItem/WalletListItem.blocks.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.contracts.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/routing.ts
  src/domains/wallet/hooks/use-wallet-actions.test.tsx
  src/domains/wallet/hooks/use-wallet-actions.ts
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.ts
  src/router/paths.ts
  src/router/router.routes.test.ts
Labels: refactor

#942 fix: correct node peer status check
  src/utils/peers.ts
Labels: bugfix

#940 refactor: handle from/to addresses in multiview (desktop views)
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.helpers.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Labels: refactor

#947 fix: improve sender address handling in sender transfer form
  src/domains/transaction/hooks/use-send-transfer-form.ts
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Labels: bugfix

#946 refactor: change default labels
  src/app/contexts/Ledger/hooks/import.ts
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.Keyboard.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/wallet/utils/get-default-alias.test.ts
  src/domains/wallet/utils/get-default-alias.ts
Labels: refactor

#950 fix: sync portfolio txs when switching wallets with same selection size
  src/domains/transaction/hooks/use-profile-transactions.ts
Labels: bugfix

#949 fix: correct dark background color on tx rows mobile views
  src/app/components/Table/Mobile/MobileCard.tsx
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionTable.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRowMobile.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
Labels: bugfix

#948 fix: make transaction row addresses occupy available space
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.helpers.tsx
Labels: bugfix

#938 refactor: total amount label styles in multi-address tx table
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.helpers.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Labels: refactor

#945 refactor: enable sign message option in multiple-address view
  src/domains/message/pages/SignMessage/FormStep.tsx
  src/domains/message/pages/SignMessage/SignMessage.Ledger.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.tsx
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/hooks/use-wallet-actions.ts
Labels: refactor

#952 fix: correct width for larger screens on tx row addresses
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Labels: bugfix

#955 refactor: adjust transaction export to support multiple addresses
  package.json
  pnpm-lock.yaml
  src/app/components/WalletListItem/WalletListItem.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/BasicSettings.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/CsvSettings.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/TransactionExportForm.test.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/TransactionExportForm.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportForm/__snapshots__/TransactionExportForm.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportModal.contracts.ts
  src/domains/transaction/components/TransactionExportModal/TransactionExportModal.test.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportModal.tsx
  src/domains/transaction/components/TransactionExportModal/TransactionExportSuccess/TransactionExportSuccess.tsx
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/hooks/use-transaction-export.test.ts
  src/domains/transaction/components/TransactionExportModal/hooks/use-transaction-export.ts
  src/domains/transaction/components/TransactionExportModal/utils/transaction-exporter.factory.test.ts
  src/domains/transaction/components/TransactionExportModal/utils/transaction-exporter.factory.ts
  src/domains/wallet/components/WalletActionsModals/WalletActionsModals.contracts.tsx
  src/domains/wallet/components/WalletActionsModals/WalletActionsModals.test.tsx
  src/domains/wallet/components/WalletActionsModals/WalletActionsModals.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Labels: refactor

#951 refactor: display username in transaction details modal
  src/app/components/Address/Address.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/hooks/use-transaction-recipients.ts
Labels: refactor

#957 fix: vote and validator transaction sending
  src/domains/transaction/components/ValidatorRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendValidatorResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Labels: bugfix

#959 chore: transaction fee warning cleanup
  src/domains/transaction/components/FeeWarning/FeeWarning.test.tsx
  src/domains/transaction/components/FeeWarning/FeeWarning.tsx
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/components/FeeWarning/index.ts
  src/domains/transaction/hooks/use-fee-confirmation.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Labels: chore

#960 feat: implement username registration
  package.json
  pnpm-lock.yaml
  src/app/hooks/use-validation.ts
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/FeeField/FeeField.tsx
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/transaction/components/UsernameRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/UsernameRegistrationForm/UsernameRegistrationForm.tsx
  src/domains/transaction/components/UsernameRegistrationForm/index.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/routing.ts
  src/domains/transaction/validations/UsernameRegistration.ts
  src/domains/transaction/validations/index.ts
  src/domains/wallet/hooks/use-wallet-actions.test.tsx
  src/domains/wallet/hooks/use-wallet-actions.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.ts
  src/router/paths.ts
Labels: feature

#963 refactor: portfolio page title
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Labels: refactor

#965 fix: remove wallet from all networks on user deletion action
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/wallet/hooks/use-wallet-actions.ts
Labels: bugfix

#968 fix: properly update address selection upon wallet deletion
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/portfolio/hooks/use-portfolio.ts
  src/domains/wallet/hooks/use-wallet-actions.ts
Labels: bugfix

#970 fix: remove network step from send transfer form
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Labels: bugfix

#973 fix: resigned label color
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Labels: bugfix

#966 fix: transaction sending logic & UI issues
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ReviewStep.tsx
  src/domains/transaction/pages/SendUsernameResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/FormStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.tsx
Labels: bugfix

#974 fix: add nowrap to table headers
  src/domains/transaction/components/TransactionTable/TransactionTable.helpers.tsx
Labels: bugfix

#975 fix: remove wrap from method column
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionRecipient.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Labels: bugfix

#971 refactor: transaction amount column rename
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
Labels: refactor

#981 chore: ignore .vscode settings folder
  .gitignore
Labels: chore

#979 fix: remove duplicate addresses on sender modals
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendUsernameResignation/FormStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/FormStep.tsx
Labels: bugfix

#977 refactor: center profile creation page
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Labels: refactor

#983 fix: adjust truncation when alias changes
  src/app/components/Address/Address.tsx
Labels: bugfix

#987 refactor: reword multiple recipients tooltip
  src/domains/transaction/i18n.ts
Labels: refactor

#985 refactor: handle multipayment transactions
  package.json
  pnpm-lock.yaml
Labels: refactor

#990 refactor: initial loading screen navbar
  src/app/components/PageSkeleton/ProfilePageSkeleton.tsx
  src/app/components/PageSkeleton/__snapshots__/ProfilePageSkeleton.test.tsx.snap
Labels: refactor

#992 feat: make side panel ignore outside clicks on toasts
  src/app/components/SidePanel/SidePanel.tsx
Labels: feature

#984 fix: adjust transactions empty state
  src/domains/dashboard/i18n.ts
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
Labels: bugfix

#995 chore: update `PSDK` dependencies
  package.json
  pnpm-lock.yaml
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
Labels: chore

#997 fix: back to wallet redirection
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Labels: bugfix

#986 refactor: prefill sender when having only one wallet
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Labels: refactor

#988 refactor: adjust error state when deselecting all wallets
  src/app/components/MultiEntryItem/MultiEntryItem.tsx
  src/app/components/SidePanel/SidePanel.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/portfolio/components/AddressesSidePanel/MobileAddressRow.tsx
  tailwind.config.js
Labels: refactor

#993 fix: navigation submenu mobile
  src/app/assets/svg/arrows/index.ts
  src/app/assets/svg/arrows/sign-out.svg
  src/app/components/Dropdown/Dropdown.contracts.ts
  src/app/components/Dropdown/Dropdown.helpers.tsx
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Dropdown/DropdownItem.test.tsx
  src/app/components/Dropdown/DropdownItem.tsx
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.blocks.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/NavigationBar/components/UserMenu/UserMenu.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/NotificationsDropdown.tsx
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/app/components/ServerStatusIndicator/ServerStatusIndicator.tsx
  src/app/constants/navigation.ts
  src/app/i18n/common/i18n.ts
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/IOsInstructions/__snapshots__/IOsInstructions.test.tsx.snap
  src/domains/dashboard/components/PortfolioBreakdownDetails/__snapshots__/PortfolioBreakdownDetails.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/portfolio/components/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipientItem.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/__snapshots__/TransactionRecipients.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportError/__snapshots__/TransactionExportError.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportProgress/__snapshots__/TransactionExportProgress.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/TransactionExportSuccess/__snapshots__/TransactionExportSuccess.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.NetworkSelection.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: bugfix

#1000 refactor: adjust transactions table spacing
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.helpers.tsx
Labels: refactor

#994 refactor: move import address to side panel
  .github/workflows/test.yml
  src/app/assets/svg/address-import-method.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/ledger-import-method.svg
  src/app/assets/svg/mnemonic-import-method.svg
  src/app/assets/svg/public-key-import-method.svg
  src/app/assets/svg/secret-import-method.svg
  src/domains/dashboard/pages/Dashboard/Dashboard.Empty.blocks.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.Empty.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/portfolio/components/CreateWallet/ConfirmPassphraseStep.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportDetailStep.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Methods.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Mnemonic.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Validations.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.WIF.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerCancelling.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerConnectionStep.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerConnectionStep.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerImportStep.blocks.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerImportStep.blocks.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerImportStep.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerImportStep.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.blocks.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.blocks.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.Cancel.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.Keyboard.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.contracts.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/MethodStep.tsx
  src/domains/portfolio/components/ImportWallet/SuccessStep.tsx
  src/domains/portfolio/components/ImportWallet/__snapshots__/ImportWallet.WIF.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/index.ts
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/portfolio/pages/Portfolio/Portfolio.tsx
  src/domains/wallet/hooks/use-import-options.test.tsx
  src/domains/wallet/hooks/use-import-options.ts
  src/domains/wallet/hooks/use-import-options.tsx
  src/domains/wallet/hooks/use-wallet-actions.test.tsx
  src/domains/wallet/hooks/use-wallet-actions.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/index.tsx
  src/domains/wallet/routing.test.ts
  src/domains/wallet/routing.ts
  src/router/PreloadMiddleware.test.ts
  src/router/PreloadMiddleware.tsx
  src/router/paths.ts
  src/router/router.routes.test.ts
  src/router/router.routes.ts
Labels: refactor

#991 refactor: remove obsolete settings
  package.json
  pnpm-lock.yaml
  src/app/i18n/common/i18n.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx.orig
  src/domains/setting/cucumber/save-settings.ts
  src/domains/setting/i18n.ts
  src/tests/fixtures/env/storage-mainnet.json
  src/tests/fixtures/env/storage.json
Labels: refactor

#1007 refactor: handle known wallets for alias
  src/app/hooks/use-wallet-alias.test.tsx
  src/app/hooks/use-wallet-alias.tsx
  src/tests/mocks/handlers/devnet.ts
Labels: refactor

#1008 fix: trippy address input
  src/app/components/Input/InputSuggestion.tsx
  src/app/components/Input/__snapshots__/Input.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/SelectNetworkDropdown/__snapshots__/SelectNetworkDropdown.test.tsx.snap
  src/domains/wallet/components/WalletsList/__snapshots__/WalletsList.test.tsx.snap
Labels: bugfix

#1013 chore: update `PSDK` dependencies
  package.json
  pnpm-lock.yaml
Labels: chore
