Repository ArdentHQ/arkvault, pull requests merged in 2025-01, with the labels that each got.

#880 refactor: use mainsail fees
  package.json
  pnpm-lock.yaml
  src/app/services/HttpClient.ts
Labels: refactor

#882 refactor: display username in transactions details
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.tsx
Labels: refactor

#886 refactor: remove ligatures from addresses
  src/app/components/Address/AddressLink.tsx
  src/app/components/Amount/__snapshots__/AmountLabel.test.tsx.snap
  src/app/components/Label/Label.styles.tsx
  src/app/components/Label/__snapshots__/Label.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionTable.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRow.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRowMobile.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Labels: refactor

#887 chore: ignore psdk sourcemaps
  vite.config.ts
Labels: refactor

#891 fix: prevent early submission in the send transfer form
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Labels: bugfix

#892 chore: fix console dev errors
  src/app/components/Label/Label.tsx
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.blocks.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Table/TableRow.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/pages/WalletGroupPage/__snapshots__/WalletGroupPage.test.tsx.snap
Labels: chore

#890 refactor: transaction sorting to use API instead of doing it manually
  .github/workflows/test.yml
  src/domains/dashboard/hooks/use-latest-transactions.test.tsx
  src/domains/dashboard/hooks/use-latest-transactions.ts
  src/domains/transaction/hooks/use-profile-transactions.ts
Labels: refactor

#896 chore: fix `act` warning in wallet domain
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.Keyboard.test.tsx
Labels: chore

#888 refactor: wallet header redesign
  .github/workflows/test.yml
  src/app/components/Copy/Copy.test.tsx
  src/app/components/Copy/Copy.tsx
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.Actions.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.contracts.ts
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeaderMobile/WalletHeaderMobile.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeaderMobile/WalletHeaderMobile.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeaderMobile/__snapshots__/WalletHeaderMobile.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeaderMobile/index.ts
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.contracts.ts
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/index.ts
  src/styles/variables.css
  tailwind.config.js
Labels: refactor

#916 fix: restore tx sending
  src/app/components/StepNavigation/StepNavigation.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Labels: bugfix

#915 chore: update psdk dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#914 refactor: checkbox styles
  src/app/components/Checkbox/Checkbox.tsx
  src/app/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/profile/components/WelcomeModal/__snapshots__/WelcomeModal.test.tsx.snap
Labels: refactor

#919 refactor: restore wallet actions modal
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Labels: refactor

#911 feat: add support for multiple addresses
  .github/workflows/test.yml
  src/app/assets/svg/arrows/double-chevron.svg
  src/app/assets/svg/arrows/index.ts
  src/app/contexts/Configuration/Configuration.tsx
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.blocks.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/portfolio/components/PortfolioHeader/index.tsx
  src/domains/portfolio/hooks/use-portfolio.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.Actions.test.tsx
  src/domains/wallet/pages/WalletDetails/components/AddressesSidePanel/AddressRow.tsx
  src/domains/wallet/pages/WalletDetails/components/AddressesSidePanel/AddressesSidePanel.test.tsx
  src/domains/wallet/pages/WalletDetails/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Labels: feature

#918 refactor: dashboard setup card styles
  src/domains/dashboard/pages/Dashboard/Dashboard.Empty.blocks.tsx
Labels: refactor

#920 fix: persist state after address deletion
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/AddressesSidePanel/AddressesSidePanel.test.tsx
  src/domains/wallet/pages/WalletDetails/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Labels: bugfix

#923 refactor: update selected addresses when closing side panel
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/AddressesSidePanel/AddressesSidePanel.test.tsx
  src/domains/wallet/pages/WalletDetails/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Labels: refactor

#926 fix: show portfolio header only when profile has wallets
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Labels: bugfix

#917 refactor: use wallet alias hook
  src/app/hooks/use-wallet-alias.test.tsx
  src/app/hooks/use-wallet-alias.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/MultiSignatureDetail/components/TransactionDetailAddressList.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/components/TransactionDetailAddressList.tsx
  src/domains/transaction/components/MultiSignatureDetail/components/__snapshots__/TransactionDetailAddressList.test.tsx.snap
  src/domains/transaction/components/RecipientList/RecipientList.contracts.ts
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/TransactionRecipients.tsx
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/TransactionRecipientsMobile.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
Labels: refactor

#922 fix: correct outgoing & incoming transactions for multiple wallets
  package.json
  pnpm-lock.yaml
  src/domains/transaction/hooks/use-profile-transactions.ts
Labels: bugfix

#932 fix: semantic issue when having no vote
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Labels: bugfix
