Repository ArdentHQ/arkvault, pull requests merged in 2025-07, with the labels that each got.

#1324 refactor: sidepanel background dim
  src/app/components/SidePanel/SidePanel.tsx
Labels: refactor

#1323 fix: adjust dim mode config in base css
  src/styles/base.css
  tailwind.config.js
Labels: bugfix

#1320 test(lib): increase coverage
  .github/workflows/test.yml
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/app/components/Notifications/hooks/use-action-name-map.test.tsx
  src/app/components/Notifications/hooks/use-notifications.test.tsx
  src/app/components/Notifications/hooks/use-notifications.ts
  src/app/lib/mainsail/abstract-double.signatory.test.ts
  src/app/lib/mainsail/abstract.signatory.test.ts
  src/app/lib/mainsail/address.service.test.ts
  src/app/lib/mainsail/config.manager.test.ts
  src/app/lib/mainsail/exceptions.test.ts
  src/app/lib/mainsail/ledger.service.helpers.ts
  src/app/lib/mainsail/ledger.service.ts
  src/app/lib/mainsail/link.service.test.ts
  src/app/lib/mainsail/manifest.class.test.ts
  src/app/lib/mainsail/message.service.test.ts
  src/app/lib/mainsail/network-repository.ts
  src/app/lib/mainsail/network.test.ts
  src/app/lib/mainsail/networks.ts
  src/app/lib/mainsail/paginator.test.ts
  src/app/lib/mainsail/private-key.signatory.test.ts
  src/app/lib/mainsail/public-key.service.test.ts
  src/app/lib/profiles/authenticator.test.ts
  src/app/lib/profiles/notification.releases.service.ts
  src/app/lib/profiles/notification.repository.contract.ts
  src/app/lib/profiles/notification.repository.test.ts
  src/app/lib/profiles/notification.repository.ts
  src/app/lib/profiles/notification.service.ts
  src/app/lib/profiles/read-only-wallet.test.ts
  src/app/lib/profiles/read-only-wallet.ts
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/tests/fixtures/env/storage.json
  src/utils/testing-library.tsx
Labels: test

#1327 fix: correct alignment in validators table
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressTable.tsx
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
Labels: bugfix

#1332 fix: sign message buttons height and width
  src/domains/message/components/SignMessage/SignMessageSidePanel.tsx
Labels: bugfix

#1335 refactor: return method signature if unknown method
  src/domains/transaction/hooks/use-transaction-types.test.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
Labels: refactor

#1336 fix: load more transactions does not persist
  src/domains/transaction/hooks/use-profile-transactions.ts
Labels: bugfix

#1312 feat: update core delegate with bls
  .github/workflows/test.yml
  src/app/hooks/use-fees.ts
  src/app/lib/mainsail/confirmed-transaction.dto.ts
  src/app/lib/mainsail/contracts.ts
  src/app/lib/mainsail/fee.contract.ts
  src/app/lib/mainsail/fee.service.ts
  src/app/lib/mainsail/signed-transaction.dto.ts
  src/app/lib/mainsail/transaction-type.service.ts
  src/app/lib/mainsail/transaction.contract.ts
  src/app/lib/mainsail/transaction.service.ts
  src/app/lib/mainsail/wallet.dto.ts
  src/app/lib/profiles/read-only-wallet.contract.ts
  src/app/lib/profiles/read-only-wallet.ts
  src/app/lib/profiles/signed-transaction.dto.ts
  src/app/lib/profiles/transaction.dto.ts
  src/app/lib/profiles/validator.service.ts
  src/app/lib/profiles/wallet-transaction.service.contract.ts
  src/app/lib/profiles/wallet-transaction.service.ts
  src/app/lib/profiles/wallet.contract.ts
  src/app/lib/profiles/wallet.ts
  src/domains/transaction/components/FeeField/FeeField.tsx
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.test.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.Fee.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.Combined.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.Keyboard.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/validations/ValidatorRegistration.test.tsx
  src/domains/transaction/validations/ValidatorRegistration.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.ts
  src/tests/fixtures/transactions/index.ts
Labels: feature

#1331 refactor: ledger tab buttons position
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
Labels: refactor

#1343 fix: use `Method` label instead of `Category` in tx flow pages
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/UsernameRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendUsernameResignation/FormStep.tsx
  src/domains/transaction/pages/SendUsernameResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/FormStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
Labels: bugfix

#1344 fix: truncate failed label in tx table in mobile
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowId.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Labels: bugfix

#1348 fix: use available space for porftolio header address
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
Labels: bugfix

#1345 refactor: display fee amount in xs screens
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/domains/transaction/components/FeeField/__snapshots__/FeeField.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/InputFee/blocks/InputFeeSimple.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.Fees.test.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
Labels: refactor

#1354 test: disable e2e test workflows
  .github/workflows/e2e.yml
Labels: test

#1341 feat: send txs with legacy second signature
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/app/lib/mainsail/confirmed-transaction.dto.test.ts
  src/app/lib/mainsail/transaction.service.ts
  src/app/lib/mainsail/username.dto.test.ts
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Authentication.ts
  src/utils/testing-library.tsx
Labels: feature

#1355 fix: ensure ledger is connected when signing transactions
  src/app/lib/mainsail/transaction.service.ts
Labels: bugfix

#1364 test: lib profile transaction coverage
  .github/workflows/test.yml
  src/app/lib/profiles/transaction-index.test.ts
  src/app/lib/profiles/transaction.aggregate.test.ts
  src/app/lib/profiles/transaction.aggregate.ts
  src/app/lib/profiles/transaction.collection.test.ts
  src/app/lib/profiles/transaction.dto.test.ts
  src/app/lib/profiles/transaction.mapper.test.ts
Labels: test

#1361 test: enable `setting` e2e tests
  .github/workflows/e2e.yml
  src/domains/setting/cucumber/save-settings.feature
  src/domains/setting/cucumber/save-settings.ts
  src/domains/wallet/e2e/common.ts
Labels: test

#1370 refactor: improve tooltip on mobile
  src/app/components/Tooltip/Tooltip.tsx
Labels: refactor

#1378 ci: remove ledger usb dependency setup steps
  .github/workflows/test.yml
Labels: ci

#1379 test: fix failing snapshots in settings tests
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
Labels: test

#1357 refactor: mnemonic/secret autocomplete issues
  src/app/components/Input/Input.tsx
  src/app/components/Input/InputAddress.tsx
  src/app/components/Input/InputPassword.tsx
  src/app/components/Input/__snapshots__/InputPassword.test.tsx.snap
  src/app/components/PasswordValidation/__snapshots__/PasswordValidation.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/ImportDetailStep.tsx
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/SelectAddressDropdown/__snapshots__/SelectAddressDropdown.test.tsx.snap
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorRow/__snapshots__/ValidatorRow.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/__snapshots__/ValidatorsTable.test.tsx.snap
  src/domains/wallet/components/EncryptPasswordStep/__snapshots__/EncryptPasswordStep.test.tsx.snap
  src/styles/app.css
Labels: refactor

#1381 fix: avoid import text overlay on small height screens
  src/domains/profile/pages/Welcome/Welcome.tsx
Labels: bugfix

#1383 chore: update explorer URL
  src/app/lib/mainsail/network.test.ts
  src/app/lib/mainsail/networks/mainsail.devnet.ts
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRowMobile.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: chore

#1376 test: add portfolio e2e tests
  .github/workflows/e2e.yml
  src/domains/message/cucumber/verify-message.ts
  src/domains/portfolio/cucumber/create-wallet.feature
  src/domains/portfolio/cucumber/create-wallet.ts
  src/domains/portfolio/cucumber/delete-wallet.feature
  src/domains/portfolio/cucumber/delete-wallet.ts
  src/domains/portfolio/cucumber/import-wallet.feature
  src/domains/portfolio/cucumber/import-wallet.ts
  src/domains/portfolio/cucumber/portfolio-transactions.feature
  src/domains/portfolio/cucumber/portfolio-transactions.ts
  src/domains/portfolio/cucumber/update-wallet-name.feature
  src/domains/portfolio/cucumber/update-wallet-name.ts
  src/domains/portfolio/e2e/common.ts
  src/domains/setting/cucumber/save-settings.ts
  src/domains/transaction/cucumber/multiple-transfer.ts
  src/domains/transaction/cucumber/single-transfer.ts
  src/domains/transaction/cucumber/transaction-routing.ts
  src/domains/transaction/cucumber/validator-registration.ts
  src/domains/transaction/cucumber/validator-resignation.ts
  src/domains/transaction/cucumber/vote-transaction.ts
  src/domains/wallet/cucumber/create-wallet.ts
  src/domains/wallet/cucumber/wallet-details.feature
  src/domains/wallet/cucumber/wallet-details.ts
  src/domains/wallet/cucumber/wallet-routing.feature
  src/domains/wallet/cucumber/wallet-routing.ts
  src/tests/fixtures/coins/mainsail/devnet/transactions/byAddress/0xA46720D11Bc8408411Cbd45057EeDA6d32D2Af54-1-30.json
  src/tests/fixtures/coins/mainsail/devnet/transactions/byAddress/0xcd15953dD076e56Dc6a5bc46Da23308Ff3158EE6-1-30.json
  src/tests/fixtures/coins/mainsail/devnet/transactions/byAddress/0xcd15953dD076e56Dc6a5bc46Da23308Ff3158EE6-2-30.json
  src/utils/e2e-utils.ts
Labels: test

#1382 fix: use correct chain id in ledger signing
  src/app/hooks/use-search-parameters-validation.test.ts
  src/app/hooks/use-search-parameters-validation.tsx
  src/app/lib/mainsail/ledger.service.ts
  src/app/lib/mainsail/networks/mainsail.devnet.ts
  src/app/lib/mainsail/transaction.service.ts
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/tests/fixtures/coins/mainsail/devnet/configuration.json
  src/tests/fixtures/coins/mainsail/devnet/cryptoConfiguration.json
  src/tests/fixtures/coins/mainsail/manifest/default.json
  src/tests/fixtures/env/storage.json
  src/utils/testing-library.tsx
Labels: bugfix

#1366 fix: form label alignment
  src/app/components/DetailWrapper/DetailWrapper.tsx
  src/app/components/Header/Header.tsx
  src/app/components/Header/__snapshots__/Header.test.tsx.snap
  src/app/components/StepHeader/StepHeader.test.tsx
  src/app/components/StepHeader/StepHeader.tsx
  src/app/components/StepHeader/__snapshots__/StepHeader.test.tsx.snap
  src/app/components/StepIndicator/StepIndicator.test.tsx
  src/app/components/StepIndicator/StepIndicator.tsx
  src/app/components/StepIndicator/__snapshots__/StepIndicator.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.blocks.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/components/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/portfolio/components/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/Ledger/__snapshots__/ListenLedger.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/components/VotesHeader/__snapshots__/VotesHeader.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: bugfix

#1402 chore: update network configs
  .env.example
  .env.test
  src/app/lib/mainsail/networks/mainsail.devnet.ts
  src/app/lib/mainsail/networks/mainsail.mainnet.ts
Labels: chore

#1397 fix: await ledger signing steps when sending transaction
  src/app/hooks/use-profile-synchronizer.resync.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Labels: bugfix

#1407 test: fix flaky `settings` domain test coverage
  src/domains/setting/pages/Servers/Servers.test.tsx
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
Labels: test

#1389 test: app lib mainsail coverage
  .github/workflows/test.yml
  src/app/lib/mainsail/abstract.signatory.test.ts
  src/app/lib/mainsail/cache.test.ts
  src/app/lib/mainsail/client.service.test.ts
  src/app/lib/mainsail/client.service.ts
  src/app/lib/mainsail/config.manager.test.ts
  src/app/lib/mainsail/config.manager.ts
  src/app/lib/mainsail/config.repository.test.ts
  src/app/lib/mainsail/config.test.ts
  src/app/lib/mainsail/confirmed-transaction.dto.test.ts
  src/app/lib/mainsail/fee.service.test.ts
  src/app/lib/mainsail/http-client.test.ts
  src/app/lib/mainsail/http-client.ts
  src/app/lib/mainsail/http-exceptions.test.ts
  src/app/lib/mainsail/http-response.test.ts
  src/app/lib/mainsail/ledger.service.test.ts
  src/app/lib/mainsail/ledger.signatory.test.ts
  src/app/lib/mainsail/link.service.test.ts
  src/app/lib/mainsail/message.service.test.ts
  src/app/lib/mainsail/network.test.ts
  src/app/lib/mainsail/networks/mainsail.devnet.test.ts
  src/app/lib/mainsail/networks/mainsail.mainnet.test.ts
  src/app/lib/mainsail/signatory.service.test.ts
  src/app/lib/mainsail/signatory.test.ts
  src/app/lib/mainsail/signed-transaction.dto.test.ts
  src/app/lib/mainsail/transaction-type.service.test.ts
  src/app/lib/mainsail/transaction-type.service.ts
  src/app/lib/mainsail/transaction.service.test.ts
  src/app/lib/mainsail/transactions.collection.test.ts
  src/app/lib/mainsail/usernames.collection.test.ts
  src/app/lib/mainsail/wallet.dto.test.ts
  src/app/lib/mainsail/wallets.collection.test.ts
Labels: test

#1398 refactor: handle user rejection elegantly
  src/domains/transaction/components/ErrorStep/ErrorStep.test.tsx
  src/domains/transaction/components/ErrorStep/ErrorStep.tsx
  src/domains/transaction/i18n.ts
Labels: refactor

#1411 chore: merge feat/mainsail into evm-demo
  .github/workflows/test.yml
  src/app/hooks/use-profile-synchronizer.resync.test.tsx
  src/app/lib/mainsail/abstract.signatory.test.ts
  src/app/lib/mainsail/cache.test.ts
  src/app/lib/mainsail/client.service.test.ts
  src/app/lib/mainsail/client.service.ts
  src/app/lib/mainsail/config.manager.test.ts
  src/app/lib/mainsail/config.manager.ts
  src/app/lib/mainsail/config.repository.test.ts
  src/app/lib/mainsail/config.test.ts
  src/app/lib/mainsail/confirmed-transaction.dto.test.ts
  src/app/lib/mainsail/fee.service.test.ts
  src/app/lib/mainsail/http-client.test.ts
  src/app/lib/mainsail/http-client.ts
  src/app/lib/mainsail/http-exceptions.test.ts
  src/app/lib/mainsail/http-response.test.ts
  src/app/lib/mainsail/ledger.service.test.ts
  src/app/lib/mainsail/ledger.signatory.test.ts
  src/app/lib/mainsail/link.service.test.ts
  src/app/lib/mainsail/message.service.test.ts
  src/app/lib/mainsail/network.test.ts
  src/app/lib/mainsail/networks/mainsail.devnet.test.ts
  src/app/lib/mainsail/networks/mainsail.mainnet.test.ts
  src/app/lib/mainsail/signatory.service.test.ts
  src/app/lib/mainsail/signatory.test.ts
  src/app/lib/mainsail/signed-transaction.dto.test.ts
  src/app/lib/mainsail/transaction-type.service.test.ts
  src/app/lib/mainsail/transaction-type.service.ts
  src/app/lib/mainsail/transaction.service.test.ts
  src/app/lib/mainsail/transactions.collection.test.ts
  src/app/lib/mainsail/usernames.collection.test.ts
  src/app/lib/mainsail/wallet.dto.test.ts
  src/app/lib/mainsail/wallets.collection.test.ts
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/setting/pages/Servers/Servers.test.tsx
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/components/ErrorStep/ErrorStep.test.tsx
  src/domains/transaction/components/ErrorStep/ErrorStep.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Labels: chore

#1418 fix: tx block status font weight
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.tsx
Labels: bugfix
