Repository ArdentHQ/arkvault, pull requests merged in 2025-06, with the labels that each got.

#1262 fix: ledger not signing transactions
  src/app/lib/mainsail/transaction.service.ts
  src/app/lib/profiles/profile.ts
  src/app/lib/profiles/wallet.ts
  src/domains/message/components/SignMessage/SignMessageSidePanel.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/utils/assertions.test.ts
Labels: bugfix

#1261 fix: infinite rendering issue in vote tx page
  src/domains/transaction/components/FeeField/FeeField.tsx
Labels: bugfix

#1265 test: increase utils coverage
  .github/workflows/test.yml
  src/utils/assertions.test.ts
  src/utils/delay.test.ts
  src/utils/environment.test.ts
  src/utils/network-utils.test.ts
  src/utils/peers.test.ts
  src/utils/peers.ts
  src/utils/platform.test.ts
  src/utils/profile-peers.test.ts
  src/utils/profile-peers.ts
  src/utils/server-utils.test.ts
  src/utils/server-utils.ts
  src/utils/theme.test.ts
  vitest.config.ts
Labels: test

#1268 test: increase test coverage for validations
  .github/workflows/test.yml
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Common.test.tsx
  src/domains/transaction/validations/DelegateRegistration.test.ts
  src/domains/transaction/validations/SendTransfer.test.tsx
  src/domains/transaction/validations/SendVote.test.tsx
  src/domains/transaction/validations/UsernameRegistration.test.ts
  src/domains/transaction/validations/UsernameRegistration.ts
  src/domains/transaction/validations/ValidatorRegistration.test.tsx
  src/utils/testing-library.tsx
Labels: test

#1272 test: increase coverage for `src/app/libs/helpers`
  .github/workflows/test.yml
  src/app/lib/helpers/fast-sort.test.ts
  src/app/lib/helpers/filter.test.ts
  src/app/lib/helpers/has.test.ts
  src/app/lib/helpers/index-of.test.ts
  src/app/lib/helpers/slice.test.ts
  src/app/lib/helpers/slice.ts
  src/app/lib/helpers/unset.test.ts
  src/app/lib/helpers/unset.ts
  src/app/lib/helpers/validator.test.ts
Labels: test

#1271 test: increase transaction hooks coverage
  .github/workflows/test.yml
  src/domains/transaction/hooks/use-profile-transactions.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/hooks/use-transaction-types.test.tsx
  src/domains/transaction/hooks/use-transaction-url.test.tsx
Labels: test

#1274 test: lib profiles helpers coverage
  src/app/lib/profiles/helpers/attribute-bag.test.ts
  src/app/lib/profiles/helpers/avatar.test.ts
  src/app/lib/profiles/helpers/currency.test.ts
  src/app/lib/profiles/helpers/queue.test.ts
Labels: test

#1276 test: app lib markets coverage
  .github/workflows/test.yml
  src/app/lib/markets/drivers/coincap/index.test.ts
  src/app/lib/markets/drivers/coincap/transformers/historical-price-transformer.ts
  src/app/lib/markets/drivers/coincap/utils.test.ts
  src/app/lib/markets/drivers/coingecko/index.test.ts
  src/app/lib/markets/drivers/coingecko/transformers/historical-price-transformer.test.ts
  src/app/lib/markets/drivers/coingecko/transformers/historical-volume-transformer.test.ts
  src/app/lib/markets/drivers/coingecko/transformers/market-transformer.test.ts
  src/app/lib/markets/drivers/cryptocompare/index.test.ts
  src/app/lib/markets/drivers/cryptocompare/index.ts
  src/app/lib/markets/drivers/cryptocompare/transformers/historical-price-transformer.test.ts
  src/app/lib/markets/drivers/cryptocompare/transformers/historical-volume-transformer.test.ts
  src/app/lib/markets/drivers/cryptocompare/transformers/market-transformer.test.ts
  src/app/lib/markets/fixtures/coingecko/coin.json
  src/app/lib/markets/fixtures/coingecko/coins-list.json
  src/app/lib/markets/fixtures/coingecko/history.json
  src/app/lib/markets/fixtures/coingecko/market-chart.json
  src/app/lib/markets/fixtures/coingecko/simple-price.json
  src/app/lib/markets/fixtures/cryptocompare/histoday.json
  src/app/lib/markets/fixtures/cryptocompare/price.json
  src/app/lib/markets/fixtures/cryptocompare/pricemultifull.json
  src/app/lib/markets/index.test.ts
Labels: test

#1267 refactor: dim theme for transactions page
  src/app/components/Button/Button.styles.ts
  src/app/components/Checkbox/Checkbox.tsx
  src/app/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/app/components/CopyOrDownload/__snapshots__/CopyOrDownload.test.tsx.snap
  src/app/components/Divider/Divider.tsx
  src/app/components/Divider/__snapshots__/Divider.test.tsx.snap
  src/app/components/Dropdown/Dropdown.helpers.tsx
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.blocks.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Table/Mobile/MobileCard.tsx
  src/app/components/Table/Mobile/MobileSection.tsx
  src/app/components/TableRemoveButton/__snapshots__/TableRemoveButton.test.tsx.snap
  src/app/components/Tabs/Tabs.tsx
  src/app/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionTable.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRow.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRowMobile.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/portfolio/components/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.blocks.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/portfolio/components/WalletHeader/WalletHeader.blocks.tsx
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/components/WelcomeModal/__snapshots__/WelcomeModal.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowId.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowSkeleton.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/styles/base.css
  src/styles/tooltips.css
Labels: refactor

#1277 refactor: dim theme for error pages
  src/app/components/Input/Input.tsx
  src/app/components/Input/__snapshots__/Input.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/TextArea/TextArea.tsx
  src/app/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/domains/error/images/connection-error-dim.svg
  src/domains/error/images/generic-error-dim.svg
  src/domains/error/images/index.ts
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/profile/components/SelectAddress/__snapshots__/SelectAddress.test.tsx.snap
  src/domains/profile/components/SelectAddressDropdown/__snapshots__/SelectAddressDropdown.test.tsx.snap
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorRow/__snapshots__/ValidatorRow.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/__snapshots__/ValidatorsTable.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
Labels: refactor

#1279 refactor: dim theme for exchange pages
  src/app/components/Button/Button.styles.ts
  src/app/components/Card/Card.tsx
  src/app/components/Card/__snapshots__/Card.test.tsx.snap
  src/app/components/Loader/__snapshots__/Loader.test.tsx.snap
  src/app/components/Spinner/Spinner.styles.ts
  src/app/components/Spinner/__snapshots__/Spinner.test.tsx.snap
  src/app/components/TableRemoveButton/__snapshots__/TableRemoveButton.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/FormStep.blocks.tsx
  src/domains/exchange/components/ExchangeForm/FormStep.tsx
  src/domains/exchange/components/ExchangeForm/ReviewStep.tsx
  src/domains/exchange/components/ExchangeForm/StatusStep.blocks.tsx
  src/domains/exchange/components/ExchangeForm/StatusStep.tsx
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/exchange/components/ExchangeGrid/__snapshots__/ExchangeGrid.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionTable.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRow.test.tsx.snap
  src/domains/exchange/components/ExchangeTransactionsTable/__snapshots__/ExchangeTransactionsRowMobile.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/Ledger/__snapshots__/ListenLedger.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/LedgerConfirmation/__snapshots__/LedgerConfirmation.test.tsx.snap
  src/styles/base.css
Labels: refactor

#1282 refactor: dim theme for contacts page
  src/app/components/Header/Header.tsx
  src/app/components/Header/__snapshots__/Header.test.tsx.snap
  src/app/components/MobileTableElement/MobileTableElement.tsx
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/components/ContactListItemMobile/ContactListItemMobile.tsx
  src/domains/contact/components/ContactListItemMobile/__snapshots__/ContactListItemMobile.test.tsx.snap
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.blocks.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRowMobile.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorRow/__snapshots__/ValidatorRowMobile.test.tsx.snap
  src/domains/vote/components/VotesHeader/__snapshots__/VotesHeader.test.tsx.snap
Labels: refactor

#1288 chore: update major versions in eslint dependencies
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/components/Input/InputCurrency.test.tsx
  src/app/components/PageSkeleton/__snapshots__/PageSkeleton.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/SelectNetworkDropdown/__snapshots__/SelectNetworkDropdown.test.tsx.snap
  src/app/components/WalletListItem/WalletListItem.contracts.tsx
  src/app/hooks/use-exchange-rate.test.tsx
  src/app/lib/helpers/fast-sort.ts
  src/app/lib/profiles/transaction.aggregate.ts
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/exchange/components/ExchangeForm/ExchangeForm.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.test.tsx
  src/domains/profile/hooks/use-welcome-modal.test.tsx
  src/domains/profile/pages/ImportProfile/ProfileFormStep.test.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionBlocks.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.Fee.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.Fees.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.Combined.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorVoteAmount.test.tsx
  src/domains/wallet/hooks/use-import-options.tsx
  src/router/PreloadMiddleware.test.ts
  tsconfig.eslint.json
Labels: chore

#1293 chore: improve types
  src/app/lib/helpers/clone-deep.test.ts
  src/app/lib/helpers/qrcode.test.ts
  src/app/lib/helpers/set.test.ts
  src/app/lib/mainsail/helpers/hosts.test.ts
  src/app/lib/markets/index.ts
Labels: chore

#1290 refactor: dim theme for votes pages
  src/app/assets/images/index.ts
  src/app/assets/images/trash-dim.svg
  src/app/components/ListDivided/ListDividedItem.tsx
  src/app/components/ListDivided/__snapshots__/ListDivided.test.tsx.snap
  src/app/components/ListDivided/__snapshots__/ListDividedItem.test.tsx.snap
  src/app/components/Pagination/Pagination.tsx
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/app/components/Toast/Toast.styles.ts
  src/app/components/Toast/__snapshots__/Toast.test.tsx.snap
  src/app/services/ToastService.tsx
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRowMobile.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressTable.tsx
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorFooter/ValidatorFooter.styles.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorFooter/ValidatorFooter.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorFooter/__snapshots__/ValidatorFooter.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorRow.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorRowMobile.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/__snapshots__/ValidatorRow.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorRow/__snapshots__/ValidatorRowMobile.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorsTable.tsx
  src/domains/vote/components/ValidatorsTable/__snapshots__/ValidatorsTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/styles/base.css
Labels: refactor

#1296 chore: additional dependency updates
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/components/Accordion/Accordion.contracts.ts
  src/app/components/Address/Address.tsx
  src/app/components/DeleteResource/DeleteResource.tsx
  src/app/components/Dropdown/Dropdown.contracts.ts
  src/app/components/Icon/Icon.tsx
  src/app/components/Input/Input.tsx
  src/app/components/Modal/Modal.blocks.tsx
  src/app/components/Modal/Modal.tsx
  src/app/components/MultiEntryItem/MultiEntryItem.tsx
  src/app/components/SelectDropdown/SelectDropdown.contracts.ts
  src/app/components/SidePanel/SidePanel.tsx
  src/app/components/TableRemoveButton/TableRemoveButton.tsx
  src/app/lib/helpers/get.ts
  src/app/lib/helpers/has.ts
  src/app/lib/helpers/set.ts
  src/app/lib/helpers/unset.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.Empty.Slider.tsx
  src/domains/exchange/components/ExchangeForm/ExchangeForm.test.tsx
  src/domains/message/components/SignMessage/SignMessageSidePanel.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/portfolio/components/AddressesSidePanel/DeleteAddressMessage.tsx
  src/domains/portfolio/components/AddressesSidePanel/MobileAddressRow.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
  src/domains/profile/components/Profiles/Profiles.tsx
  src/domains/profile/components/WelcomeSlider/WelcomeSlider.tsx
  src/domains/setting/pages/Servers/Servers.test.tsx
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/components/FilterTransactions/use-transaction-type-filters.ts
  src/domains/transaction/components/RecipientsModal/RecipientsList.tsx
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionRecipient.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetail.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.contracts.ts
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorVoteAmount.test.tsx
  src/domains/vote/components/VotesFilter/VotesFilter.contracts.ts
  src/domains/wallet/components/MnemonicVerification/MnemonicVerificationInput.tsx
  vitest.setup.ts
Labels: chore

#1287 feat: handle locked fee on transactions table
  .github/workflows/test.yml
  src/domains/transaction/components/TransactionDetail/TransactionSummary/TransactionSummary.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
Labels: feature

#1295 feat: highlight locked fee balance requirement
  .github/workflows/test.yml
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ReviewStep.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/validations/ValidatorRegistration.test.tsx
  src/domains/transaction/validations/ValidatorRegistration.ts
Labels: feature

#1307 refactor: improve sync time & cache validators
  src/app/lib/profiles/validator-syncer.service.ts
  src/app/lib/profiles/validator.service.ts
Labels: refactor

#1310 fix: center align rank in wallet vote info
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Labels: bugfix

#1311 refactor: hide validator registration if already registered
  src/app/lib/mainsail/wallet.dto.ts
Labels: refactor
