Repository ArdentHQ/arkvault, pull requests merged in 2025-05, with the labels that each got.

#1199 fix: unable to add recipients in multipayments
  src/app/lib/sdk/network.ts
Labels: bugfix

#1198 refactor: enable BLS key validation
  package.json
  pnpm-lock.yaml
  src/app/lib/mainsail/public-key.service.ts
  src/app/lib/sdk/extended-public-key.contract.ts
  src/app/lib/sdk/extended-public-key.service.ts
  src/app/lib/sdk/public-key.contract.ts
  src/app/lib/sdk/public-key.service.ts
  src/domains/transaction/validations/ValidatorRegistration.ts
Labels: refactor

#1200 refactor: onboarding tooltip for single address
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/wallet/i18n.ts
Labels: refactor

#1204 chore: disable tests in CI per domain
  .github/workflows/test.yml
Labels: chore

#1202 refactor: use hosts config to validate username & validator public key
  src/domains/transaction/components/UsernameRegistrationForm/FormStep.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/FormStep.tsx
  src/domains/transaction/validations/UsernameRegistration.ts
  src/domains/transaction/validations/ValidatorRegistration.ts
Labels: refactor

#1206 test: enable portfolio domain tests
  .github/workflows/test.yml
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.test.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.test.tsx
  src/domains/portfolio/components/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Methods.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Mnemonic.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Validations.test.tsx
  src/utils/testing-library.tsx
Labels: test

#1209 test: enable error/exchange domain tests
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/app/lib/mainsail/crypto/identities/keys.ts
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.test.tsx
  src/utils/testing-library.tsx
Labels: test

#1207 test: enable transactions domain a-o tests
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.test.tsx
  src/domains/portfolio/components/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Methods.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Mnemonic.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Validations.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/ConfirmRemovePendingTransaction.test.tsx
  src/domains/transaction/components/ConfirmRemovePendingTransaction/ConfirmRemovePendingTransaction.tsx
  src/domains/transaction/components/ConfirmRemovePendingTransaction/index.ts
  src/domains/transaction/components/FeeField/FeeField.test.tsx
  src/domains/transaction/components/FeeField/__snapshots__/FeeField.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/FilterTransactions.test.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/InputFee/blocks/InputFeeAdvanced.tsx
  src/domains/transaction/components/InputFee/blocks/InputFeeAdvancedAddon.tsx
  src/domains/transaction/routing.test.ts
  src/utils/testing-library.tsx
  vitest.setup.ts
Labels: test

#1208 test: enable application components/hooks tests
  .github/workflows/test.yml
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-search-parameters-validation.test.ts
  src/app/hooks/use-search-parameters-validation.tsx
  src/app/hooks/use-wallet-alias.test.tsx
  src/app/lib/mainsail/crypto/identities/keys.ts
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportWallet.Mnemonic.test.tsx
  src/tests/fixtures/coins/mainsail/devnet/notification-transactions.json
  src/utils/testing-library.tsx
Labels: test

#1215 fix: bls key never accepted
  pnpm-lock.yaml
  src/domains/transaction/validations/ValidatorRegistration.ts
Labels: bugfix

#1210 test: enable transactions domain p-s tests
  .github/workflows/test.yml
  src/domains/transaction/components/RecipientsModal/RecipientsList.test.tsx
  src/domains/transaction/components/RecipientsModal/RecipientsTable.test.tsx
  src/domains/transaction/components/SearchRecipient/SearchRecipient.test.tsx
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
Labels: test

#1213 test: enable message/network domain tests
  .github/workflows/test.yml
  src/domains/message/hooks/use-message-signer.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.Encrypted.Mnemonic.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.Encrypted.Secret.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.test.tsx
  src/domains/message/pages/VerifyMessage/VerifyMessage.test.tsx
  vite.config.ts
  vitest.setup.ts
Labels: test

#1218 fix: handle outgoing incoming filter with more than one wallet
  src/app/lib/profiles/transaction.aggregate.ts
  src/domains/transaction/components/Transactions/Transactions.test.tsx
Labels: bugfix

#1211 test: enable transactions domain t-z tests
  .github/workflows/test.yml
  src/app/contexts/Environment/Environment.test.tsx
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-wallet-alias.test.tsx
  src/domains/network/components/NetworkOptions/NetworkOptions.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionId/TransactionId.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/TransactionRecipients.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/__snapshots__/TransactionRecipients.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionResponsiveIcon/TransactionResponsiveIcon.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionResponsiveIcon/TransactionResponsiveIcon.tsx
  src/domains/transaction/components/TransactionDetail/TransactionResponsiveIcon/index.ts
  src/domains/transaction/components/TransactionDetail/TransactionType/TransactionType.test.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/utils/transaction-csv-formatter.factory.test.ts
  src/domains/transaction/components/TransactionExportModal/utils/transaction-exporter.factory.test.ts
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.test.tsx
  src/domains/transaction/components/TransactionSuccessful/hooks/useConfirmedTransaction.test.ts
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.contracts.ts
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/index.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionBlocks.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMobile.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipient.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.helpers.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/__snapshots__/UnconfirmedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/Transactions.test.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.test.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/tests/fixtures/transactions/index.ts
  src/tests/mocks/networks.ts
Labels: test

#1219 refactor: cleanup network domain & tests
  .github/workflows/test.yml
  src/app/components/NetworkIcon/NetworkIcon.test.tsx
  src/app/components/NetworkIcon/NetworkIcon.tsx
  src/app/components/NetworkIcon/__snapshots__/NetworkIcon.test.tsx.snap
  src/app/components/NetworkIcon/index.ts
  src/app/components/SelectNetworkDropdown/SelectNetworkDropdown.blocks.tsx
  src/domains/network/components/NetworkOptions/NetworkOptions.contracts.ts
  src/domains/network/components/NetworkOptions/NetworkOptions.styles.ts
  src/domains/network/components/NetworkOptions/NetworkOptions.test.tsx
  src/domains/network/components/NetworkOptions/NetworkOptions.tsx
  src/domains/network/components/NetworkOptions/__snapshots__/NetworkOptions.test.tsx.snap
  src/domains/network/components/NetworkOptions/index.ts
  src/domains/network/components/SelectNetwork/SelectNetwork.test.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
  src/domains/network/components/SelectNetwork/index.ts
  src/domains/setting/pages/Servers/blocks/NodesStatus.tsx
  src/domains/transaction/pages/SendTransfer/NetworkStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.NetworkSelection.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/wallet/components/NetworkStep/NetworkStep.test.tsx
  src/domains/wallet/components/NetworkStep/NetworkStep.tsx
  src/domains/wallet/components/NetworkStep/index.ts
  src/domains/wallet/components/WalletDetailNetwork/WalletDetailNetwork.test.tsx
  src/domains/wallet/components/WalletDetailNetwork/WalletDetailNetwork.tsx
  src/tests/mocks/networks.ts
Labels: refactor

#1224 refactor: implement debouncing in server form
  src/domains/setting/pages/Servers/blocks/ServerFormModal.tsx
Labels: refactor

#1216 test: enable profile domain tests
  .github/workflows/test.yml
  src/app/hooks/use-search-parameters-validation.tsx
  src/app/hooks/use-wallet-alias.test.tsx
  src/app/lib/profiles/profile.ts
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/profile/hooks/use-profile-addresses.test.tsx
  src/domains/profile/hooks/use-profile-import.test.tsx
  src/domains/profile/pages/ImportProfile/ImportProfile.test.tsx
  src/domains/profile/pages/ImportProfile/ProcessingImportStep.test.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/wallet/hooks/use-wallet-import.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/utils/get-default-alias.test.ts
  src/tests/mocks/networks.ts
  src/utils/assertions.test.ts
  src/utils/assertions.ts
  vite.config.ts
Labels: test

#1226 chore: remove unused files
  src/app/components/Badge/Badge.test.tsx
  src/app/components/Badge/Badge.tsx
  src/app/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/app/components/Badge/index.ts
  src/app/components/CircularProgressBar/CircularProgressBar.test.tsx
  src/app/components/CircularProgressBar/CircularProgressBar.tsx
  src/app/components/CircularProgressBar/__snapshots__/CircularProgressBar.test.tsx.snap
  src/app/components/CircularProgressBar/index.ts
  src/app/components/LayoutControls/LayoutControls.test.tsx
  src/app/components/LayoutControls/LayoutControls.tsx
  src/app/components/LayoutControls/__snapshots__/LayoutControls.test.tsx.snap
  src/app/components/LayoutControls/index.ts
  src/app/components/Range/Range.test.tsx
  src/app/components/Range/Range.tsx
  src/app/components/Range/__snapshots__/Range.test.tsx.snap
  src/app/components/Range/index.ts
  src/app/components/SearchBar/SearchBar.test.tsx
  src/app/components/SearchBar/SearchBar.tsx
  src/app/components/SearchBar/__snapshots__/SearchBar.test.tsx.snap
  src/app/components/SearchBar/index.ts
  src/app/lib/exceptions.ts
  src/app/lib/index.ts
  src/app/lib/mainsail/coin.contract.ts
  src/app/lib/mainsail/coin.provider.ts
  src/app/lib/mainsail/crypto/utils.ts
  src/app/lib/mainsail/known-wallet.service.ts
  src/app/lib/mainsail/usernames.service.ts
  src/app/lib/profiles/helpers/index.ts
  src/app/lib/profiles/helpers/promise.ts
  src/app/lib/sdk/index.ts
  src/domains/dashboard/hooks/index.ts
  src/domains/dashboard/hooks/use-latest-transactions.test.tsx
  src/domains/dashboard/hooks/use-latest-transactions.ts
  src/domains/exchange/services/index.ts
  src/domains/transaction/components/RecipientList/RecipientList.styles.ts
  src/domains/transaction/hooks/use-musig-generated-wallet.ts
  src/domains/wallet/data.ts
  src/domains/wallet/hooks/use-display-wallets.contracts.ts
  src/utils/is-element-truncated.ts
Labels: chore

#1222 refactor: username icon in single view
  src/app/assets/svg/index.ts
  src/app/assets/svg/user-circled-check-mark.svg
  src/app/components/WalletIcons/WalletIcons.test.tsx
  src/app/components/WalletIcons/WalletIcons.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
Labels: refactor

#1227 test: enable vote domain tests
  .github/workflows/test.yml
  src/app/lib/profiles/validator.service.ts
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRowMobile.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorRow/__snapshots__/ValidatorRow.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorRow/__snapshots__/ValidatorRowMobile.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorsTable.test.tsx
  src/domains/vote/components/ValidatorsTable/__snapshots__/ValidatorsTable.test.tsx.snap
  src/domains/vote/components/VoteList/__snapshots__/VoteList.test.tsx.snap
  src/domains/vote/hooks/use-vote-filters.test.tsx
  src/domains/vote/hooks/use-vote-filters.ts
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/tests/fixtures/coins/mainsail/devnet/validators.json
Labels: test

#1230 refactor: accessibility for import wallet
  src/domains/portfolio/components/ImportWallet/MethodStep.tsx
Labels: refactor

#1229 refactor: remove unused dependencies
  package.json
  pnpm-lock.yaml
  vite.config.ts
Labels: refactor

#1223 fix: importing profile with password fails
  src/app/lib/profiles/profile.importer.ts
Labels: bugfix

#1228 refactor: sidepanel ux & ui improvements
  src/app/components/SidePanel/SidePanel.test.tsx
  src/app/components/SidePanel/SidePanel.tsx
  src/app/components/SidePanel/SidePanelStyledStep.tsx
  src/domains/message/pages/SignMessage/SuccessStep.tsx
  src/domains/message/pages/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.blocks.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.test.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.tsx
  src/domains/portfolio/components/CreateWallet/SuccessStep.tsx
  src/domains/portfolio/components/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.blocks.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.test.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportDetailStep.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.tsx
  src/domains/portfolio/components/ImportWallet/MethodStep.tsx
  src/domains/portfolio/components/ImportWallet/SuccessStep.tsx
  src/styles/scrollbars.css
Labels: refactor

#1234 refactor: restore `bip39` checks
  src/app/lib/mainsail/address.service.ts
  src/app/lib/mainsail/private-key.service.ts
  src/app/lib/mainsail/public-key.service.ts
Labels: refactor

#1232 test: enable settings domain tests
  .github/workflows/test.yml
  src/domains/setting/pages/Servers/Servers.test.tsx
  src/domains/setting/pages/Servers/Servers.tsx
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/setting/pages/Servers/blocks/CustomPeers.tsx
  src/domains/setting/pages/Servers/hooks/use-custom-networks.ts
  src/utils/profile-peers.ts
  src/utils/server-utils.ts
Labels: test

#1237 refactor: simplify http client
  src/app/lib/mainsail/cache.test.ts
  src/app/lib/mainsail/cache.ts
  src/app/lib/mainsail/http-client.test.ts
  src/app/lib/mainsail/http-client.ts
  src/app/lib/mainsail/http-exceptions.ts
  src/app/lib/mainsail/http-request.models.ts
  src/app/lib/mainsail/http-request.ts
  src/app/lib/mainsail/http-response.ts
  src/app/lib/mainsail/http.ts
  src/app/lib/markets/drivers/coingecko/index.ts
  src/app/lib/profiles/exchange-rate.service.ts
  src/app/lib/profiles/known-wallet.service.ts
  src/app/services/HttpClient.ts
  src/app/services/index.tsx
  src/domains/exchange/services/exchange.service.ts
  src/domains/setting/hooks/use-handle-servers.ts
  src/domains/transaction/hooks/use-block-height.ts
  src/utils/peers.ts
Labels: refactor

#1238 refactor: allow tabbing into dropdowns
  .github/workflows/test.yml
  src/app/components/Dropdown/Dropdown.contracts.ts
  src/app/components/Dropdown/Dropdown.helpers.tsx
  src/app/components/Dropdown/Dropdown.test.tsx
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/vote/components/VotesFilter/VotesFilter.test.tsx
  src/domains/vote/components/VotesFilter/VotesFilter.tsx
Labels: refactor

#1236 fix: auth with encrypted password
  src/app/lib/profiles/wif.ts
  src/domains/message/pages/SignMessage/SignMessage.Encrypted.Mnemonic.test.tsx
  src/domains/message/pages/SignMessage/SignMessage.Encrypted.Secret.test.tsx
Labels: bugfix

#1240 refactor: stop event bubbling for copy icon
  src/app/components/Clipboard/ClipboardIcon.tsx
Labels: refactor

#1241 fix: addresses panel mode selector in `xs` screen
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
Labels: bugfix

#1242 refactor: remove static & dynamic notions from fees
  .github/workflows/test.yml
  src/app/hooks/use-fees.ts
  src/app/lib/mainsail/fee.contract.ts
  src/app/lib/mainsail/fee.service.ts
  src/app/lib/mainsail/network.ts
  src/domains/transaction/components/FeeField/FeeField.test.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.test.tsx
  src/domains/transaction/hooks/use-fee-confirmation.ts
  src/types/index.ts
  src/utils/network-utils.ts
  vitest.setup.ts
Labels: refactor

#1250 chore: update dependencies to patch versions
  package.json
  pnpm-lock.yaml
Labels: chore

#1249 refactor: implement `eth_estimateGas`
  package.json
  pnpm-lock.yaml
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-fees.ts
  src/app/lib/mainsail/client.service.ts
  src/app/lib/mainsail/fee.contract.ts
  src/app/lib/mainsail/fee.service.ts
  src/domains/transaction/components/FeeField/FeeField.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.Fee.test.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/tests/mocks/handlers/mainsail.devnet.ts
  src/tests/mocks/handlers/mainsail.mainnet.ts
Labels: refactor

#1253 chore: update `vitest` & `testing-library` dependencies
  package.json
  pnpm-lock.yaml
  src/app/hooks/use-profile-synchronizer.resync.test.tsx
  src/app/hooks/use-time-format.test.tsx
Labels: chore

#1255 fix: transfer tx sending with large amounts
  .github/workflows/test.yml
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-fees.ts
  src/app/hooks/use-validation.test.tsx
  src/app/lib/mainsail/fee.service.ts
  src/app/lib/mainsail/transaction.contract.ts
  src/app/lib/mainsail/transaction.service.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/FeeField/FeeField.test.tsx
  src/domains/transaction/components/FeeField/FeeField.tsx
  src/domains/transaction/components/InputFee/InputFee.contracts.ts
  src/domains/transaction/components/InputFee/InputFee.test.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/InputFee/blocks/InputFeeAdvanced.tsx
  src/domains/transaction/hooks/use-fee-confirmation.ts
  src/domains/transaction/hooks/use-send-transfer-form.ts
  src/domains/transaction/hooks/useToggleFeeFields.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.Fees.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.contracts.ts
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/validations/Common.ts
  src/types/index.ts
Labels: bugfix

#1257 fix: tooltip position for input warnings
  src/app/components/Input/Input.tsx
  src/app/components/Input/__snapshots__/Input.test.tsx.snap
  src/app/components/Input/__snapshots__/InputCounter.test.tsx.snap
  src/app/components/Input/__snapshots__/InputPassword.test.tsx.snap
  src/app/components/PasswordValidation/__snapshots__/PasswordValidation.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/domains/profile/components/SelectAddress/__snapshots__/SelectAddress.test.tsx.snap
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/EncryptPasswordStep/__snapshots__/EncryptPasswordStep.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
Labels: bugfix
