Repository ArdentHQ/arkvault, pull requests merged in 2025-04, with the labels that each got.

#1113 fix: import create buttons on votes page
  src/app/i18n/common/i18n.ts
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.blocks.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/cucumber/create-wallet.ts
  src/domains/wallet/cucumber/import-wallet.ts
  src/domains/wallet/e2e/common.ts
Labels: bugfix

#1116 chore: use github.ref over head_ref for concurrency
  .github/workflows/snapshots.yml
Labels: chore

#1117 fix: sync on import for votes page
  src/domains/vote/pages/Votes/Votes.tsx
Labels: bugfix

#1115 refactor: back button hover style on side panel
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
Labels: refactor

#1119 refactor: handle deleted wallet on address panel single view
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
Labels: refactor

#1108 tests: update vote domain tests to use Mainsail network
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRowMobile.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorFooter/ValidatorFooter.test.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorFooter/__snapshots__/ValidatorFooter.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorRow.test.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorRowMobile.test.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorVoteAmount.test.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/__snapshots__/ValidatorRow.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorRow/__snapshots__/ValidatorRowMobile.test.tsx.snap
  src/domains/vote/components/ValidatorsTable/ValidatorsTable.test.tsx
  src/domains/vote/components/ValidatorsTable/__snapshots__/ValidatorsTable.test.tsx.snap
  src/domains/vote/components/VotesHeader/VotesHeader.test.tsx
  src/domains/vote/hooks/use-vote-actions.test.ts
  src/domains/vote/hooks/use-vote-filters.test.tsx
  src/domains/vote/hooks/use-vote-query-parameters.test.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/tests/fixtures/coins/mainsail/devnet/wallets/0xcd15953dD076e56Dc6a5bc46Da23308Ff3158EE6.json
  src/utils/testing-library.tsx
Labels: test

#1124 chore: update workflows to pnpm 10
  .github/workflows/build.yml
  .github/workflows/deps.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/snapshots.yml
  .github/workflows/test.yml
Labels: chore

#1122 fix: scan modal issue
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Labels: bugfix

#1123 tests: update wallet domain tests to use Mainsail network
  .github/workflows/test.yml
  src/domains/network/components/NetworkIcon/__snapshots__/NetworkIcon.test.tsx.snap
  src/domains/network/components/NetworkOptions/NetworkOptions.test.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.test.tsx
  src/domains/profile/components/ProfileRow/ProfileRow.test.tsx
  src/domains/wallet/components/DeleteWallet/DeleteWallet.test.tsx
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/NetworkStep/NetworkStep.test.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.test.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.test.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/components/WalletActionsModals/WalletActionsModals.test.tsx
  src/domains/wallet/components/WalletDetailAddress/WalletDetailAddress.test.tsx
  src/domains/wallet/components/WalletDetailAddress/__snapshots__/WalletDetailAddress.test.tsx.snap
  src/domains/wallet/components/WalletDetailNetwork/WalletDetailNetwork.test.tsx
  src/domains/wallet/components/WalletDetailNetwork/__snapshots__/WalletDetailNetwork.test.tsx.snap
  src/domains/wallet/components/WalletsControls/WalletsControls.test.tsx
  src/domains/wallet/components/WalletsList/WalletsList.test.tsx
  src/domains/wallet/components/WalletsList/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/hooks/use-display-wallets.test.tsx
  src/domains/wallet/hooks/use-wallet-actions.test.tsx
  src/domains/wallet/hooks/use-wallet-config.test.tsx
  src/domains/wallet/hooks/use-wallet-import.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-options.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transaction-counts.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.test.tsx
  src/domains/wallet/utils/get-default-alias.test.ts
  src/domains/wallet/utils/is-fully-synced.test.ts
  src/tests/mocks/networks.ts
  src/utils/testing-library.tsx
Labels: test

#1118 fix: address row hover state
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.tsx
Labels: bugfix

#1100 feat: sign ledger transactions
  package.json
  pnpm-lock.yaml
  src/app/contexts/Ledger/hooks/scanner.ts
  src/app/contexts/Ledger/utils/connection.ts
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerTabs.tsx
  src/domains/transaction/components/AuthenticationStep/Ledger/ListenLedger.tsx
  src/domains/transaction/hooks/use-send-transfer-form.ts
  src/domains/transaction/hooks/use-transaction-builder.ts
  src/domains/transaction/pages/SendTransfer/LedgerReview.tsx
Labels: feature

#1128 chore: remove unused components
  .github/workflows/test.yml
  src/app/components/WalletListItem/WalletListItem.blocks.test.tsx
  src/app/components/WalletListItem/WalletListItem.blocks.tsx
  src/app/components/WalletListItem/WalletListItem.contracts.tsx
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/WalletListItemSkeleton.test.tsx
  src/app/components/WalletListItem/WalletListItemSkeleton.tsx
  src/app/components/WalletListItem/index.ts
  src/domains/wallet/components/WalletsList/WalletsList.contracts.tsx
  src/domains/wallet/components/WalletsList/WalletsList.test.tsx
  src/domains/wallet/components/WalletsList/WalletsList.tsx
  src/domains/wallet/components/WalletsList/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/components/WalletsList/index.tsx
Labels: chore

#1126 tests: update the remaining tests to use Mainsail network
  src/app/App.blocks.test.tsx
  src/app/components/Amount/Amount.test.tsx
  src/app/components/Amount/AmountLabel.test.tsx
  src/app/components/Input/InputAddress.test.tsx
  src/app/components/Layout/components/Page/Page.test.tsx
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/NavigationBar/components/HideBalance/HideBalance.test.tsx
  src/app/components/NavigationBar/components/UserMenu/UserMenu.test.tsx
  src/app/components/NavigationBar/components/UserMenu/__snapshots__/UserMenu.test.tsx.snap
  src/app/components/Notifications/NotificationItem.test.tsx
  src/app/components/Notifications/NotificationTransactionItem.test.tsx
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/Notifications/hooks/use-action-name-map.test.tsx
  src/app/components/Notifications/hooks/use-notifications.test.tsx
  src/app/components/SelectNetworkDropdown/SelectNetworkDropdown.test.tsx
  src/app/components/SelectNetworkDropdown/__snapshots__/SelectNetworkDropdown.test.tsx.snap
  src/app/components/ServerStatusIndicator/ServerStatusIndicator.test.tsx
  src/app/components/WalletIcons/WalletIcons.test.tsx
  src/app/components/WalletListItem/WalletListItem.blocks.test.tsx
  src/app/constants/navigation.test.ts
  src/app/contexts/Configuration/Configuration.test.tsx
  src/app/contexts/Ledger/Ledger.contracts.ts
  src/app/contexts/Ledger/hooks/connection.test.tsx
  src/app/contexts/Ledger/hooks/scanner.test.tsx
  src/app/contexts/Ledger/transport.test.ts
  src/app/contexts/Ledger/utils/connection.test.ts
  src/app/contexts/Ledger/utils/validation.test.ts
  src/app/contexts/Zendesk/Zendesk.test.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/router/UrlValidationMiddleware.test.tsx
  src/tests/fixtures/coins/mainsail/devnet/notification-transactions.json
  src/tests/fixtures/env/storage.json
  src/utils/network-utils.test.ts
  src/utils/profile-utils.test.ts
  src/utils/testing-library.tsx
Labels: test

#1131 tests: update hooks tests to use Mainsail network
  .github/workflows/test.yml
  src/app/App.blocks.test.tsx
  src/app/hooks/env.test.tsx
  src/app/hooks/use-auto-signout.test.tsx
  src/app/hooks/use-balance-visibility.test.tsx
  src/app/hooks/use-deeplink.test.tsx
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-network-options.test.tsx
  src/app/hooks/use-networks.test.tsx
  src/app/hooks/use-profile-balance.test.tsx
  src/app/hooks/use-profile-synchronizer.resync.test.tsx
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-query-parameters.test.tsx
  src/app/hooks/use-query-parameters.ts
  src/app/hooks/use-search-wallet.test.tsx
  src/app/hooks/use-server-health-status.test.tsx
  src/app/hooks/use-theme.test.tsx
  src/app/hooks/use-time-format.test.tsx
  src/app/hooks/use-wallet-alias.test.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/tests/fixtures/coins/mainsail/devnet/wallets/0xA46720D11Bc8408411Cbd45057EeDA6d32D2Af54.json
  src/tests/mocks/handlers/mainsail.devnet.ts
Labels: test

#1125 fix: refetch nonce when redoing same transaction
  package.json
  pnpm-lock.yaml
  src/app/services/Cache.ts
  src/app/services/HttpClient.ts
  src/domains/transaction/hooks/use-send-transfer-form.ts
Labels: bugfix

#1133 refactor: remove `ARK` package
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  scripts/install-local-sdk.js
  src/app/App.test.tsx
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/contexts/Configuration/Configuration.tsx
  src/app/contexts/Environment/Environment.test.tsx
  src/app/hooks/use-networks.test.tsx
  src/app/hooks/use-search-parameters-validation.test.ts
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/ExchangeForm.tsx
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/network/components/SelectNetwork/SelectNetwork.test.tsx
  src/domains/profile/components/DeleteProfile/DeleteProfile.test.tsx
  src/domains/profile/components/Profiles/Profiles.test.tsx
  src/domains/profile/hooks/use-profile-import.ts
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/wallet/components/NetworkStep/NetworkStep.test.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/hooks/use-wallet-import.test.tsx
  src/domains/wallet/hooks/use-wallet-sync.test.tsx
  src/tests/fixtures/env/storage.json
  src/tests/fixtures/env/testing-passwords.json
  src/tests/fixtures/profile/import/d2_test_wallets-empty.json
  src/tests/fixtures/profile/import/d2_test_wallets.json
  src/utils/environment.ts
  src/utils/migrations/initialize-ark-networks.ts
  src/utils/migrations/remove-ark-networks.ts
  src/utils/migrations/update-ark-constants.ts
  src/utils/migrations/update-ark-nethashes.ts
  src/utils/network-utils.ts
  src/utils/test-helpers.ts
  src/utils/testing-library.tsx
  vite.config.ts
  vitest.setup.ts
Labels: refactor

#1135 refactor: adjust copy to clipboard icon color
  src/app/components/Address/Address.tsx
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/contact/components/ContactListItemMobile/__snapshots__/ContactListItemMobile.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/portfolio/components/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
Labels: refactor

#1140 fix: nonce issue when voting
  src/domains/transaction/components/UsernameRegistrationForm/UsernameRegistrationForm.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.tsx
  src/domains/transaction/hooks/use-multisignature-registration.ts
  src/domains/transaction/hooks/use-send-transfer-form.ts
  src/domains/transaction/hooks/use-transaction-builder.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendUsernameResignation/SendUsernameResignation.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.tsx
Labels: bugfix

#1141 feat: add tooltips for receive and send buttons on navbar
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.blocks.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.blocks.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipientItem.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/ConfirmRemovePendingTransaction/__snapshots__/ConfirmRemovePendingTransaction.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/Signatures.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipantItem.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/components/TransactionExportModal/utils/__snapshots__/transaction-to-csv-converter.test.ts.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowMobile.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/__snapshots__/UnconfirmedTransactionTable.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: feature

#1136 refactor: enable exchange send transfer tests
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.Ledger.test.tsx
Labels: refactor

#1150 fix: ensure recipient does not wrap for contracts
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
Labels: bugfix

#1147 refactor: add periods were required
  src/app/components/PasswordValidation/__snapshots__/PasswordValidation.test.tsx.snap
  src/app/components/QRModal/__snapshots__/QRModal.test.tsx.snap
  src/app/hooks/use-search-parameters-validation.tsx
  src/app/hooks/use-validation.test.tsx
  src/app/i18n/common/i18n.ts
  src/domains/contact/i18n.ts
  src/domains/dashboard/i18n.ts
  src/domains/exchange/i18n.ts
  src/domains/message/i18n.ts
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.test.tsx
  src/domains/profile/i18n.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/Ledger/__snapshots__/ListenLedger.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/LedgerConfirmation/__snapshots__/LedgerConfirmation.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/i18n.ts
  src/domains/vote/i18n.ts
  src/domains/wallet/components/EncryptPasswordStep/__snapshots__/EncryptPasswordStep.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/i18n.ts
Labels: refactor

#1145 refactor: add tooltips for navbar buttons
  src/app/components/NavigationBar/components/HideBalance/HideBalance.tsx
  src/app/components/Notifications/NotificationsDropdown.tsx
  src/app/components/ServerStatusIndicator/ServerStatusIndicator.tsx
  src/app/i18n/common/i18n.ts
Labels: refactor

#1151 refactor: use `typescript-crypto` in address & message services
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/app/lib/mainsail/address.service.ts
  src/app/lib/mainsail/coin.contract.ts
  src/app/lib/mainsail/confirmed-transaction.dto.ts
  src/app/lib/mainsail/ledger.service.ts
  src/app/lib/mainsail/message.service.ts
  src/app/lib/mainsail/public-key.service.ts
  src/app/lib/mainsail/transaction.service.ts
Labels: refactor

#1153 fix: remove comma from navbar
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.blocks.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: bugfix

#1143 refactor: add 2nd signature icon
  src/app/assets/svg/index.ts
  src/app/assets/svg/second-signature.svg
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
Labels: refactor

#1154 refactor: show "to contract" in tx table for username transactions
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/utils.ts
Labels: refactor

#1144 refactor: add shadow on side panel when scrollable
  src/app/components/SidePanel/SidePanel.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.test.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.tsx
  tailwind.config.js
Labels: refactor

#1137 refactor: handle upper limit gas
  package.json
  pnpm-lock.yaml
  src/app/hooks/use-validation.test.tsx
  src/app/i18n/common/i18n.ts
  src/domains/transaction/validations/Common.ts
  vitest.setup.ts
Labels: refactor

#1152 refactor: send transfer using `typescript-crypto`
  src/app/lib/mainsail/signed-transaction.dto.ts
  src/app/lib/mainsail/transaction.service.ts
  src/app/lib/sdk/signed-transaction.dto.contract.ts
  src/app/lib/sdk/signed-transaction.dto.ts
Labels: refactor

#1160 refactor: improve username validation
  src/app/hooks/use-validation.test.tsx
  src/domains/transaction/validations/UsernameRegistration.ts
Labels: refactor

#1156 fix: handle abort errors on unique name validation
  src/domains/transaction/validations/UsernameRegistration.ts
Labels: bugfix

#1159 fix: handle contract deployments in transactions table
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionAddresses.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/hooks/use-transaction-types.test.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
  src/domains/transaction/i18n.ts
Labels: bugfix

#1155 refactor: refresh wallet in every n seconds
  src/app/hooks/use-profile-synchronizer.ts
  src/app/services/Cache.ts
  src/domains/transaction/hooks/use-profile-transactions.ts
Labels: refactor

#1164 fix: transaction details
  src/app/lib/mainsail/confirmed-transaction.dto.ts
  src/app/lib/mainsail/signed-transaction.dto.ts
  src/domains/transaction/validations/Common.ts
Labels: bugfix

#1165 refactor: adjust DTOs to match Mainsail
  src/app/lib/mainsail/confirmed-transaction.dto.ts
  src/app/lib/mainsail/crypto/enums.ts
  src/app/lib/mainsail/fee.service.ts
  src/app/lib/mainsail/signed-transaction.dto.ts
  src/app/lib/sdk/confirmed-transaction.dto.contract.ts
  src/app/lib/sdk/confirmed-transaction.dto.ts
  src/app/lib/sdk/fee.contract.ts
  src/app/lib/sdk/signed-transaction.dto.contract.ts
  src/app/lib/sdk/signed-transaction.dto.ts
  src/domains/transaction/components/FeeField/FeeField.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ReviewStep.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendValidatorResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendValidatorResignation/SendValidatorResignation.tsx
  src/domains/transaction/utils.ts
Labels: refactor

#1166 refactor: sign transactions using ledger
  package.json
  pnpm-lock.yaml
  src/app/lib/mainsail/ledger.service.ts
  src/app/lib/mainsail/signed-transaction.dto.ts
  src/app/lib/mainsail/transaction.service.ts
  src/app/lib/sdk/ledger.contract.ts
  src/app/lib/sdk/ledger.service.ts
Labels: refactor

#1171 fix: handle back button in verify page
  src/domains/message/pages/VerifyMessage/VerifyMessage.test.tsx
  src/domains/message/pages/VerifyMessage/VerifyMessage.tsx
Labels: bugfix

#1170 fix: import address encryption tooltip
  src/domains/portfolio/components/ImportWallet/ImportDetailStep.tsx
  src/domains/wallet/components/WalletEncryptionBanner.tsx/WalletEncryptionBanner.tsx
Labels: bugfix

#1173 fix: wallet encryption disappear
  src/domains/wallet/components/WalletEncryptionBanner.tsx/WalletEncryptionBanner.tsx
Labels: bugfix

#1179 refactor: adjust transaction api attributes
  src/app/components/Notifications/NotificationTransactionItem.tsx
  src/app/components/Notifications/NotificationTransactionItemMobile.tsx
  src/app/components/Notifications/hooks/use-notifications.ts
  src/app/lib/mainsail/confirmed-transaction.dto.ts
  src/app/lib/mainsail/crypto/interfaces/transactions.ts
  src/app/lib/mainsail/signed-transaction.dto.ts
  src/app/lib/mainsail/transaction.service.ts
  src/app/lib/profiles/notification.transactions.service.ts
  src/app/lib/profiles/signed-transaction.dto.ts
  src/app/lib/profiles/transaction.dto.ts
  src/app/lib/profiles/wallet-transaction.service.ts
  src/app/lib/sdk/confirmed-transaction.dto.contract.ts
  src/app/lib/sdk/confirmed-transaction.dto.ts
  src/app/lib/sdk/signed-transaction.dto.contract.ts
  src/app/lib/sdk/signed-transaction.dto.ts
  src/app/lib/sdk/transactions.collection.ts
  src/app/lib/sdk/unspent-transaction.dto.ts
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/SentStep.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.tsx
  src/domains/transaction/components/TransactionDetail/TransactionId/TransactionId.tsx
  src/domains/transaction/components/TransactionDetail/TransactionSummary/TransactionSummary.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionExportModal/utils/transaction-csv-formatter.factory.ts
  src/domains/transaction/components/TransactionExportModal/utils/transaction-exporter.factory.ts
  src/domains/transaction/components/TransactionExportModal/utils/transaction-to-csv-converter.ts
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowId.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipient.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
  src/domains/transaction/hooks/use-multisignature-registration.ts
  src/domains/transaction/hooks/use-multisignature-status.ts
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/hooks/use-transaction-recipients.ts
  src/domains/transaction/hooks/use-transaction-voting-wallets.ts
  src/domains/transaction/utils.ts
Labels: refactor

#1178 refactor: remove remaining musig logic
  src/app/hooks/use-fees.ts
  src/app/hooks/use-validation.ts
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipantItem.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipantItem.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipantItem.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/index.ts
  src/domains/transaction/components/TransactionDetail/MusigGeneratedAddress/MusigGeneratedAddress.test.tsx
  src/domains/transaction/components/TransactionDetail/MusigGeneratedAddress/MusigGeneratedAddress.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/validations/MultiSignatureRegistration.ts
  src/domains/transaction/validations/index.ts
  src/utils/e2e-utils.ts
Labels: refactor

#1182 fix: block height shown as nan
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.tsx
  src/domains/transaction/hooks/use-block-height.ts
Labels: bugfix

#1183 refactor: move `@ardenthq/sdk-markets` internally
  package.json
  pnpm-lock.yaml
  src/app/lib/markets/contracts/historical.ts
  src/app/lib/markets/contracts/index.ts
  src/app/lib/markets/contracts/market.ts
  src/app/lib/markets/contracts/tracker.ts
  src/app/lib/markets/drivers/coincap/index.ts
  src/app/lib/markets/drivers/coincap/transformers/historical-price-transformer.ts
  src/app/lib/markets/drivers/coincap/transformers/market-transformer.ts
  src/app/lib/markets/drivers/coincap/utils.ts
  src/app/lib/markets/drivers/coingecko/index.ts
  src/app/lib/markets/drivers/coingecko/transformers/historical-price-transformer.ts
  src/app/lib/markets/drivers/coingecko/transformers/historical-volume-transformer.ts
  src/app/lib/markets/drivers/coingecko/transformers/market-transformer.ts
  src/app/lib/markets/drivers/cryptocompare/index.ts
  src/app/lib/markets/drivers/cryptocompare/transformers/historical-price-transformer.ts
  src/app/lib/markets/drivers/cryptocompare/transformers/historical-volume-transformer.ts
  src/app/lib/markets/drivers/cryptocompare/transformers/market-transformer.ts
  src/app/lib/markets/index.ts
  src/app/lib/profiles/exchange-rate.service.ts
Labels: refactor

#1175 refactor: implement timezone for datetime class
  src/app/lib/intl/datetime.ts
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.tsx
Labels: refactor

#1184 refactor: adjust transaction sending
  package.json
  pnpm-lock.yaml
  src/app/lib/mainsail/client.service.ts
  src/app/lib/mainsail/coin.provider.ts
  src/app/lib/mainsail/signed-transaction.dto.ts
  src/app/lib/mainsail/transaction.service.ts
  src/app/lib/profiles/signed-transaction.dto.ts
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.tsx
  src/utils/peers.ts
Labels: refactor

#1190 fix: sign message button hover state
  src/domains/message/pages/SignMessage/SignMessage.tsx
Labels: bugfix

#1185 fix: transaction fetching params
  src/app/lib/mainsail/client.service.ts
  src/app/lib/profiles/transaction-index.ts
  src/app/lib/profiles/transaction.aggregate.contract.ts
  src/app/lib/profiles/transaction.aggregate.ts
  src/app/lib/profiles/transaction.collection.ts
  src/app/lib/profiles/wallet-transaction.service.ts
  src/app/lib/sdk/client.contract.ts
  src/app/lib/sdk/helpers.ts
  src/domains/transaction/components/TransactionExportModal/utils/transaction-exporter.factory.ts
  src/domains/transaction/hooks/use-profile-transactions.ts
Labels: bugfix

#1168 fix: increase gas limit for multipayments
  src/domains/transaction/components/FeeField/FeeField.tsx
Labels: bugfix

#1181 refactor: make Vault work with next Mainsail release
  package.json
  pnpm-lock.yaml
  src/app/components/Notifications/NotificationTransactionItem.tsx
  src/app/components/Notifications/NotificationTransactionItemMobile.tsx
  src/app/components/Notifications/hooks/use-notifications.ts
  src/app/lib/mainsail/client.service.ts
  src/app/lib/mainsail/coin.provider.ts
  src/app/lib/mainsail/confirmed-transaction.dto.ts
  src/app/lib/mainsail/crypto/interfaces/transactions.ts
  src/app/lib/mainsail/signed-transaction.dto.ts
  src/app/lib/mainsail/transaction.service.ts
  src/app/lib/profiles/notification.transactions.service.ts
  src/app/lib/profiles/signed-transaction.dto.ts
  src/app/lib/profiles/transaction-index.ts
  src/app/lib/profiles/transaction.aggregate.contract.ts
  src/app/lib/profiles/transaction.aggregate.ts
  src/app/lib/profiles/transaction.collection.ts
  src/app/lib/profiles/transaction.dto.ts
  src/app/lib/profiles/wallet-transaction.service.ts
  src/app/lib/sdk/client.contract.ts
  src/app/lib/sdk/confirmed-transaction.dto.contract.ts
  src/app/lib/sdk/confirmed-transaction.dto.ts
  src/app/lib/sdk/helpers.ts
  src/app/lib/sdk/signed-transaction.dto.contract.ts
  src/app/lib/sdk/signed-transaction.dto.ts
  src/app/lib/sdk/transactions.collection.ts
  src/app/lib/sdk/unspent-transaction.dto.ts
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.tsx
  src/domains/message/pages/SignMessage/SignMessage.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetails/TransactionDetails.tsx
  src/domains/transaction/components/TransactionDetail/TransactionId/TransactionId.tsx
  src/domains/transaction/components/TransactionDetail/TransactionSummary/TransactionSummary.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionExportModal/utils/transaction-csv-formatter.factory.ts
  src/domains/transaction/components/TransactionExportModal/utils/transaction-exporter.factory.ts
  src/domains/transaction/components/TransactionExportModal/utils/transaction-to-csv-converter.ts
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRowMobile.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAddressing.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowId.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipient.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
  src/domains/transaction/hooks/use-block-height.ts
  src/domains/transaction/hooks/use-multisignature-status.ts
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/hooks/use-transaction-recipients.ts
  src/domains/transaction/hooks/use-transaction-voting-wallets.ts
  src/domains/transaction/utils.ts
  src/domains/transaction/validations/Common.ts
  src/utils/peers.ts
Labels: refactor

#1176 refactor: adjust custom servers to support 3 endpoints
  src/app/i18n/common/i18n.ts
  src/app/lib/profiles/host.repository.contract.ts
  src/app/lib/profiles/host.repository.ts
  src/app/lib/sdk/helpers.ts
  src/app/lib/sdk/network.models.ts
  src/domains/setting/hooks/use-handle-servers.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Servers/Servers.contracts.ts
  src/domains/setting/pages/Servers/Servers.tsx
  src/domains/setting/pages/Servers/blocks/CustomPeers.tsx
  src/domains/setting/pages/Servers/blocks/ServerFormModal.tsx
  src/domains/setting/pages/Servers/hooks/use-hosts.ts
  src/domains/setting/pages/Servers/hooks/use-server-status.ts
  src/domains/setting/validations/Server.ts
  src/utils/peers.ts
  src/utils/server-utils.ts
Labels: refactor

#1188 refactor: integrate `typescript-client`
  package.json
  pnpm-lock.yaml
  src/app/lib/mainsail/client.service.ts
  src/app/lib/mainsail/coin.provider.ts
  src/app/lib/mainsail/fee.service.ts
  src/app/lib/mainsail/index.ts
  src/app/lib/mainsail/request.ts
Labels: refactor

#1195 refactor: reset sidepanel consumer state after unmounted
  src/app/components/SidePanel/ResetWhenUnmounted.tsx
  src/app/components/SidePanel/SidePanel.tsx
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/portfolio/pages/Portfolio/Portfolio.tsx
  src/domains/vote/pages/Votes/Votes.tsx
Labels: refactor

#1189 refactor: rename delegates to validators
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-search-parameters-validation.tsx
  src/app/lib/mainsail/client.service.ts
  src/app/lib/mainsail/crypto/interfaces/transactions.ts
  src/app/lib/mainsail/crypto/managers/config.ts
  src/app/lib/mainsail/networks/mainsail.devnet.ts
  src/app/lib/mainsail/networks/mainsail.mainnet.ts
  src/app/lib/mainsail/networks/shared.ts
  src/app/lib/profiles/container.models.ts
  src/app/lib/profiles/contracts.ts
  src/app/lib/profiles/delegate.service.ts
  src/app/lib/profiles/driver.ts
  src/app/lib/profiles/environment.ts
  src/app/lib/profiles/read-only-wallet.contract.ts
  src/app/lib/profiles/read-only-wallet.ts
  src/app/lib/profiles/registration.aggregate.contract.ts
  src/app/lib/profiles/registration.aggregate.ts
  src/app/lib/profiles/validator-syncer.service.ts
  src/app/lib/profiles/validator.service.contract.ts
  src/app/lib/profiles/validator.service.ts
  src/app/lib/profiles/vote-registry.ts
  src/app/lib/profiles/wallet.enum.ts
  src/app/lib/sdk/client.contract.ts
  src/app/lib/sdk/client.service.ts
  src/app/lib/sdk/enums.ts
  src/app/lib/sdk/network.models.ts
  src/app/lib/sdk/network.ts
  src/app/lib/sdk/wallet.dto.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
  src/domains/transaction/hooks/use-transaction-voting-wallets.ts
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorRow/ValidatorRow.tsx
  src/domains/vote/components/ValidatorsTable/ValidatorsTable.tsx
  src/domains/vote/hooks/use-validators.ts
  src/domains/vote/hooks/use-vote-query-parameters.ts
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/wallet/hooks/use-wallet-sync.ts
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.blocks.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.contracts.ts
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
Labels: refactor

#1191 refactor: set single address view as default
  src/domains/dashboard/pages/Dashboard/Dashboard.contracts.ts
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.blocks.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/portfolio/hooks/use-address-panel.ts
  src/domains/portfolio/hooks/use-portfolio.ts
Labels: refactor

#1197 fix: missing property error when sending a transaction
  src/app/lib/mainsail/networks/mainsail.mainnet.ts
Labels: bugfix

#1192 refactor: use sdk cryptography package
  package.json
  pnpm-lock.yaml
  src/app/App.restore.test.tsx
  src/app/components/Address/AddressLink.tsx
  src/app/lib/mainsail/crypto/identities/keys.ts
  src/app/lib/mainsail/crypto/identities/wif.ts
  src/app/lib/mainsail/ledger.service.ts
  src/app/lib/profiles/authenticator.ts
  src/app/lib/profiles/contact-address.repository.ts
  src/app/lib/profiles/contact.repository.ts
  src/app/lib/profiles/exchange-transaction.repository.ts
  src/app/lib/profiles/notification.repository.ts
  src/app/lib/profiles/profile.encrypter.ts
  src/app/lib/profiles/profile.exporter.ts
  src/app/lib/profiles/profile.factory.ts
  src/app/lib/profiles/profile.importer.ts
  src/app/lib/profiles/profile.repository.ts
  src/app/lib/profiles/wallet.factory.ts
  src/app/lib/profiles/wallet.mutator.ts
  src/app/lib/profiles/wif.ts
  src/domains/exchange/hooks/use-order-status.ts
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.test.tsx
  src/domains/portfolio/components/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerScanStep.tsx
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionId/TransactionId.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowId.tsx
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Authentication.ts
  src/utils/test-helpers.ts
  vite.config.ts
Labels: refactor
