Repository ArdentHQ/arkvault, pull requests merged in 2025-08, with the labels that each got.

#1425 fix: show full address on portfolio header on lg
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
Labels: bugfix

#1414 fix: use radios for addresses panel entries in mobile
  src/domains/portfolio/components/AddressesSidePanel/AddressRow.tsx
  src/domains/portfolio/components/AddressesSidePanel/MobileAddressRow.tsx
Labels: bugfix

#1431 feat: use block time estimates on fees
  src/domains/transaction/components/FeeField/__snapshots__/FeeField.test.tsx.snap
  src/domains/transaction/components/InputFee/InputFee.contracts.ts
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/InputFee/blocks/InputFeeAdvanced.tsx
  src/domains/transaction/components/InputFee/blocks/InputFeeSimple.tsx
  src/domains/transaction/components/InputFee/use-confirmation-times.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/__snapshots__/ValidatorRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.Fees.test.tsx
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
Labels: feature

#1391 fix: enable e2e tests for message domain on firefox
  .github/workflows/e2e.yml
  src/domains/message/cucumber/verify-message.ts
Labels: bugfix

#1406 refactor: use global state from network instance
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-fees.ts
  src/app/hooks/use-validation.test.tsx
  src/app/lib/mainsail/config.manager.test.ts
  src/app/lib/mainsail/config.manager.ts
  src/app/lib/mainsail/config.repository.ts
  src/app/lib/mainsail/config.test.ts
  src/app/lib/mainsail/config.ts
  src/app/lib/mainsail/index.ts
  src/app/lib/mainsail/ledger.service.ts
  src/app/lib/mainsail/network.test.ts
  src/app/lib/mainsail/network.ts
  src/app/lib/mainsail/transaction.service.ts
  src/app/lib/profiles/local.storage.test.ts
  src/app/lib/profiles/memory.storage.test.ts
  src/app/lib/profiles/profile.ts
  src/app/lib/profiles/serializers.test.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/blocks/InputFeeAdvanced.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.test.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/ValidatorRegistrationForm.tsx
  src/domains/transaction/components/ValidatorRegistrationForm/hooks/useValidatorRegistrationLockedFee.ts
  src/domains/transaction/validations/Common.ts
Labels: refactor

#1438 fix: delete address buttons in addresses side panel
  src/domains/portfolio/components/AddressesSidePanel/DeleteAddressMessage.tsx
Labels: bugfix

#1434 fix: improve table filtering
  src/app/lib/mainsail/client.service.ts
  src/app/lib/mainsail/network.models.ts
  src/app/lib/mainsail/networks/mainsail.devnet.test.ts
  src/app/lib/mainsail/networks/mainsail.mainnet.test.ts
  src/app/lib/mainsail/networks/shared.ts
  src/domains/transaction/components/FilterTransactions/FilterTransactions.test.tsx
  src/domains/transaction/hooks/use-transaction-types.test.tsx
Labels: bugfix

#1442 chore: remove json profile import option
  .github/workflows/test.yml
  src/app/components/SelectFile/SelectFile.tsx
  src/app/components/SelectFile/__snapshots__/SelectFile.test.tsx.snap
  src/domains/profile/hooks/use-profile-import.test.tsx
  src/domains/profile/hooks/use-profile-import.ts
  src/domains/profile/i18n.ts
  src/domains/profile/pages/ImportProfile/ImportProfile.test.tsx
  src/domains/profile/pages/ImportProfile/ProcessingImportStep.test.tsx
  src/domains/profile/pages/ImportProfile/SelectFileStep.test.tsx
  src/domains/profile/pages/ImportProfile/SelectFileStep.tsx
  src/tests/fixtures/profile/import/d2_test_wallets-empty.json
  src/tests/fixtures/profile/import/d2_test_wallets.json
  src/tests/fixtures/profile/import/legacy-profile.json
Labels: chore

#1443 test: fix flaky tests in profile & message domains
  src/domains/message/pages/VerifyMessage/VerifyMessage.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
Labels: test

#1390 refactor: sidepanel back click
  src/app/components/SidePanel/SidePanel.tsx
  src/domains/message/components/SignMessage/SignMessageSidePanel.tsx
  src/domains/portfolio/components/CreateWallet/CreateAddressSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/ImportAddressSidePanel.tsx
Labels: refactor

#1439 fix: link component semantic error
  .github/workflows/test.yml
  src/app/components/Link/Link.test.tsx
  src/app/components/Link/Link.tsx
  src/app/components/Link/__snapshots__/Link.test.tsx.snap
  src/app/components/ProfileSyncStatusMessage/__snapshots__/ProfileSyncStatusMessage.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
Labels: bugfix

#1403 feat: mainsail profile migration for wallets
  src/app/lib/profiles/contracts.ts
  src/app/lib/profiles/profile.importer.ts
  src/app/lib/profiles/profile.mainsail-migrator.contract.ts
  src/app/lib/profiles/profile.mainsail-migrator.test.ts
  src/app/lib/profiles/profile.mainsail-migrator.ts
Labels: feature

#1446 refactor: add vote button tooltip when balance is 0
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRowMobile.test.tsx.snap
  src/domains/vote/i18n.ts
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Labels: refactor

#1453 fix: image shake on Ledger connection step
  src/domains/transaction/components/AuthenticationStep/Ledger/ListenLedger.tsx
  src/domains/transaction/components/AuthenticationStep/Ledger/__snapshots__/ListenLedger.test.tsx.snap
Labels: bugfix

#1454 fix: import ledger dim images
  src/domains/wallet/images/auth-ledger-device-dim.svg
  src/domains/wallet/images/index.ts
Labels: bugfix

#1457 refactor: show multiple (1) for single multipayment recipient
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionAddresses.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionAddresses.tsx
  src/domains/transaction/components/TransactionDetail/TransactionAddresses/TransactionRecipient.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/pages/SendTransfer/LedgerReview.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
Labels: refactor

#1458 refactor: add disabled due to insufficient balance tooltip
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRowMobile.tsx
  src/domains/vote/i18n.ts
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
Labels: refactor

#1460 refactor: add top offset on wallet name edit modal on mobile
  src/app/components/Modal/Modal.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
Labels: refactor

#1450 refactor: cache notifications
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/hooks/use-notifications.test.tsx
  src/app/components/Notifications/hooks/use-notifications.ts
  src/app/lib/profiles/notification.repository.contract.ts
  src/app/lib/profiles/notification.transactions.service.ts
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/message/pages/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Servers/__snapshots__/Servers.test.tsx.snap
  src/domains/transaction/pages/SendValidatorResignation/__snapshots__/SendValidatorResignation.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Labels: refactor

#1408 feat: mainsail profile migration for contacts
  .env.example
  src/app/lib/profiles/profile.importer.ts
  src/app/lib/profiles/profile.mainsail-migrator.test.ts
  src/app/lib/profiles/profile.mainsail-migrator.ts
  src/app/lib/profiles/profile.repository.ts
Labels: feature

#1466 refactor: support notifications for multiple addresses
  src/app/hooks/use-profile-background-jobs.ts
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/lib/profiles/notification.transactions.service.ts
Labels: refactor

#1428 refactor: improve multi to single view
  src/domains/portfolio/components/AddressesSidePanel/AddressesSidePanel.tsx
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/portfolio/hooks/use-address-panel.ts
Labels: refactor

#1412 feat: mainsail profile migration for settings
  src/app/lib/profiles/profile.mainsail-migrator.test.ts
  src/app/lib/profiles/profile.mainsail-migrator.ts
Labels: feature

#1469 fix: wallet alias consistency
  src/app/hooks/use-search-wallet.test.tsx
  src/app/hooks/use-search-wallet.tsx
  src/domains/transaction/components/SearchRecipient/SearchRecipient.test.tsx
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
Labels: bugfix

#1470 fix: transactions table UI adjustments
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowId.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.helpers.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: bugfix

#1474 fix: transaction sending with ledger address
  src/app/contexts/Ledger/hooks/connection.ts
  src/app/lib/mainsail/ledger.service.ts
  src/domains/exchange/components/SendExchangeTransfer/SendExchangeTransfer.tsx
  src/domains/message/components/SignMessage/SignMessageSidePanel.tsx
  src/domains/portfolio/components/ImportWallet/Ledger/LedgerConnectionStep.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Labels: bugfix

#1462 refactor: move transfer flow to sidepanel
  .github/workflows/test.yml
  src/app/components/Address/Address.tsx
  src/app/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/Modal/Modal.tsx
  src/app/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/app/components/QRModal/QRModal.tsx
  src/app/components/QRModal/__snapshots__/QRModal.test.tsx.snap
  src/app/components/SelectDropdown/SelectDropdown.contracts.ts
  src/app/components/SelectDropdown/SelectDropdownItem.tsx
  src/app/components/SidePanel/SidePanel.tsx
  src/app/components/TruncateMiddleDynamic/TruncateMiddleDynamic.contracts.ts
  src/app/components/TruncateMiddleDynamic/TruncateMiddleDynamic.tsx
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/DeleteExchangeTransaction/__snapshots__/DeleteExchangeTransaction.test.tsx.snap
  src/domains/exchange/components/ExchangeForm/__snapshots__/ExchangeForm.test.tsx.snap
  src/domains/portfolio/components/PortfolioHeader/PortfolioHeader.tsx
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/ResetProfile/__snapshots__/ResetProfile.test.tsx.snap
  src/domains/profile/components/SelectAddressDropdown/SelectAddressDropdown.tsx
  src/domains/profile/components/SelectAddressDropdown/__snapshots__/SelectAddressDropdown.test.tsx.snap
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/components/WelcomeModal/__snapshots__/WelcomeModal.test.tsx.snap
  src/domains/setting/components/DevelopmentNetwork/__snapshots__/DevelopmentNetwork.test.tsx.snap
  src/domains/setting/components/PasswordRemovalConfirmModal/__snapshots__/PasswordRemovalConfirmModal.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/SendTransferSidePanel/SendTransferSidePanel.test.tsx
  src/domains/transaction/components/SendTransferSidePanel/SendTransferSidePanel.tsx
  src/domains/transaction/components/TransactionDetailSidePanel/TransactionDetailSidePanel.tsx
  src/domains/transaction/components/TransactionExportModal/__snapshots__/TransactionExportModal.test.tsx.snap
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/components/TransactionSuccessful/hooks/useConfirmedTransaction.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.Fees.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.MultiPayment.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/hooks/use-wallet-actions.ts
  src/styles/base.css
Labels: refactor

#1475 chore: make mnemonic input hint open by default
  src/domains/portfolio/components/ImportWallet/ImportDetailStep.tsx
Labels: chore

#1480 chore: limit node version
  package.json
Labels: chore

#1483 fix: hide subtitle when ledger address sending tx
  src/domains/transaction/components/SendTransferSidePanel/SendTransferSidePanel.tsx
Labels: bugfix

#1472 test: transfer side panel test coverage
  .github/workflows/test.yml
  src/domains/transaction/components/RecipientList/RecipientList.test.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/SendTransferSidePanel/SendTransferSidePanel.Fees.test.tsx
  src/domains/transaction/components/SendTransferSidePanel/SendTransferSidePanel.MultiPayment.test.tsx
  src/domains/transaction/components/SendTransferSidePanel/SendTransferSidePanel.QRCode.test.tsx
  src/domains/transaction/components/SendTransferSidePanel/SendTransferSidePanel.test.tsx
Labels: test

#1473 refactor: tooltip for method label in transaction row
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionAmount.blocks.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionBlocks.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Labels: refactor

#1486 test: send vote side panel test coverage
  .github/workflows/test.yml
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.Combined.test.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.Encryption.test.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.Keyboard.test.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.test.tsx
  src/domains/transaction/components/SendVoteSidePanel/SendVoteSidePanel.tsx
  src/domains/transaction/components/SendVoteSidePanel/__snapshots__/SendVoteSidePanel.test.tsx.snap
Labels: test
